<section id="schedule">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
        <div class="section-title-letter white-text">S</div>
        <div class="section-title-letter white-text">C</div>
        <div class="section-title-letter white-text">H</div>
        <div class="section-title-letter white-text">E</div>
        <div class="section-title-letter white-text">D</div>
        <div class="section-title-letter white-text">U</div>
        <div class="section-title-letter white-text">L</div>
        <div class="section-title-letter white-text">E</div>
      </div>
    </div>
  </div>
  <app-schedule-view></app-schedule-view>
</section>
<section id="updates">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
        <div class="section-title-letter white-text">L</div>
        <div class="section-title-letter white-text">I</div>
        <div class="section-title-letter white-text">V</div>
        <div class="section-title-letter white-text">E</div>
      </div>
      <div class="section-title-word">
        <div class="section-title-letter white-text">U</div>
        <div class="section-title-letter white-text">P</div>
        <div class="section-title-letter white-text">D</div>
        <div class="section-title-letter white-text">A</div>
        <div class="section-title-letter white-text">T</div>
        <div class="section-title-letter white-text">E</div>
        <div class="section-title-letter white-text">S</div>
      </div>
    </div>
  </div>
  <app-live-update></app-live-update>
</section>
