#hackpsu-logo {
    margin-top: 10px;
    max-width: 30%;
    margin-bottom: 10px;
}

#countdown {
    display: inline-block;
    font-size: 2em;
    font-family: 'Cornerstone', 'Lato', sans-serif;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.submit-btn {
    width: 30%;
    height: 40px;
    font-size: 20;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0);
    color: #FFF;
    border: 2px solid white;
    border-right-width: 8px;
    border-left-width: 8px;
    border-radius: 12px;
  }
  
.btn {
    width: 35%;
}
  
.submit-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #333333;
}

th {
    vertical-align:middle;
    text-align:center;
}

td {
    vertical-align:top;
}

.leader {
    border-radius:50%;
    height:10vh;
    margin-right:3vh;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title-word {
  display: inline-block;
  white-space: nowrap;
  padding-right: 1.5%;
}

.section-title-letter {
  display: inline-block;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  font-size: 2.5em;
}

.workshop-level {
    text-align:center;
    font-size:1.3em;
    margin-bottom:50px;
    font-weight:bold;
}

.workshop-title {
    font-weight:bold;
    margin-bottom:10px;
    font-size:1.5vw;
}

.workshop {
    padding:1vw;
    padding-left:2vw;
}

.indented {
    margin-left:7vw;
}

.left {
    margin-right:7vw;
}

.centered {
    display:flex;
    justify-content:center;
    align-items:center;
}

.flexed {
    display:flex;
    flex:1 0 auto;
}

.beginner {
    display:inline-block;
    background:#6FA7B3;
}
.intermediate {
    background:#194E6B;
}
.advanced {
    background:#103147;
}

.workshop-info {
    float:right;
    background-color:transparent;
    padding:0;
    box-shadow:none;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
    background-color: #194E6B;
    color: white;
}

.info-title {
    font-size: large;
    color: white;
}

#info a:hover {
    color: #103147;
}

#info > .active > a:hover {
    color: white;
}

#info a:active {
    background-color: #255a8f;
    color: white;
}

#info li .active {
    background-color: #255a8f;
    color: white
}

.color2 {
    background:#6FA7B3;
}

.color1 {
    background:#194E6B;
}
