.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title-word {
  display: inline-block;
  white-space: nowrap;
  padding-right: 1.5%;
}

.section-title-letter {
  display: inline-block;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  font-size: 2.5em;
}
