<section id="home">
	<div class="row center">
		<img src="assets/images/logo-optimized.svg" id="hackpsu-logo" class="animated rubberBand"
    alt="hackpsulogo">
	</div>
	<div class="row center">
		<ul>
			<li id="countdown"><span id="hours"></span>Hours</li>
			<li id="countdown"><span id="minutes"></span>Minutes</li>
			<li id="countdown"><span id="seconds"></span>Seconds</li>
		</ul>
	</div>
	<div class="row">
		<div class="center">
			<div class="col-md-12 col-sm-12">
				<a class="btn waves-effect waves-light submit-btn" href="#">Slack</a>
			</div>
		</div>
	</div>
	<div class="page-header"></div>
</section>
<section id="schedule">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
        <div class="section-title-letter white-text">S</div>
        <div class="section-title-letter white-text">C</div>
        <div class="section-title-letter white-text">H</div>
        <div class="section-title-letter white-text">E</div>
        <div class="section-title-letter white-text">D</div>
        <div class="section-title-letter white-text">U</div>
        <div class="section-title-letter white-text">L</div>
        <div class="section-title-letter white-text">E</div>
      </div>
    </div>
  </div>
  <app-schedule-view></app-schedule-view>
</section>
<section id="updates">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
        <div class="section-title-letter white-text">L</div>
        <div class="section-title-letter white-text">I</div>
        <div class="section-title-letter white-text">V</div>
        <div class="section-title-letter white-text">E</div>
      </div>
      <div class="section-title-word">
        <div class="section-title-letter white-text">U</div>
        <div class="section-title-letter white-text">P</div>
        <div class="section-title-letter white-text">D</div>
        <div class="section-title-letter white-text">A</div>
        <div class="section-title-letter white-text">T</div>
        <div class="section-title-letter white-text">E</div>
        <div class="section-title-letter white-text">S</div>
      </div>
    </div>
  </div>
  <app-live-update></app-live-update>
</section>
<section id="workshops">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
	<div class="section-title-letter white-text">W</div>
	<div class="section-title-letter white-text">O</div>
	<div class="section-title-letter white-text">R</div>
	<div class="section-title-letter white-text">K</div>
	<div class="section-title-letter white-text">S</div>
	<div class="section-title-letter white-text">H</div>
	<div class="section-title-letter white-text">O</div>
	<div class="section-title-letter white-text">P</div>
	<div class="section-title-letter white-text">S</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="workshop-level">BEGINNER</div>
      <div class="workshop">
	<p class="workshop-title">Hello World: Welcome to Python</p>
	<p style="font-weight:bold">Garrett Sullivan</p>
	<p class="left">New to programming? Never programmed before? That's
	  ok! This Introduction to Python Workshop is designed
	  for those who have either minimal programming experience
	  or none at all. We will be using the popular programming
	  language, Python, to introduce hackers to the art of
	  making their own basic program. If you want to learn
	  how to code, stop by this workshop to see how fun and
	  easy it can be!</p>
      </div>
      <div class="workshop indented">
	<p class="workshop-title">Introduction to UNIX</p>
	<p style="font-weight:bold">Eric Pauley</p>
	<p>In this Introduction to UNIX workshop, we
	  will be discussing virtual machines and their real world
	  appliations. Hackers will be guided in everything from
	  setting up their own virtual machines, to the basics
	  of Linux, and to important terminal commands. At the
	  end of this workshop, participants will be able to make
	  the most of their newly setup virtual machines!</p>
      </div>
      <div class="workshop">
	<p class="workshop-title">Introduction to HTML/CSS</p>
	<p style="font-weight:bold;">Ryan O'Neill</p>
	<p class="left">Hi there hacker! New to coding? Little or
	  no experience? That's ok! For those of you interested
	  in learning about coding in HTML with CSS, then you'll
	  definitely want to stop by our Introduction to
	  HTML/CSS Workshop. We'll be going over the basics of
	  HTML and CSS while helping hackers create their own
	  "Hello, World" program!</p>
      </div>
      <div class="workshop indented">
	<p class="workshop-title">Databases</p>
	<p style="font-weight:bold;">Chanpreet Singh</p>
	<p>Our Databases Workshop will give you the chance to
	  learn about the basics of databases in SQL. In this
	  workshop, you will be able to learn to create and
	  maintain databases, write SQL queries, and understand
	  the applications of databases.</p>
      </div>
      <div class="workshop">
	<p class="workshop-title">Interview Prep</p>
	<p style="font-weight:bold;">B McElroy</p>
	<p class="left">This Interview Prep Workshop hosted by
	  Google will focus on getting our hackers ready for an
	  interview! We'll be going over how to prepare your
	  resume, things that companies look for, how to
	  approach an interview, and the differences between a
	  co-op, internship, and a full-time interview.</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="workshop-level">INTERMEDIATE</div>
      <div class="workshop">
	<p class="workshop-title">Hardware Prototyping</p>
	<p style="font-weight:bold;">David McDermott</p>
	<p class="left">Our Hardware Prototyping Workshop is
	  definitely not to be missed! Learn everything from
	  how to download a basic program onto a Raspberry
	  Pi Board, to the many applications it can be used for.
	  This workshop is very hands on, so come prepared to
	  learn! Hardware will be provided.</p>
      </div>
      <div class="workshop indented">
	<p class="workshop-title">Cybersecurity</p>
	<p style="font-weight:bold;">Trent Jaeger</p>
	<p>There are many different types of attacks that exploid
	  your network vulnerabilities. Being aware of these
	  threats and knowing how to prevent/stop them is an
	  invaluable resource to companies and small businesses
	  alike. Stop by our Cybersecurity Workshop for a basic
	  overview on network security and to gain some valuable
	  skills in being proactive about attacks.</p>
      </div>
      <div class="workshop">
	<p class="workshop-title">Web Development</p>
	<p style="font-weight:bold;">Angela Chan</p>
	<p class="left">Our Web Development Workshop will take the
	  brief overview of the basics of HTML from our previous
	  workshop and expand them to do incredible things. If you
	  want to find out how to design your website and use
	  JavaScript to make a stunning webpage, definitely
	  pay a visit!</p>
      </div>
      <div class="workshop indented">
	<p class="workshop-title">Virtual Reality</p>
	<p style="font-weight:bold;">Adlan Ramly</p>
	<p>Come see the members of our Penn State VR Club delve
	  into the possibilities of VR technology at our Virtual
	  Reality Workshop! Starting with a discussion on the
	  development of a VR application, this workshop will talk
	  about the tools and software you need to learn, practice,
	  and implement your own Virtual Reality projects!</p>
      </div>
      <div class="workshop">
	<p class="workshop-title">App Development/Swift</p>
	<p style="font-weight:bold;">Zach from Apple</p>
	<p class="left">Interested in making your own mobile app?
	  Stop by our App Development Workshop hosted by Apple to
	  gain the basic skills and tools you'll need to begin
	  coding, designing, and implementing your own app with
	  Swift! Whatever your idea may be, this workshop will be
	  a great place to learn the basics and help you get
	  started!</p>
      </div>
      <div class="workshop indented">
	<p class="workshop-title">Introduction to Cloud Computing</p>
	<p style="font-weight:bold;">Pranav Jain</p>
	<p>This workshop will be the beginning of a two-part workshop. In
	  this Introduction to Cloud Computing Workshop, hackers will be
	  taught how to write backend systems using Node JS. Additionally,
	  they will be writing REST APIs and learning how to use them to
	  store and retrieve information. This is a unified presentation
	  with the Cloud Computing Workshop, that focuses on backend
	  systems and continuous integration.</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="workshop-level">ADVANCED</div>
      <div class="workshop">
	<p class="workshop-title">Cryptocurrency</p>
	<p style="font-weight:bold;">Alex Patin</p>
	<p class="left">You've probably heard of Bitcoins and
	  Ripple, but what really are they? Come to our
	  Cryptocurrency Workshop if you are interested in
	  learning more about the basics of cryptocurrencies
	  and blockchain technology. This workshop will give
	  a discussion about what a cryptocurrency really is,
	  how they were developed, and why they're important.</p>
      </div>
      <div class="workshop indented">
	<p class="workshop-title">Cloud Computing</p>
      </div>
      <div class="workshop">
	<p class="workshop-title">Machine Learning</p>
	<p style="font-weight:bold;">Yuya Ong</p>
	<p class="left">What really is the difference between
	  AI and machine learning? Come to our Machine Learning
	  Workshop to find out more about Machine Learning. In this
	  workshop, you will learn how computers can utilize
	  pattern recognition and predict based off of
	  computational statistics to "learn", improve
	  performance, and solve specific tasks by being fed
	  data instead of explicit programming!</p>
      </div>
      <div class="workshop indented">
	<p class="workshop-title">How to Take Your Project to Market!</p>
	<p style="font-weight:bold;">Nick Jacobson</p>
	<p>Stop by our Taking Your Project to Market Workshop to
	  see the developers of Mood Triggers, an app that was
	  started here at Penn State and is currently used by
	  over 44,000 people. The members of the Mood Triggers
	  team will be talking about the trials and tribulations
	  of taking your product from prototype to distribution!
	</p>
      </div>
    </div>
  </div>

  <table align="center">
    <tr>
      <th>Beginner</th>
      <th>Intermediate</th>
      <th>Advanced</th>
    </tr>
    <tr>
      <td class="col-xs-4" style="margin-right:7vw;">
	<p class="workshop-title">Hello World: Welcome to Python</p>
	<p style="font-weight:bold;">Garrett Sullivan</p>
	<p style="margin-right:7vw;">
	  New to programming? Never programmed before? That's ok! This
	  Introduction to Python Workshop is designed for those who have
	  either minimal programming experience or none at all. We will be
	  using the popular programming language, Python, to introduce hackers
	  to the art of making their own basic program. If you want to learn
	  how to code, stop by this workshop to see how fun and easy it can
	  be!
	</p>
      </td>
      <td class="col-xs-4" style="margin-right:7vw;">
	<p class="workshop-title">App Development/Swift</p>
	<p style="font-weight:bold;">Zach from Apple</p>
	<p style="margin-right:7vw;">
	  Interested in making your own mobile app? Stop by our App
	  Development Workshop hosted by Apple to gain the basic skills and
	  tools you'll need to begin coding, designing, and implementing your
	  own app with Swift! Whatever your idea may be, this workshop will
	  be a great place to learn the basics and help get you started!
	</p>
      </td>
      <td class="col-xs-4" style="margin-right:7vw;">
	<p class="workshop-title">How to Take Your Product to Market!</p>
	<p style="font-weight:bold;">Nick Jacobson</p>
	<p style="margin-right:7vw;">
	  Stop by our Taking Your Product to Market Workshop to see the
	  developrs of Mood Triggers, an app that was started here at Penn
	  State and is currently used by over 44,000 people. The members of
	  the Mood Triggers team will be talking about the trials and
	  tribulations of taking your product from prototype to distribution!
	</p>
      </td>
    </tr>
  </table>
  
  <br/><br/>
  
  <div class="row centered">
    <div class="card beginner col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">Hello World: Welcome to Python</div>
	<div style="font-weight:bold;">Garrett Sullivan</div>
      </div>
    </div>
    <div class="col-xs-7 card workshop-info">
      <div class="card-content">
	<p>New to programming? Never programmed before? That's ok! This
	  Introduction to Python Workshop is designed for those who have
	  either minimal programming experience or none at all. We will be
	  using the popular programming language, Python, to introduce
	  hackers to the art of making their own basic program. If you
	  want to learn how to code, stop by this workshop to see how
	  fun and easy it can be!
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card indented beginner col-xs-4">
      <div class="card-content">
	<div class="workshop-title">Introduction to UNIX</div>
	<div style="font-weight:bold;">Eric Pauley</div>
      </div>
    </div>
    <div class="col-xs-7 card workshop-info">
      <div class="card-content">
	<p>In this Introduction to Unix Workshop we will be discussing
	  virtual machines and their real world applications. Hackers
	  will be guided in everything from setting up their own virtual
	  machines, to the basics of Linux, and to important terminal
	  commands. At the end of this workshop, participants will be able
	  to make the most of their newly set up virtual machines!</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card beginner col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">Introduction to HTML/CSS</div>
	<div style="font-weight:bold;">Ryan O'Neill</div>
      </div>
    </div>
    <div class="col-xs-7 card workshop-info">
      <div class="card-content">
	<p>Hi there hacker! New to coding? Little or no experience? That's
	  ok! For those of you interested in learning about coding in
	  HTML with CSS, then you'll definitely want to stop by our
	  Introduction to HTML/CSS Workshop! We'll be going over the
	  basics of HTML and CSS while helping hackers create their own
	  "Hello, World" program!</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card beginner indented col-xs-4">
      <div class="card-content">
	<div class="workshop-title">Databases</div>
	<div style="font-weight:bold;">Chanpreet Singh</div>
      </div>
    </div>
    <div class="col-xs-7 card workshop-info">
      <div class="card-content">
	<p>Our Databases Workshop will give you the chance to learn about
	  the basics of databses in SQL. In this workshop, you will be able
	  to learn to create and maintain databses, write SQL queries,
	  and understand the applications of databases</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card beginner col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">Interview Prep</div>
	<div style="font-weight:bold;">B McElroy</div>
      </div>
    </div>
    <div class="col-xs-7 card workshop-info">
      <div class="card-content">
	<p>This Interview Prep Workshop hosted by Google will focus on
	  getting our hackers ready for an interview! We'll be going over
	  how to prepare your resume, things that companies look for, how
	  to approach an interview, and the differences between a co-op,
	  internship, and full-time interview.</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card intermediate indented col-xs-4">
      <div class="card-content">
	<div class="workshop-title">Hardware Prototyping</div>
	<div style="font-weight:bold;">David McDermott</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>Our Hardware Prototyping Workshop is definitely not to be missed!
	  Learn everything from how to download a basic program onto a
	  Raspberry Pi Board, to the many applications it can be used for.
	  This workshop is very hands on, so come prepared to learn!
	  Hardware will be provided.</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card intermediate col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">Cybersecurity</div>
	<div style="font-weight:bold;">Trent Jaeger</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>There are many different types of attacks that exploit your
	  network vulnerabilities. Being aware of these threats and knowing
	  how to prevent/stop them is an invaluable resource to companies
	  and small businesses alike. Stop by our Cybersecurity Workshop for
	  a basic overview on network security and to gain some valuable
	  skills in being proactive about attacks.</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card intermediate indented col-xs-4">
      <div class="card-content">
	<div class="workshop-title">Virtual Reality</div>
	<div style="font-weight:bold;">Adlan Ramly</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>Come see the members of our Penn State VR Club delve into the
	  possibilities of VR technology at our Virtual Reality Workshop!
	  Starting with a discussion on the development of a VR application,
	  this workshop will talk about the tools and software you need to
	  learn, practice, and implement your own Virtual Reality projects!
	</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card intermediate col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">App Development/Swift</div>
	<div style="font-weight:bold;">Zach from Apple</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>Interested in making your own mobile app? Stop by our App
	  Development Workshop hosted by Apple to gain the basic skills and
	  tools you'll need to begin coding, designing, and implementing
	  your own app with Swift! Whatever your idea may be, this workshop
	  will be a great place to learn the basics and help get you
	  started!</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card intermediate indented col-xs-4">
      <div class="card-content">
	<div class="workshop-title">Web Development</div>
	<div style="font-weight:bold;">Angela Chan</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>Our Web Development Workshop will take the brief overview of the
	  basics of HTML from our previous workshop and expand them to do
	  incredible things. If you want to find out how to design your
	  website and use JavaScript to make a stunning webpage, definitely
	  pay a visit!</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card intermediate col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">Introduction to Cloud Computing</div>
	<div style="font-weight:bold;">Pranav Jain</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>This workshop will be the beginning of a two-part workshop. In
	  this Introduction to Cloud Computing Workshop, hackers will be
	  taught how to write backend systems using NodeJS. Additionally,
	  they will be writing REST APIs and learning how to use them to
	  store and retreive information. This is a unified presentation
	  with the Cloud Computing Workshop, that focuses on backend
	  systems and continuous integration.</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card advanced indented col-xs-4">
      <div class="card-content">
	<div class="workshop-title">Cryptocurrency</div>
	<div style="font-weight:bold;">Alex Patin</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>You've probably heard of Bitcoins and Ripple, but what really
	  are they? Come to our Cryptocurrency Workshop if you are
	  interested in learning more about the basics of cryptocurrencies
	  and blockchain technology. This workshop will give a discussion
	  about what a cryptocurrency really is, how they were developed,
	  and why they're important.</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card advanced col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">Cloud Computing</div>
	<div style="font-weight:bold;">Sushrut Shringarputale</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p></p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card advanced col-xs-4 indented">
      <div class="card-content">
	<div class="workshop-title">Machine Learning</div>
	<div style="font-weight:bold;">Yuya Ong</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>What really is the difference between AI and machine learning?
	  Come to our Machine Learning Workshop to find out more about
	  machine learning. In this workshop, you will learn how computers
	  can utilize pattern recognition and predict based off of
	  computational statistics to "learn", improve performance, and
	  solve specific tasks by being fed data instead of explicit
	  programming!</p>
      </div>
    </div>
  </div>
  <div class="row centered">
    <div class="card advanced col-xs-4" style="margin-right:7vw;">
      <div class="card-content">
	<div class="workshop-title">How to Take Your Project to Market!</div>
	<div style="font-weight:bold;">Nick Jacobson</div>
      </div>
    </div>
    <div class="card col-xs-7 workshop-info">
      <div class="card-content">
	<p>Stop by our Taking Your Product to Market Workshop to see the
	  developers of Mood Triggers, an app that was started here at
	  Penn State and is currently used by over 44,000 people. The members
	  of the Mood Triggers team will be talking about the trials and
	  tribulations of taking your product from prototype to distribution!
	</p>
      </div>
    </div>
  </div>
</section>
<section id="info">
	<div class="row section-title-container">
		<div class="col-xs-6 section-title col-xs-offset-3">
			<div class="section-title-word">
				<div class="section-title-letter white-text">I</div>
				<div class="section-title-letter white-text">N</div>
				<div class="section-title-letter white-text">F</div>
				<div class="section-title-letter white-text">O</div>
			</div>
		</div>
	</div>
	<div class="container-fluid more-padding">
		<div class="row" role="navigation">
			<ul class="nav nav-tabs nav-justified">
				<li role="presentation" class="active"><a data-toggle="tab" href="#map" class="info-title">MAP</a></li>
				<li role="presentation"><a data-toggle="tab" href="#rules" class="info-title">RULES</a></li>
				<li role="presentation"><a data-toggle="tab" href="#hardware" class="info-title">HARDWARE</a></li>
				<li role="presentation"><a data-toggle="tab" href="#judging" class="info-title">JUDGING CRITERIA</a></li>
				<li role="presentation"><a data-toggle="tab" href="#prizes" class="info-title">PRIZES</a></li>
				<li role="presentation"><a data-toggle="tab" href="#submission" class="info-title">SUBMISSION</a></li>
			</ul>
			<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="map">
				
			</div>
			<div role="tabpanel" class="tab-pane fade in" id="rules">
				<div class="card intermediate col-xs-8 col-xs-offset-2">
					<ul class="info-list">
						<br />
						<li> All participants must be older than 18, and must bring a valid form of identification.</li>
						<li> Participants must abide by the expectations set in the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>, or you will be asked to leave the event.</li>
						<li> Teams may be comprised of up to five members.</li>
						<li> Projects should be original works created on site. Coming with an idea in mind is perfectly fine, working on an existing project is not.</li>
						<li> All submissions must be recieved through DevPost by 2:00PM on Sunday.</li>
						<li> Students are permitted to come and go from the venue as they please.</li>
						<li> Anything you create is your work, HackPSU and its partners have no claim over intellectual property produced at the event.</li>
					</ul>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade in table-responsive" id="hardware">
				<div class="card intermediate col-xs-8 col-xs-offset-2">
					<h5>Request to Borrow</h5>
						<ul class="info-list">
							<br />
							<li>Alienware</li>
							<li>Amazon Echo</li>
							<li>Amazon Fire Phone</li>
							<li>Arduino 101</li>
							<li>Base Shield</li>
							<li>Dell XPS 13 (Windows)</li>
							<li>DragonBoard 410c</li>
							<li>Leap Motion</li>
							<li>Muse Headband</li>
							<li>Myo Armband</li>
							<li>Oculus Rift</li>
							<li>Samsung Gear VR</li>
						</ul>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade in table-responsive" id="judging">
				<table class="table table-striped">
					<tbody class="color1">
						<th class="col-xs-4">HackPSU General Judging Criteria</th>
						<th class="col-xs-8" style="text-align: left">Creativity and Originality<br />
								- Is the solution novel, original and not-obvious?<br />
								- How different is the design from current solutions?<br />
								- Does it approach the problem from an unusual or different perspective?<br />
								- How creative is the problem statement?<br />
								- Does the solution address a problem which is novel, original and not-obvious?<br /><br />
								Technical Skills<br />
								- Was the solution technically challenging? (Taking into account team size and measured relative to competition)<br />
								- How intricate was the solution?<br />
								- Did the solution pose a challenge to the group?<br /><br />
								Implementation<br />
								- Was the solution effective in addressing the problem?<br />
								- Was the solution easy to operate for the target demographic? (user friendliness)<br />
								- Is the solution needlessly complex?<br />
								- Overall, is the solution viable in addressing the problem statement?<br /><br />
								Clarity<br />
								- Was the team able to convey their ideas in a way understandable to the audience?<br />
								- Were the topics accessible to the audience?<br />
								- Were all obscure acronyms or jargon explained?<br /><br />
								Knowledge<br />
								- How effectively did the team handle questions?<br />
								- Did the team demonstrate knowledge of the subject matter?
						</th>
					</tbody>
					<tbody class="color2">
						<th class="col-xs-4">Google Cloud Platform Judging Criteria</th>
						<th class="col-xs-8" style="text-align:left">The best use of Google Cloud Platform's compute, data, storage, or machine learning APIs.</th>
					</tbody>
					<tbody class="color1">
						<th class="col-xs-4">GSK Judging Criteria</th>
						<th class="col-xs-8" style="text-align:left">The product meets deliverables, is creative, and has high clarity. We encourage you to be creative with what already exists, such as in-phone technology, but we still want your idea to be out of the box. Ideal responses will be user-friendly, and explore ways to encourage adherence to the program.</th>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane fade in table-responsive" id="prizes">
				<table class="table table-striped">
					<thead class="card advanced"> <th class="col-xs-2"> TITLE</th><th class="col-xs-3">PRIZE</th><th class="col-xs-3">DESCRIPTION</th><th class="col-xs-3">REQUIREMENTS</th><th class="col-xs-2">SPONSOR</th></thead>
					<tbody class="color1">
						<th class="col-xs-2">Google Cloud Platform API</th>
						<th class="col-xs-3">4 Google Home Minis and 4 Chromecasts</th>
						<th class="col-xs-3" style="text-align: left">The best use of Google Cloud Platform</th>
						<th class="col-xs-3"></th>
						<th class="col-xs-2">Google Cloud Platform</th>
					</tbody>
					<tbody class="color2">
						<th class="col-xs-2">GSK Sleep Tracker Solution</th>
						<th class="col-xs-3">First Place: $1,600</th>
						<th class="col-xs-3" style="text-align: left">We are seeking a simple solution to monitor sleep and wakefulness. This could be a mobile 
																app that uses the microphone in one’s phone to record patterns and/ or monitor sleep and breathing, 
																or by taking a completely different approach to tracking sleep that doesn’t require a phone. Other 
																alternative solutions could involve targeting less tech-savvy patients who might be more included to 
																use something other than a smartphone.<br /><br />

																Our goal is to measure all aspects of sleep quality e.g. duration, periods of wakefulness, hours, times 
																waking, episodes of sleepiness during the day, coughing, breathlessness, wheezing etc.<br /><br />
																
																Click <a href="https://www.mindsumo.com/contests/sleep-track?permit=273be6882140df4d&utm_campaign=challenge_preview&utm_medium=website&utm_source=mindsumo&utm_term=url">here</a> for more information.</th>
						<th class="col-xs-3"></th>
						<th class="col-xs-2">GSK</th>
					</tbody>
					<tbody class="color1">
						<th class="col-xs-2">Placeholder</th>
						<th class="col-xs-3">Placeholder</th>
						<th class="col-xs-3" style="text-align: left">Placeholder</th>
						<th class="col-xs-3">Placeholder</th>
						<th class="col-xs-2">Placeholder</th>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane fade in" id="submission">
				<div class="card intermediate col-xs-8 col-xs-offset-2">
					<ol class="info-list">
						<br />
						<li>Create a <a href="https://github.com">GitHub Account </a>if you don't already have one. </li>
						<li>Go to our<a href="https://hackpsu-spring2017.devpost.com">Devpost Event</a>.</li>
						<li>Login using your GitHub Account.</li>
						<li>Create A GIT Repository for your project. Need help? Check out <a href="http://product.hubspot.com/blog/git-and-github-tutorial-for-beginners"> THIS ARTICLE. </a></li>
						<li>Add your project on Devpot and tell us what you've built. Add the URL for your GIT Repository and submit!</li>
					</ol>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>