:host .card {
  -webkit-transition: translate 0.1s;
  -moz-transition: translate 0.1s;
  -ms-transition: translate 0.1s;
  -o-transition: translate 0.1s;
  transition: translate 0.1s;
}

.registration-form {
  padding-top:17vh;
  margin: 0px auto;
  display: block;
  color: #333333;
  font-size: large;
}


@media screen and (max-width: 768px){
  .registration-form {
    width: 100vw;
  }

}

@media screen and (max-width: 600px){
  .card {
    width: 80vw;
    margin:0px auto;
  }
}

.prev-container {
  display: block;
}

.prev-container a {
  position: fixed;
  left: 49%;
  top: 10%;
  color: #ffffff;
}

.prev-container span:before {
  font-family: 'Glyphicons Halflings', serif;
  content: "\e089";
  margin: 5px;
}

svg {
  position: absolute;
  left:50%;
}

.next-container {
  position: fixed;
  z-index: 0;
  left: 49%;
  bottom: 5%;
}

.next-container a {
  color: #ffffff;
}


.next-container span:before {
  content: "\25cf";
  margin-right: 10px;
}

.input-field label {
  color: #333333;
}

.card {
  transition: transform;
  background-color: white;
  color: #101010;
}

.card .card-action a:not(.btn-large):not(.btn-floating) {
  color: #ffffff;
  margin-left: 20%;
}

.card label {
  color: #333333;
}
.card .form-group label {
  margin: 2%;
}

.scrollspy-container {
  margin-top: 15%;
  position: fixed;
  right: 5%;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid #133753;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #133753;
}

[type="radio"][_ngcontent-c2]:checked + label[_ngcontent-c2]:after, [type="radio"].with-gap[_ngcontent-c2]:checked + label[_ngcontent-c2]:before, [type="radio"].with-gap[_ngcontent-c2]:checked + label[_ngcontent-c2]:after {
  border: 2px solid #133753;
}

input::placeholder {
  color: #333333;
}

.table-of-contents a {
  color: #ffffff;
}

.table-of-contents a:hover {
  border-left: 1px solid #aacacc;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  color: #E5704C;
  border: 2px solid #E5704C;
  border-right-width: 8px;
  border-left-width: 8px;
  border-radius: 12px;
}

.btn:hover {
  background-color: #E5704C;
  color: white;
}

.btn-flat {
  background-color: transparent;
}

.switch {
  margin: 15% auto;
  width: 50%;
}

.switch label {
  margin-left: 15%;
  font-size: large;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #6C88B7;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #133753;
}

.card h3, .card h5 {
  margin-bottom: 40px;
}

.small-text {
  font-size: small;
}

@media screen and (max-width: 768px) {
  .small-text {
    font-size: x-small;
  }
}

@media screen and (max-width: 992px) {
  .switch label {
    margin-left: 0;
    font-size: small;
  }
}

.submit-btn {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 2px solid white;
  border-right-width: 8px;
  border-left-width: 8px;
  border-radius: 12px;
}


