<!--<div class="prev-container">-->
<!--<a id="prev-link">-->
<!--<span class="previous-number" (change)="onChanged($event)">{{currentIdx-1}}</span>-->
<!--</a>-->
<!--</div>-->
<!--<svg width="10" height="100%" style="position: fixed; left: 50%; top: 10%">-->
<!--<line x1="50%" y1="6%" x2="50%" y2="1000%" stroke="#C94331"></line>-->
<div class="row">
  <form class="registration-form col m5 offset-m3 offset-l3 l5"
        (ngSubmit)="registrationModel.form.valid ? onSubmit() : onError()"
        name="registrationFormDOM"
        #registrationModel="ngForm"
  >
    <div class="row" *ngIf="!registrationModel.form.valid && form.submitted">
      <div class="card">
        <div class="card-content">
          <p class="data-error">There are errors in your form. Please validate that all required fields have been filled
            out</p>
        </div>
      </div>
    </div>
    <!-- First Name -->
    <div class="row scrollspy" id="name-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>What is your name?</h5>
          <div class="input-field">
            <input name="firstName"
                   id="firstname-input"
                   class="validate required"
                   required
                   [(ngModel)]="registrationForm.firstName"
                   #firstName="ngModel"
                   autocomplete="name"
                   type="text"
            >
            <label for="firstname-input" data-error="First name is required">Enter your First Name</label>
          </div>
          <div class="input-field">
            <input name="lastName"
                   class="validate required"
                   id="lastname-input"
                   required
                   [(ngModel)]="registrationForm.lastName"
                   autocomplete="family-name"
                   #name="ngModel"
                   type="text"
            >
            <label for="lastname-input" data-error="Last name is required">Enter your Last Name</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="row scrollspy" materialize="scrollSpy" id="email-container">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>What is your school email?</h5>
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email"
                   class="validate"
                   name="email"
                   id="email-input"
                   required
                   autocomplete="email"
                   placeholder="student@university.edu"
                   [(ngModel)]="registrationForm.email"
            >
            <label for="email-input" data-error="Valid email is required">Enter your email</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Gender -->
    <div class="row scrollspy" id="gender-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="gender">What is your gender?</h5>
          <div class="form-group required" id="gender-input" data-error="Gender is required">
            <input type="radio" class="with-gap" name="gender" required value="male" id="male"
                   [(ngModel)]="registrationForm.gender"
                   #genderControl="ngModel"
            >
            <label for="male">Male</label><br>
            <input type="radio" class="with-gap" name="gender" required value="female" id="female"
                   [(ngModel)]="registrationForm.gender"
            >
            <label for="female">Female</label><br>
            <input type="radio" class="with-gap" name="gender" required value="non-binary" id="non-binary"
                   [(ngModel)]="registrationForm.gender"
            >
            <label for="non-binary">Non-Binary</label><br>
            <input type="radio" class="with-gap" name="gender" required value="no-disclose" id="option4"
                   [(ngModel)]="registrationForm.gender"
            >
            <label for="option4">Prefer not to disclose</label><br>
            <label class="data-error" *ngIf="!genderControl.valid">Required</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Age -->
    <div class="row scrollspy" materialize="scrollSpy" id="age-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="age">Will you be 18 before April 7, 2018?</h5>
          <!-- Switch -->
          <div class="switch">
            <label>
              No
              <input type="checkbox" name="eighteenBeforeEvent" [(ngModel)]="registrationForm.eighteenBeforeEvent">
              <span class="lever"></span>
              Yes
            </label>
          </div>
          <div *ngIf="!registrationForm.eighteenBeforeEvent">
            <p class="alert danger">
              You must be 18 to attend. If you are under 18, and still wish to attend, contact us at <a
              href="mailto://team@hackpsu.org">team@hackpsu.org</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Shirt Size -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" [@enterAnimation] class="row scrollspy" materialize="scrollSpy"
         id="shirt-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="shirt-size">What is your shirt size?</h5>
          <div class="form-group required">
            <input type="radio" class="with-gap" id="xsmall" required name="shirtSize" value="XS"
                   #shirtControl="ngModel"
                   [(ngModel)]="registrationForm.shirtSize">
            <label for="xsmall">X-Small</label><br>
            <input type="radio" class="with-gap" id="small" required name="shirtSize" value="S"
                   [(ngModel)]="registrationForm.shirtSize">
            <label for="small">Small</label><br>
            <input type="radio" class="with-gap" id="medium" required name="shirtSize" value="M"
                   [(ngModel)]="registrationForm.shirtSize">
            <label for="medium">Medium</label><br>
            <input type="radio" class="with-gap" id="large" required name="shirtSize" value="L"
                   [(ngModel)]="registrationForm.shirtSize">
            <label for="large">Large</label><br>
            <input type="radio" class="with-gap" id="xlarge" required name="shirtSize" value="XL"
                   [(ngModel)]="registrationForm.shirtSize">
            <label for="xlarge">X-Large</label><br>
            <input type="radio" class="with-gap" id="xxlarge" required name="shirtSize" value="XXL"
                   [(ngModel)]="registrationForm.shirtSize">
            <label for="xxlarge">XX-Large</label>
          </div>
          <label class="data-error" *ngIf="!shirtControl.valid">Required</label>
        </div>
      </div>
    </div>

    <!-- Dietary Restrictions -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy" id="diet-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="diet">Do you have any dietary restrictions or allergies?</h5>
          <!-- Switch -->
          <div class="switch" style="margin-top: 10px; margin-bottom: 10px;">
            <label>
              No
              <input type="checkbox" name="diet_restr" [(ngModel)]="diet_restr">
              <span class="lever"></span>
              Yes
            </label>
          </div>
          <div class="form-group" *ngIf="diet_restr">
            <input type="radio" class="with-gap" id="vegetarian" required name="dietaryRestriction" value="vegetarian"
                   (change)="dietaryRestriction($event)">
            <!--#dietControl="ngModel"-->

            <label for="vegetarian">Vegetarian</label><br>
            <input type="radio" class="with-gap" id="vegan" required name="dietaryRestriction" value="vegan"
                   (change)="dietaryRestriction($event)"
            >
            <label for="vegan">Vegan</label><br>
            <input type="radio" class="with-gap" id="kosher" required name="dietaryRestriction" value="kosher"
                   (change)="dietaryRestriction($event)"
            >
            <label for="kosher">Kosher</label><br>
            <input type="radio" class="with-gap" id="halal" required name="dietaryRestriction" value="halal"
                   (change)="dietaryRestriction($event)"
            >
            <label for="halal">Halal</label><br>
            <input type="radio" class="with-gap" id="gluten-free" required name="dietaryRestriction"
                   value="gluten-free"
                   (change)="dietaryRestriction($event)"
            >
            <label for="gluten-free">Gluten Free</label><br>
            <input type="radio" class="with-gap" id="other" required name="dietaryRestriction" value="other"
                   (change)="dietaryRestriction($event)"
            >
            <label for="other">Other</label><br>
          </div>
          <div *ngIf="otherDietRestr" [@enterAnimation] class="input-field">
            <input name="dietary_restrictions"
                   id="other-diet-restr"
                   class="validate"
                   [(ngModel)]="registrationForm.dietaryRestriction"
                   autocomplete="name"
                   type="text"
            >
            <label for="other-diet-restr">Describe them</label>
          </div>
        </div>
      </div>
    </div>
    <!-- Allergies -->
    <div *ngIf="registrationForm.eighteenBeforeEvent && diet_restr" [@enterAnimation] class="row">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="travel">If you have allergies, describe them here.</h5>
          <input name="allergies"
                 id="allergy-input"
                 class="validate"
                 [(ngModel)]="registrationForm.allergies"
                 type="text"
          >
          <label for="allergy-input">Describe them</label>
        </div>
      </div>
    </div>

    <!-- Travel Reimbursement -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy"
         id="travel-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="travel">Will you need travel reimbursement?</h5>
          <!-- Switch -->
          <div class="switch">
            <label>
              No
              <input type="checkbox" name="travel_reimbursement" [(ngModel)]="registrationForm.travelReimbursement">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- # of hackathons attended -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5 class="attended">Is this your first hackathon?</h5>
          <!-- Switch -->
          <div class="switch">
            <label>
              No
              <input type="checkbox" name="firstHackathon" [(ngModel)]="registrationForm.firstHackathon">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- School -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy"
         id="university-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="school">What university do you attend?</h5>
          <div class="input-field">
            <label for="autocomplete-input-university">Name of university</label>
            <input type="text" name="university" [(ngModel)]="registrationForm.university"
                   id="autocomplete-input-university"
                   materialize="autocomplete"
                   [materializeParams]="univAutoCompInit">
          </div>
        </div>
      </div>
    </div>

    <!-- Academic Year -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy" id="year-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="year">Academic Year</h5>
          <div class="form-group">
            <input type="radio" class="with-gap" id="freshman" name="academic_year" value="freshman"
                   [(ngModel)]="registrationForm.academicYear">
            <label for="freshman">Freshman</label><br>
            <input type="radio" class="with-gap" id="sophomore" name="academic_year" value="sophomore"
                   [(ngModel)]="registrationForm.academicYear">
            <label for="sophomore">Sophomore</label><br>
            <input type="radio" class="with-gap" id="junior" name="academic_year" value="junior"
                   [(ngModel)]="registrationForm.academicYear">
            <label for="junior">Junior</label><br>
            <input type="radio" class="with-gap" id="senior" name="academic_year" value="senior"
                   [(ngModel)]="registrationForm.academicYear">
            <label for="senior">Senior</label><br>
            <input type="radio" class="with-gap" id="graduate" name="academic_year" value="graduate"
                   [(ngModel)]="registrationForm.academicYear">
            <label for="graduate">Graduate</label><br>
            <input type="radio" class="with-gap" id="other_year" name="academic_year" value="other"
                   [(ngModel)]="registrationForm.academicYear">
            <label for="other_year">Other</label><br>
          </div>
        </div>
      </div>
    </div>

    <!-- Phone Number -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy"
         id="phone-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="phone">What is your phone number? (Required for MLH)</h5>
          <p class="alert">Rest assured we won't be spamming your phone.</p>
          <div class="input-field">
            <input type="tel" autocomplete="tel-national" id="phone-input" [value]='prettifiedPhone'
                   required
                   (keyup)="parsePhone($event.target.value)" class="validate required"
                   pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
            <label for="phone-input" data-error="Valid phone number is required">Enter your phone number</label>
          </div>
        </div>
      </div>
    </div>


    <!-- Major -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy"
         id="major-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="major">What is your (intended) major?</h5>
          <div class="input-field">
            <input type="text" name="major" [(ngModel)]="registrationForm.major"
                   id="autocomplete-input-major"
                   required
                   class="validate required"
                   materialize="autocomplete"
                   [materializeParams]="majAutoCompInit">
            <label for="autocomplete-input-major" data-error="Major is required">Enter your major</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Resume -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy"
         id="resume-container">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5 class="resume">Submit your resume</h5>
          <p class="alert">This field is completely optional. You may submit your resume if you want us to share it
            with employers at HackPSU.</p>
          <div class="file-field input-field row">
            <div class="btn col s6 offset-s3">
              <span>Select file to upload</span>
              <input type="file" name="resume" (change)="fileAdded($event)" accept="application/pdf">
            </div>
            <div class="file-path-wrapper col s12">
              <input class="file-path validate" type="text" placeholder="Upload a pdf file">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MLH Code of Conduct -->
    <div *ngIf="registrationForm.eighteenBeforeEvent" class="row scrollspy" materialize="scrollSpy" id="mlh-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="mlh-coc">Do you agree to MLH Code of Conduct?</h5>
          <p class="small-text"> MLH Code of Conduct: <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf"
                                                         target="_blank">https://static.mlh.io/docs/mlh-code-of-conduct.pdf</a><br>
            *Data Sharing Notice:<br>
            *We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain
            application/registration information for event administration, ranking, MLH administration, pre and
            post-event informational e-mails, and occasional messages about hackathons in line with the MLH Privacy
            Policy.<br>
          <p class="small-text">Note that to participate at HackPSU, you must agree to these policies</p>
          <div class="switch">
            <label>
              No
              <input type="checkbox" name="mlhcoc" [(ngModel)]="registrationForm.mlhcoc"
                     (change)="mlhAgreement($event)">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========DEMOGRAPHICS========== -->

    <!-- Race/Ethnicities -->
    <div *ngIf="registrationForm.eighteenBeforeEvent && registrationForm.mlhcoc" class="row scrollspy"
         materialize="scrollSpy" id="ethnicity-container">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>What is your Race/Ethnicity? (Optional) </h5>
          <div class="form-group">
            <input type="radio" class="with-gap" id="naan" name="ethnicity" value="native-american"
                   (change)="setEthnicity($event)"
                   ([ngModel])="registrationForm.ethnicity">
            <label for="naan">Native American or Alaska Native</label><br>
            <input type="radio" class="with-gap" id="asian" name="ethnicity" value="asian"
                   (change)="setEthnicity($event)"
                   ([ngModel])="registrationForm.ethnicity">
            <label for="asian">Asian</label><br>
            <input type="radio" class="with-gap" id="baa" name="ethnicity" value="african-american"
                   (change)="setEthnicity($event)"
                   ([ngModel])="registrationForm.ethnicity">
            <label for="baa">Black or African American</label><br>
            <input type="radio" class="with-gap" id="hlat" name="ethnicity" value="latinx"
                   (change)="setEthnicity($event)"
                   ([ngModel])="registrationForm.ethnicity">
            <label for="hlat">Hispanic or Latinx</label>
            <input type="radio" class="with-gap" id="nhopi" name="ethnicity" value="pacific-islander"
                   (change)="setEthnicity($event)"
                   ([ngModel])="registrationForm.ethnicity">
            <label for="nhopi">Native Hawaiian or Other Pacific Islander</label>
            <input type="radio" class="with-gap" id="no-disclose" name="ethnicity" value="no-disclose"
                   (change)="setEthnicity($event)"
                   ([ngModel])="registrationForm.ethnicity">
            <label for="no-disclose">Prefer not to disclose</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Coding Experience -->
    <div *ngIf="registrationForm.eighteenBeforeEvent && registrationForm.mlhcoc" class="row scrollspy"
         materialize="scrollSpy" id="experience-container">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="experience">Coding Experience</h5>
          <div class="form-group">
            <input type="radio" class="with-gap" id="none" name="codingExperience" value="none"
                   (change)="setCodingExperience($event)"
                   ([ngModel])="registrationForm.codingExperience">
            <label for="none">None</label><br>
            <input type="radio" class="with-gap" id="beginner" name="codingExperience" value="beginner"
                   (change)="setCodingExperience($event)"
                   ([ngModel])="registrationForm.codingExperience">
            <label for="beginner">Beginner (0-2 years) </label><br>
            <input type="radio" class="with-gap" id="intermediate" name="codingExperience" value="intermediate"
                   (change)="setCodingExperience($event)"
                   ([ngModel])="registrationForm.codingExperience">
            <label for="intermediate">Intermediate (2-4 years)</label><br>
            <input type="radio" class="with-gap" id="advanced" name="codingExperience" value="advanced"
                   (change)="setCodingExperience($event)"
                   ([ngModel])="registrationForm.codingExperience">
            <label for="advanced">Advanced (> 4 years) </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Reference -->
    <div *ngIf="registrationForm.eighteenBeforeEvent && registrationForm.mlhcoc" class="row">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="reference">Where did you hear about hackPSU?</h5>
          <div class="input-field">
            <label for="reference-input"></label>
            <input id="reference-input" name="referral" materialize="autocomplete"
                   [materializeParams]="referralAutoCompInit" [(ngModel)]="registrationForm.referral">
          </div>
        </div>
      </div>
    </div>

    <!-- Accomplishment -->
    <div *ngIf="registrationForm.eighteenBeforeEvent && registrationForm.mlhcoc" class="row">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="accomplish">What is a project you're proud of?</h5>
          <div class="input-field">
            <textarea class="form-control" rows="4" id="accomplish-input" name="accomplishment"
                      [(ngModel)]="registrationForm.projectDesc"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- returns -->
    <div *ngIf="registrationForm.eighteenBeforeEvent && registrationForm.mlhcoc" class="row">
      <div class="card medium darken-1">
        <div class="card-content ">
          <h5 class="accomplish">What would you like to get out of HackPSU?</h5>
          <div class="input-field">
            <textarea class="form-control" rows="4" id="return-input" name="return"
                      [(ngModel)]="registrationForm.expectations"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="registrationForm.eighteenBeforeEvent && registrationForm.mlhcoc" class="center">
      <button *ngIf="!loading; else spinner" class="btn waves-effect waves-light submit-btn" type="submit"
              name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      <ng-template #spinner>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </form>
  <!--<div class="next-container">-->
  <!--<a id="next-link">-->
  <!--<span class="next-number" (change)="onChanged($event)">{{currentIdx+1}}</span>-->
  <!--</a>-->
  <!--</div>-->
  <div class="col hide-on-small-only m2 l2 scrollspy-container">
    <ul class="section table-of-contents">
      <li><a href="#name-container">First Name</a></li>
      <li><a href="#email-container">Email</a></li>
      <li><a href="#gender-container">Gender</a></li>
      <li><a href="#age-container">Age</a></li>
      <li><a href="#shirt-container">Shirt</a></li>
      <li><a href="#diet-container">Dietary Restrictions</a></li>
      <li><a href="#travel-container">Travel Reimbursement</a></li>
      <li><a href="#university-container">University</a></li>
      <li><a href="#year-container">Academic Year</a></li>
      <li><a href="#phone-container">Phone Number</a></li>
      <li><a href="#major-container">Major</a></li>
      <li><a href="#resume-container">Resume</a></li>
      <li><a href="#mlh-container">MLH Code of Conduct</a></li>
      <li><a href="#ethnicity-container">Demographics</a></li>
    </ul>
  </div>
</div>
