<ul materialize="collapsible" class="collapsible" data-collapsible="accordion" class="black-text">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">rate_review</i>
      Extra Credit Registration
      <i class="material-icons right">keyboard_arrow_down</i>
    </div>
    <div class="collapsible-body">
      <!-- Check back soon for Extra Credit! -->
      <div *ngIf="this.activeRegistration; else elseEC">
        <form class="extra-credit-form" (submit)="submitClasses()">
          <ng-container *ngFor="let c of classes">
            <p *ngIf="showClassName(c.class_name)">
              <input type="checkbox" name="{{ c.class_name }}" id="{{ c.class_name }}-checkbox"
                [(ngModel)]="submittedClasses[c.uid]" />
              <label for="{{ c.class_name }}-checkbox">
                <span>{{ c.class_name }}</span>
              </label>
            </p>
          </ng-container>
          <button class="btn waves-effect waves-light submit-btn" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <ng-template #elseEC>Be sure to <a href="/register">register</a> to sign up for extra credit classes!</ng-template>
    </div>
  </li>
  <div *ngIf="this.activeRegistration; else elseQR" class="mt-5">
    <p class="center">Here's your unique QR code! We may ask to scan it during the hackathon. You can also find it in
      our app!</p>
    <qrcode class="center" [qrdata]="'HACKPSU_'+ activeRegistration.wordPin" [width]="300" [errorCorrectionLevel]="'Q'"
      [margin]="'3'">
    </qrcode>
  </div>
  <ng-template #elseQR>Be sure to <a href="/register">register</a> to see your QR code!</ng-template>

  <div class="row center">
    <div class="col-md-6">
      <a href="https://apps.apple.com/app/hackpsu-mobile/id1615222779"
        style="display: inline-block; overflow: hidden"><img
          src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1604620800&h=413f442f188f45f269ac02e9fafd7e0f"
          alt="Download on the App Store" width="180" /></a>
    </div>
    <div class="col-md-6">
      <a href="https://play.google.com/store/apps/details?id=org.hackpsu.prod"><img width="200"
          alt="Get it on Google Play"
          src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" /></a>
    </div>
  </div>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">rate_review</i>
      Update Address
      <i class="material-icons right">keyboard_arrow_down</i>
    </div>
    <div class="collapsible-body">
      <div>
        {{ getAddress() }}
        <a (click)="editAddressToggle()"
          ><i class="material-icons" style="cursor: pointer">edit</i></a
        >
      </div>
      <br />
      <form *ngIf="willUpdateAddressFields" (submit)="submitAddress()" ngNativeValidate>
        <label for="addressLine1"><span>Address Line 1</span></label>
        <input
          type="text"
          name="addressLine1"
          id="addressLine1-box"
          required
          [(ngModel)]="updatedAddressFields.addressLine1"
        />
        <label for="addressLine2"><span>Address Line 2</span></label>
        <input
          type="text"
          name="addressLine2"
          id="addressLine2-box"
          [(ngModel)]="updatedAddressFields.addressLine2"
        />
        <label for="city"><span>City</span></label>
        <input
          type="text"
          name="city"
          id="city-box"
          required
          [(ngModel)]="updatedAddressFields.city"
        />
        <label for="stateProvince"><span>State or Province</span></label>
        <input
          type="text"
          name="stateProvince"
          id="stateProvince-box"
          required
          [(ngModel)]="updatedAddressFields.stateProvince"
        />
        <label for="zipcode"><span>Zipcode</span></label>
        <input
          type="text"
          name="zipcode"
          id="zipcode-box"
          required
          [(ngModel)]="updatedAddressFields.zipcode"
        />
        <label for="country"><span>Country</span></label>
        <input
          type="text"
          name="country"
          id="country"
          required
          [(ngModel)]="updatedAddressFields.country"
        />
        <div class="form-group">
          <input
            type="checkbox"
            id="shareAddressMlh"
            name="shareAddressMlh"
            [(ngModel)]="shareAddressMlh"
          />
          <label for="shareAddressMlh">Share your address with MLH?</label>
          <br />
          <input
            type="checkbox"
            id="shareAddressSponsors"
            name="shareAddressSponsors"
            [(ngModel)]="shareAddressSponsors"
          />
          <label for="shareAddressSponsors">Share your address with our sponsors?</label>
        </div>
        <button class="btn waves-effect waves-light submit-btn" type="submit" name="action">
          Submit
        </button>
      </form>
    </div>
    <p class="center" style="margin-top: 20px">
      Join the <a href="https://discord.gg/9ddE69x3wq">Discord here!</a>
    </p>
  </li>
</ul>