<ul materialize="collapsible" class="collapsible" data-collapsible="accordion" class="black-text">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">rate_review</i>
      Extra Credit Registration
      <i class="material-icons right">keyboard_arrow_down</i>
    </div>
    <div class="collapsible-body">
      <form class="extra-credit-form" (submit)="submitClasses()">
        <ng-container *ngFor="let c of classes">
          <p *ngIf="showClassName(c.class_name)">
          <input type="checkbox" name="{{c.class_name}}" id="{{c.class_name}}-checkbox" [(ngModel)]="submittedClasses[c.uid]">
          <label for="{{c.class_name}}-checkbox">
            <span>{{c.class_name}}</span>
          </label>
        </p>
        </ng-container>
      <button class="btn waves-effect waves-light submit-btn"
              type="submit"
              name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
    </div>
  </li>
  <li>
    <div class="collapsible-header active">
      <i class="material-icons">card_travel</i>
      Business challenge registration
      <i class="material-icons right">keyboard_arrow_down</i>
    </div>
    <div class="collapsible-body">
      <a class="btn waves-effect waves-light submit-btn" (click)="businessChallengeRegister()">Register</a>
    </div>
  </li>
  <!--<h5 style="margin-top: 2em;">Registration history</h5>-->
  <li *ngFor="let registration of registrations;">
    <div class="collapsible-header">
      <i class="material-icons">place</i>{{registration.hackathon.name}}
      <i class="material-icons right">keyboard_arrow_down</i>
    </div>
    <div class="collapsible-body">
        <div class="view-registration">
          <table class="table-responsive centered registration-table">
            <thead>
            <tr>
              <th>Check-in pin</th>
              <ng-container *ngFor="let keyVal of keyVals(registration)">
                <th scope="col"
                    *ngIf="regPropertyNameResolve[keyVal[0]]">{{regPropertyNameResolve[keyVal[0]]}}</th>
              </ng-container>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{registration.pin}}</td>
              <ng-container
                *ngFor="let keyVal of keyVals(registration)">
                <td
                  *ngIf="regPropertyNameResolve[keyVal[0]]">
                  {{keyVal[1]}}
                </td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
</ul>
