.extra-credit-form p {
  margin: 5px;
}

.registration-table {
  white-space: nowrap;
}

.registration-table th {
  padding: 15px 10px;
}

.registration-table td {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  color: #333;
  border: 2px solid #333;
  border-right-width: 8px;
  border-left-width: 8px;
  border-radius: 12px;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}

.switch label input[type='checkbox']:checked + .lever {
  background-color: #6c88b7;
}
.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #133753;
}

@media screen and (max-width: 576px) {
  .btn {
    max-width: 100%;
  }
}
