<ul materialize="collapsible" class="collapsible" data-collapsible="accordion" class="black-text">
  <li>
    <div class="collapsible-header active">
      <i class="material-icons">rate_review</i>
      Extra Credit Registration
    </div>
    <form class="extra-credit-form" (submit)="submitClasses()">
        <p *ngFor="let c of classes">
          <input type="checkbox" name="{{c.class_name}}" id="{{c.class_name}}-checkbox" [(ngModel)]="submittedClasses[c.uid]">
          <label for="{{c.class_name}}-checkbox">
            <span>{{c.class_name}}</span>
          </label>
        </p>
      <button class="btn waves-effect waves-light submit-btn"
              type="submit"
              name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </li>
  <h5 style="margin-top: 2em;">Registration history</h5>
  <li *ngFor="let registration of registrations;">
      <div class="collapsible-header"><i class="material-icons">place</i>{{registration.name}}</div>
      <div class="collapsible-body">
        <div class="view-registration table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <ng-container *ngFor="let keyVal of keyVals(registration)">
                <th scope="col"
                    *ngIf="regPropertyNameResolve[keyVal[0]]">{{regPropertyNameResolve[keyVal[0]]}}</th>
              </ng-container>
            </tr>
            </thead>
            <tbody>
            <tr>
              <ng-container
                *ngFor="let keyVal of keyVals(registration)">
                <td
                  *ngIf="regPropertyNameResolve[keyVal[0]]">
                  {{keyVal[0] === 'pin' ? parseInt(keyVal[1], 10) - parseInt(registration.base_pin, 10) : keyVal[1]}}
                </td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
</ul>
