<div *ngIf="authService.authState | async as user">
  <div class="profile-view valign-wrapper">
    <div class="profile-image-holder">
      <a href="/profile">
        <img class="profile-image circle tooltipped hide-on-small-and-down" data-position="bottom"
             data-delay="50"
             attr.data-tooltip="{{user?.displayName}}"
             [src]="getUserPhotoUrl(user)" alt="user-image"/>
      </a>
    </div>
    <button class="btn btn-flat" (click)="logout()">Logout</button>
  </div>
</div>
