<section id="home">
  <div class="white">
    <a id="mlh-trust-badge" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=white"
      target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg" alt="Major League Hacking 2018 Hackathon Season"
        style="width:100%"></a>
  </div>
  <div class="row center">
    <img src="assets/images/logo-optimized.svg" id="hackpsu-logo" class="animated rubberBand" alt="hackpsulogo">
  </div>
  <div class="row center">
    <div id='countdown-timer' class="row">
      <div id='days' class='unit'>
        <div>{{days}}</div>
        Days
      </div>
      <div id='hours' class='unit'>
        <div>{{hours}}</div>
        Hours
      </div>
      <div id='minutes' class='unit'>
        <div>{{minutes}}</div>
        Minutes
      </div>
      <div id='seconds' class='unit'>
        <div>{{seconds}}</div>
        Seconds
      </div>
      <h3 id='countdown-text'>{{bannerText}}</h3>
    </div>
    <!--<ul>-->
    <!--<li ><span id="hours"></span>Hours</li>-->
    <!--<li id="countdown"><span id="minutes"></span>Minutes</li>-->
    <!--<li id="countdown"><span id="seconds"></span>Seconds</li>-->
    <!--</ul>-->
  </div>
  <div class="row">
    <div class="center">
      <div class="col-md-12 col-sm-12">
        <a class="btn waves-effect waves-light submit-btn" target="_blank" href="https://join.slack.com/t/hackpsuspring2018/signup">Slack</a>
      </div>
    </div>
  </div>
  <div class="page-header"></div>
</section>
<section id="info">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
        <div class="section-title-letter white-text">I</div>
        <div class="section-title-letter white-text">N</div>
        <div class="section-title-letter white-text">F</div>
        <div class="section-title-letter white-text">O</div>
      </div>
    </div>
  </div>
  <div class="container-fluid more-padding">
    <div class="tab" role="navigation">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#map" class="info-title">MAP</a></li>
        <li role="presentation"><a data-toggle="tab" href="#rules" class="info-title">RULES</a></li>
        <li role="presentation"><a data-toggle="tab" href="#hardware" class="info-title">HARDWARE</a></li>
        <li role="presentation"><a data-toggle="tab" href="#prizes" class="info-title">PRIZES</a></li>
        <li role="presentation"><a data-toggle="tab" href="#submission" class="info-title">SUBMISSION</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="map">
          <div class="map-block">
            <img class="materialboxed" src="../../../assets/images/map.png">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="rules">
          <div class="info-card col-xs-12">
            <ol class="info-list">
              <li> All participants must be older than 18, and must bring a valid form of identification.</li>
              <li> Participants must abide by the expectations set in the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf"
                  style="color: #103147">MLH Code of Conduct</a>,
                or you will be asked to leave the event.
              </li>
              <li> Teams may be comprised of up to five members.</li>
              <li> Projects should be original works created on site. Coming with an idea in mind is perfectly fine,
                working on an existing project is not.
              </li>
              <li> All submissions must be recieved through DevPost by 2:00PM on Sunday.</li>
              <li> Students are permitted to come and go from the venue as they please.</li>
              <li> Anything you create is your work, HackPSU and its partners have no claim over intellectual property
                produced at the event.
              </li>
            </ol>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in table-responsive" id="hardware">
          <div class="col-xs-12 row info-card">
            <ol class="info-list">
              <li>2 Alienware Laptop</li>
              <li>8 Amazon Echo</li>
              <li>1 Amazon Fire Phone</li>
              <li>6 Arduino 10</li>
              <li>7 Banner Stands</li>
              <li>6 Base Shield</li>
              <li>1 Clear Table Display w/ Ethical Tech One-Page</li>
              <li>2 Dell XPS 13 Laptop</li>
              <li>6 DragonBoard 410c</li>
              <li>1 Grove Starter Kit</li>
              <li>1 Laminated Hardware Lab Sheet</li>
              <li>5 Leap Motion</li>
              <li>1 LinkSprite 7" Touchscreen Monitor and Keyboard</li>
              <li>1 Intel Starter Kit</li>
              <li>1 Muse Headband</li>
              <li>7 Myo Armband</li>
              <li>6 Oculus Rifts</li>
              <li>4 Pebble Time</li>
              <li>3 Samsung Gear VR</li>
            </ol>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in table-responsive" id="prizes">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
              <div class="card blue-grey lighten-1">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/FB_Event_header.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator">HackPSU Overall Prize<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title activator">HackPSU Overall Prize<i class="material-icons right">close</i></span>
                  <h5>Creativity & Originality</h5>
                  <ol class="info-list">
                    <li>Is the solution novel, original and not-obvious?</li>
                    <li>How different is the design from current solutions?</li>
                    <li>Does it approach the problem from an unusual or different perspective?</li>
                    <li>How creative is the problem statement?</li>
                    <li>Does the solution address a problem which is novel, original and not-obvious?</li>
                  </ol>
                  <h5>Technical Skills</h5>
                  <ol class="info-list">
                    <li>Was the solution technically challenging? (Taking into account team size and measured relative
                      to
                      competition)
                    </li>
                    <li>How intricate was the solution?</li>
                    <li>Did the solution pose a challenge to the group?</li>
                  </ol>
                  <h5>Implementation</h5>
                  <ol class="info-list">
                    <li>Was the solution effective in addressing the problem?</li>
                    <li>Was the solution easy to operate for the target demographic? (user friendliness)</li>
                    <li>Is the solution needlessly complex?</li>
                    <li>Overall, is the solution viable in addressing the problem statement?</li>
                  </ol>
                  <h5>Clarity</h5>
                  <ol class="info-list">
                    <li>Was the team able to convey their ideas in a way understandable to the audience?</li>
                    <li>Were the topics accessible to the audience?</li>
                    <li>Were all obscure acronyms or jargon explained?</li>
                  </ol>
                  <h5>Knowledge</h5>
                  <ol class="info-list">
                    <li>How effectively did the team handle questions?</li>
                    <li>Did the team demonstrate knowledge of the subject matter?</li>
                  </ol>
                  <h5>Prizes:</h5>
                  <h6>$500 Amazon Gift card for 1st place</h6>
                  <h6>$400 Amazon Gift card for 2nd place</h6>
                  <h6>$300 Amazon Gift card for 3rd place</h6>
                  <h6>$500 Amazon Gift card for design prizes</h6>
                  <h6>$100 Amazon Gift card for workshop prizes (3)</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-2 col-xs-10 col-xs-offset-1">
              <div class="card blue-grey lighten-2">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/PSUIT_original.svg" style="width: 50%; left: 25%">
                </div>
                <div class="card-content">
                  <span class="card-title activator">Hack the classroom with Alexa<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title activator">Hack the classroom with Alexa<i class="material-icons right">close</i></span>
                  <p>Hack the classroom by building an Alexa skill that enhances teaching and learning in the
                    classroom.<br /><br />

                    Judging criteria will be the same as HackPSU's general judging criteria
                  </p>
                  <h5>Prizes:</h5>
                  <h6>Amazon Echos (2nd Generation) for 1st place</h6>
                  <h6>Amazon Echo Dots (2nd Generation) for 2nd place</h6>
                  <h6>$25 Amazon gift cards for 3rd place</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
              <div class="card blue-grey lighten-1">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/GeneralMotors.svg">
                </div>
                <div class="card-content">
                  <span class="card-title activator">Autonomous RC Car<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title activator">Autonomous RC Car<i class="material-icons right">close</i></span>
                  <p>General Motors' Vision is Zero Crashes, Zero Emissions, and Zero Congestion.
                    Use the provided RC car, sensors, Arduino, etc to demonstrate autonomous driving
                    and/or driver assistance features for vehicles.</p>
                  <h6>Prize: $100 Lyft credit and an Extech Multimeter Kit</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-2 col-xs-10 col-xs-offset-1">
              <div class="card blue-grey lighten-3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/GoogleCloudPlatform.svg">
                </div>
                <div class="card-content">
                  <span class="card-title activator">Google Cloud Platform Challenge<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title"><i class="material-icons right">close</i>Google
                    Cloud Platform Challenge</span>
                  <p>The product meets deliverables, is creative, and has high clarity. We encourage you
                    to be creative with what already exists, such as in-phone technology, but we still
                    want your idea to be out of the box. Ideal responses will be user-friendly, and
                    explore ways to encourage adherence to the program.</p>
                  <h6> Prize: 4 Google Home Minis and 4 Chromecasts</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
              <div class="card blue-grey lighten-1">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/GSK_original.svg" style="width: 50%; left: 25%">
                </div>
                <div class="card-content">
                  <span class="card-title activator">Sleep Tracker Solution<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title activator">Sleep Tracker Solution<i class="material-icons right">close</i></span>
                  <p>We are seeking a simple solution to monitor sleep and wakefulness. This could be a mobile
                    app that uses the microphone in one's phone to record patterns and/ or monitor sleep and breathing,
                    or by taking a completely different approach to tracking sleep that doesn't require a phone. Other
                    alternative solutions could involve targeting less tech-savvy patients who might be more included
                    to
                    use something other than a smartphone.<br /><br />

                    Our goal is to measure all aspects of sleep quality e.g. duration, periods of wakefulness, hours,
                    times
                    waking, episodes of sleepiness during the day, coughing, breathlessness, wheezing etc.</p>
                  <h6>Prize: $1,600</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="submission">
          <div class="info-card col-xs-12">
            <dl class="submission info-list">
              <dt>Create a Git Repository for your Project</dt>
              <dd>If you do not have a GitHub account, create one at github.com. If you are not sure how to create a
                Git
                repository, go to this article to learn how.
              </dd>

              <dt>Go to our HackPSU Devpost</dt>
              <dd>Log in to Devpost at <a href="https://hackpsu-s2018.devpost.com/?preview_token=pJjjZOXLg0oglWICgfudBXZUSl3ypRQ%2FyEuaPCleN4Q%3D">https://hackpsu-s2018.devpost.com/</a>with
                your GitHub.</dd>

              <dt>Add your Project on Devpost</dt>
              <dd>Enter in the name of your project, your team member's names, select the category of your project, and
                link the URL to your Git repository.
              </dd>
              <dt>Check your table number in Slack</dt>
              <dd>After you submit your project on Devpost, check the Slack for table assignments. Please be at your
                table for the expo for prize judging.
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="schedule">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
        <div class="section-title-letter white-text">S</div>
        <div class="section-title-letter white-text">C</div>
        <div class="section-title-letter white-text">H</div>
        <div class="section-title-letter white-text">E</div>
        <div class="section-title-letter white-text">D</div>
        <div class="section-title-letter white-text">U</div>
        <div class="section-title-letter white-text">L</div>
        <div class="section-title-letter white-text">E</div>
      </div>
    </div>
  </div>
  <app-schedule-view></app-schedule-view>
</section>
<!--<section id="updates">-->
<!--<div class="row section-title-container">-->
<!--<div class="col-xs-6 section-title col-xs-offset-3">-->
<!--<div class="section-title-word">-->
<!--<div class="section-title-letter white-text">L</div>-->
<!--<div class="section-title-letter white-text">I</div>-->
<!--<div class="section-title-letter white-text">V</div>-->
<!--<div class="section-title-letter white-text">E</div>-->
<!--</div>-->
<!--<div class="section-title-word">-->
<!--<div class="section-title-letter white-text">U</div>-->
<!--<div class="section-title-letter white-text">P</div>-->
<!--<div class="section-title-letter white-text">D</div>-->
<!--<div class="section-title-letter white-text">A</div>-->
<!--<div class="section-title-letter white-text">T</div>-->
<!--<div class="section-title-letter white-text">E</div>-->
<!--<div class="section-title-letter white-text">S</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<app-live-update></app-live-update>-->
<!--</section>-->
<section id="workshops" class="container-fluid">
  <div class="row section-title-container">
    <div class="col-xs-6 section-title col-xs-offset-3">
      <div class="section-title-word">
        <div class="section-title-letter white-text">W</div>
        <div class="section-title-letter white-text">O</div>
        <div class="section-title-letter white-text">R</div>
        <div class="section-title-letter white-text">K</div>
        <div class="section-title-letter white-text">S</div>
        <div class="section-title-letter white-text">H</div>
        <div class="section-title-letter white-text">O</div>
        <div class="section-title-letter white-text">P</div>
        <div class="section-title-letter white-text">S</div>
      </div>
    </div>
  </div>
  <div id="workshop-container" class="container-fluid nopadding">
    <div class="row no padding">
      <div class="col-xs-6 col-md-3 nopadding">
        <span class="workshop-track">BEGINNER</span>
        <div class="container-fluid">
          <div class="col-xs-12 nopadding">

            <div class="card beginner">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/Matlab.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Crash Course:
                  MatLab<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Anastasia Vopelius</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Crash Course: MatLab<i class="material-icons right">close</i></span>
                <p>This introduction to MatLab workshop will introduce coding
                  techniques, Matlab, discuss practicality, and Octave.
                </p>
                <p>Uses: Octave - https://www.gnu.org/software/octave/</p>
              </div>
            </div>

            <div class="card beginner">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/andrea.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Coding in R<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Andrea Wan</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Coding in R<i class="material-icons right">close</i></span>
                <p>The Introduction to R Workshop will discuss what R is, how
                  it compares to Python, the basic syntax, and how to use R
                  Markdown and R Notebook. This Workshop is geared towards
                  absolute beginner as well as novice programmers that wish
                  to learn a different language. Come join us to learn! We
                  look forward to teaching you.
                </p>
                <p>Uses: R Studio - https://www.rstudio.com/products/rstudio/download/</p>
              </div>
            </div>

            <div class="card beginner">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/Excel.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Coding in Excel:
                  VBA for Data Manipulation<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Julianne Heinzmann</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Coding in Excel: VBA for Data Manipulation<i class="material-icons right">close</i></span>
                <p>Description
                </p>
                <p>Uses: Microsoft Excel</p>
              </div>
            </div>

            <div class="card beginner">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/mohsin.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">How to Debug Your
                  Code!<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Mohsin Ali</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">How to Debug Your Code!<i class="material-icons right">close</i></span>
                <p>Introductory level workshop on how to debug code in MatLab.
                  This workshop builds on the “Crash Course: MatLab” workshop
                  and teaches how to effectively debug. “Debugging” is when
                  you are trying to solve problems that arise in your code
                  that deter you from the main objective that the code is
                  supposed to accomplish.
                </p>
                <p>Uses: MatLab Octave - https://www.gnu.org/software/octave/</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3 nopadding">
        <span class="workshop-track">INTERMEDIATE</span>
        <div class="container-fluid">
          <div class="col-xs-12 nopadding">

            <div class="card intermediate">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/3DPrinting.jpeg">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Designing for
                  Additive Manufacturing<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Kenny Kimmons</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Designing for Additive Manufacturing<i class="material-icons right">close</i></span>
                <p>Description</p>
                <p>Uses: </p>
              </div>
            </div>

            <div class="card intermediate">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/neil.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Machine Learning:
                  Would You Have Survived the Titanic?<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Neil Ashtekar</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Machine Learning: Would You Have Survived the Titanic?<i class="material-icons right">close</i></span>
                <p>Interested in machine learning? Want to understand how
                  algorithms can learn from and make predictions on data?
                  Come to the Machine Learning Workshop at HackPSU! We'll
                  teach you how these algorithms work, and show you how
                  to create neural networks, decision trees, and more in
                  only a few lines of code.</p>
                <p>Uses: </p>
              </div>
            </div>

            <div class="card intermediate">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/adlan.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Unity: Learn How
                  to Make a 3D Game<i class="material-icons right">more_vert</i></span>
                <div class="text-darken-4" style="font-weight:bold;">Adlan</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Unity: Learn How to Make a 3D Game<i class="material-icons right">close</i></span>
                <p>Interested in game development? Want to learn about
                  Unity and some of the awesome features it comes with?
                  Then stop by this workshop where users will get the
                  chance to learn some of the ins and outs of the Unity
                  software and get to make their own playable video game!
                </p>
                <p>Uses: Unity + Resources (**link will be provided by
                  Adlan shortly) | Unity compatible IDE is
                  optional, but not necessary</p>
              </div>
            </div>

            <div class="card intermediate">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/pj.png">
              </div>
              <div class="card-content">
                <span class="card-title activator text-darken-4" style="font-weight:bold;">Introduction to
                  Docker<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Pranav Jain</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Introduction to Docker<i class="material-icons right">close</i></span>
                <p>Description</p>
                <p>Uses: </p>
              </div>
            </div>

            <div class="card intermediate">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/GitHub.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Git Workflow: GIT
                  push... where?<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Andrew Tran</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Git Workflow: GIT push... where?<i class="material-icons right">close</i></span>
                <p>Description</p>
                <p>Uses: </p>
              </div>
            </div>

            <div class="card intermediate">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/smith.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Bootstrap 4:
                  Modern Web Design<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Smith Sopp</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Bootstrap 4: Modern Web Design<i class="material-icons right">close</i></span>
                <p>Ever wanted to know how to make a responsive website
                  that looks great on everything from a phone to a
                  desktop? Need an awesome website for your project?
                  Drop by the Bootstrap 4 workshop. We’ll cover how to
                  make websites fit for the mobile era that accomodate
                  all users, and can be extended in limitless ways.
                  Basic understanding of HTML & CSS required.
                </p>
                <p>Uses IDE of choice, Chrome or Firefox: </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3 nopadding">
        <span class="workshop-track">ADVANCED</span>
        <div class="row">
          <div class="container-fluid">
            <div class="col-xs-12 nopadding">

              <div class="card advanced">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/workshop_leaders/dave2.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator" style="font-weight:bold;">Hardware
                    Prototyping with Raspberry Pis<i class="material-icons right">more_vert</i></span>
                  <div style="font-weight:bold;">David McDermott</div>
                  <div style="font-weight:bold;">TBD</div>
                </div>
                <div class="card-reveal">
                  <span class="card-title">Hardware Prototyping with Raspberry Pis<i class="material-icons right">close</i></span>
                  <p>Do you have an interest in hardware or need help on your hardware hack?
                    Come to the Hardware Prototyping workshop for a high level overview of
                    hardware prototyping and systems engineering. This workshop will cover
                    the pros and cons of different approaches to hardware prototyping and
                    finish with an open session for developing on the RaspberryPi with a
                    selection of HackPSU organizers to help you learn RaspberryPi.
                    Come prepared with an understanding of Python and the Linux terminal
                    for the best experience. Don’t forget to join us in #hardware_help on
                    the event Slack for help throughout the event too!
                  </p>
                  <p>Uses: SSH Client (Windows needs Putty or MobaXterm, MacOS/Linux is preinstalled)</p>
                </div>
              </div>

              <div class="card advanced">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/NeuralNetwork.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator" style="font-weight:bold;">Neural Network
                    Security<i class="material-icons right">more_vert</i></span>
                  <div style="font-weight:bold;">Ahmed</div>
                  <div style="font-weight:bold;">TBD</div>
                </div>
                <div class="card-reveal">
                  <span class="card-title">Neural Network Security<i class="material-icons right">close</i></span>
                  <p>As we progress further and further into the fields of AI,
                    specifically machine learning, it is becoming apparent
                    that like all software, it comes with flaws. Be sure to
                    stop by this workshop to see some of the intriguing ways
                    that malicious coders can manipulate and even break your
                    neural networks. More importantly, stick around to see
                    some examples of how to train your neural networks to be
                    resistant to tampering or malicious images that could be
                    designed to render your programs obsolete.
                  </p>
                  <p>Uses:</p>
                </div>
              </div>

              <div class="card advanced">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/Amazon.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator" style="font-weight:bold;">Amazon Alexa<i class="material-icons right">more_vert</i></span>
                  <div style="font-weight:bold;">Shane Kramer</div>
                  <div style="font-weight:bold;">TBD</div>
                </div>
                <div class="card-reveal">
                  <span class="card-title">Amazon Alexa<i class="material-icons right">close</i></span>
                  <p>Description</p>
                  <p>Uses: </p>
                </div>
              </div>

              <!--
              <div class="card advanced">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/workshop_leaders/bharat.jpeg">
                </div>
                <div class="card-content">
                  <span class="card-title activator" style="font-weight:bold;">Cyber Security<i
                      class="material-icons right">more_vert</i></span>
                  <div style="font-weight:bold;">Dr. Bharat Rawal</div>
                  <div style="font-weight:bold;">TBD</div>
                </div>
                <div class="card-reveal">
                  <span class="card-title">Cyber Security<i class="material-icons right">close</i></span>
                  <p>Description</p>
                  <p>Uses:</p>
                </div>
              </div>
              -->

              <div class="card advanced">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/workshop_leaders/sush.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator" style="font-weight:bold;">Kubernetes<i class="material-icons right">more_vert</i></span>
                  <div style="font-weight:bold;">Sushrut Shringarpalutale</div>
                  <div style="font-weight:bold;">TBD</div>
                </div>
                <div class="card-reveal">
                  <span class="card-title">Kubernetes<i class="material-icons right">close</i></span>
                  <p>Your application has been tested, packaged, and is ready to go.
                    It is getting popular with the users. How do you keep up? This
                    workshop goes over the concepts of Kubernetes, an open-source
                    orchestration platform by Google that handles the deployment,
                    scaling, and lifecycle of all service-based architectures out
                    there. Kubernetes is a big hit in the industry, so come learn
                    about this incredible platform built on the same tech that
                    allows companies like Google to run large scale software such
                    as Youtube.
                  </p>
                  <p>Uses: Docker (https://docker.io), *NIX system compatibility, Git, Kubernetes CLI
                    (https://kubernetes.io/docs/tasks/tools/install-kubectl/)</p>
                </div>
              </div>

              <div class="card advanced">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/Josh+Royce.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator" style="font-weight:bold;">Blockchain and
                    Ethereum<i class="material-icons right">more_vert</i></span>
                  <div style="font-weight:bold;">Josh and Royce</div>
                  <div style="font-weight:bold;">TBD</div>
                </div>
                <div class="card-reveal">
                  <span class="card-title">Blockchain and Ethereum<i class="material-icons right">close</i></span>
                  <p>The Blockchain and Ethereum Workshop provides
                    a general introduction to Decentralized
                    Applications (D-Apps) via Ethereum Smart
                    Contracts. This workshop will discuss “do
                    you really need a blockchain” & D-App
                    use-cases with distributed computing.
                    The second half of the workshop will
                    provide a hands-on experience of a end-to-end
                    tutorial to create and deploy a fully
                    decentralized application on Ethereum. We will
                    introduce Ethereum’s Coding Language called
                    Solidity and the proper DevOps needed to run a
                    smooth blockchain environment.
                  </p>
                  <p>Uses: A computer, node packet manager</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 nopadding">
        <span class="workshop-track">SPONSORED</span>
        <div class="container-fluid">
          <div class="col-xs-12 nopadding">

            <div class="card sponsored">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/google.svg">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Google: Machine
                  Learning<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Google</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Google: Machine Learning<i class="material-icons right">close</i></span>
                <p>Description</p>
                <p>Uses: </p>
              </div>
            </div>

            <div class="card sponsored">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/Accuweather.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Accuweather
                  Challenge<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Accuweather</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Accuweather Challenge<i class="material-icons right">close</i></span>
                <p>Description</p>
                <p>Uses: </p>
              </div>
            </div>

            <div class="card sponsored">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/KCFTechnologies.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">KCF Technologies:
                  Coding in Javascript and D3<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Zackary Ridall</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">KCF Technologies: Coding in Javascript and D3<i class="material-icons right">close</i></span>
                <p>This workshop is inspired by waiting. Be it at the doctors,
                  the movies, or a bar the average person spends about 6
                  months of their life waiting in a line. Our task is to take
                  some of the guesswork out of waiting by keeping track of
                  the number of people currently at a location and providing
                  a user with information about the status of the room. This
                  could mean showing the current number of people in the room,
                  the maximum occupancy, how long the wait is to get in,
                  announcements made by the owner, etc. This project will
                  require creating a react interface for the administrator
                  that would allow them to edit statistics about the room and
                  post new events. It also requires a client interface for
                  displaying information to those waiting outside. We have an
                  Arduino starter kit with motion sensors if a team wants the
                  additional challenge of using sensors to monitoring current
                  occupancy automatically.
                </p>
                <p>Uses: An IDE with NodeJS and React support (Recommended: VsCode )
                  JQuery (Probably not required, but this task will be a lot harder without it)
                  NodeJS
                  ReactJS
                  RECOMMENDED BUT NOT REQUIRED:
                  NPM (this will be useful for install additional JavaScript libraries if needed)
                  Arduino Desktop IDE (this can also be used with a web browser through the Arduino Web IDE)
                  D3 (For displaying graphs, charts, or statistics)
                </p>
              </div>
            </div>

            <div class="card sponsored">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/workshop_leaders/GM.svg">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">General Motors: Challenge Introduction<i
                    class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">General Motors</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">General Motors: Challenge Introduction<i class="material-icons right">close</i></span>
                <p>Create a system or feature to demonstrate
                  and/or improve the utility of semi-autonomous
                  or fully autonomous vehicles utilizing the RC
                  car(s) that GM provides.
                </p>
              </div>
            </div>

            <div class="card sponsored">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/JPMorganChase.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">JPMorgan Chase: Lean and Agile<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">David Smith</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">JPMorgan Chase: Lean and Agile<i class="material-icons right">close</i></span>
                <p>Meet our JPMorgan Chase technologists and learn more
                  about how we integrate them into our work at the
                  firm and how you can adapt some of the methods for
                  your own hack this weekend. We will also briefly
                  review recruiting opportunities for our Software
                  Engineering Program (SEP) and discuss our “Best Hack
                  for Social Good” challenge.
                </p>
                <p>Uses: A computer</p>
              </div>
            </div>

            <div class="card sponsored">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/Vanguard.png">
              </div>
              <div class="card-content">
                <span class="card-title activator" style="font-weight:bold;">Vanguard: Human
                  Centered Design<i class="material-icons right">more_vert</i></span>
                <div style="font-weight:bold;">Vanguard</div>
                <div style="font-weight:bold;">TBD</div>
              </div>
              <div class="card-reveal">
                <span class="card-title">Vanguard: Human Centered Design<i class="material-icons right">close</i></span>
                <p>Description</p>
                <p>Uses: </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>





</section>
<section id="footer">
  <div class="container-fluid">
    <div class="row">
      <div id="social-media" class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
        <a target="_blank" href="https://www.facebook.com/HackPSU/"><img class="social-media-icon animated animated-icon"
            src="assets/icons/facebook.svg"></a>
        <a target="_blank" href="http://twitter.com/hackpsu"><img class="social-media-icon animated animated-icon" src="assets/icons/twitter.svg"></a>
        <a target="_blank" href="https://www.instagram.com/hack_psu/"><img class="social-media-icon animated animated-icon"
            src="assets/icons/instagram.svg"></a>
        <a target="_blank" href="https://www.snapchat.com/add/hackpsu"><img class="social-media-icon animated animated-icon"
            src="assets/icons/snapchat.svg"></a>
        <a target="_blank" href="https://hackpsu-s2018.devpost.com/?preview_token=pJjjZOXLg0oglWICgfudBXZUSl3ypRQ%2FyEuaPCleN4Q%3D"><img
            class="social-media-icon animated animated-icon" src="assets/icons/devpost.svg"></a>
        <a href="mailto:team@hackpsu.org"><img class="social-media-icon animated animated-icon" src="assets/icons/email-icon.svg"></a>
      </div>
      <div class="col-md-4 col-sm-4"></div>
      <div class="col-md-4 col-sm-4"></div>
    </div>
    <div class="center row">
      <p> Made with <span>&#9829;</span> in Happy Valley.</p>
    </div>
    <div class="center row">
      <a class="small-text" target="_blank" href="/privacy">Privacy Policy</a>
    </div>
  </div>
</section>

<script src="live-view.component.js"></script>