/* Materialize CSS sets content: "";, this breaks
many of the utlities in Bootstrap, so undoing it here.*/
.row::after {
  content: none;
}

:host {
  width: 100%;
}
.car{
  text-align: right;
}
.header {
  background-size:cover;
  /*background-image: url('../../../assets/images/stars_1.svg') , linear-gradient(0deg ,#11334A 40%,#000000 100%);*/
  background-repeat: no-repeat;
}

.font{
  font-family: 'Cornerstone', sans-serif;
}
#hackpsu-logo {
  margin-top: 30px;
  max-width: 55%;
  margin-bottom: 10px;
}

#mlh-trust-badge {
  display: block;
  position: absolute;
  right: 5%;
  top: 50px;
  width: 10%;
  z-index: 0;
}

#countdown {
  display: inline-block;
  font-size: 2em;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown-text {
  font-family: 'Raleway', 'Lato', sans-serif;
  font-size: 2em;
  width: 100%;
}

#rules li{
  padding: 0 10px;
  font-weight: bold;
}
.left-side{
  /* background:#9FC2CC; */
  display: inline-block;
  font-size: 1em;
  margin: 10px 0;
}
.right-side{
  /* text-align: right; */
  font-size: 1em;
  /* background-color: #6FA7B3; */
  margin: 10px 0;
}

.hardware-text {
  font-size: 1.25em;
}

.hardware-text p {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.hardware-text span {
  color: #e5704c;
  font-weight: 700;
}

@media screen and (max-width: 768px) {

  #countdown-timer .unit {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: medium;
    width: 22.5%;
  }

  #countdown-timer {
    text-align: left;
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    white-space: nowrap;
  }

  #countdown-timer h3 {
    color: white;
    padding-top: 10px;
    font-size: medium;
    text-align: center;
  }

  #countdown-timer > div > div {
    height: 50px;
    font-size: larger;
    line-height: 30px;
    color: white;
    /*margin:10px 0;*/
    font-family: 'Cornerstone', sans-serif;
  }
}

@media screen and (min-width: 768px) {
  #countdown-timer .unit {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: larger;
  }

  #hardware .info-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  #countdown-timer {
    text-align: left;
    width: 650px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
  }

  #countdown-timer h3 {
    color: white;
    padding-top: 10px;
    text-align: center;
  }

  #countdown-timer > div > div {
    width: 150px;
    height: 75px;
    font-size: 50px;
    line-height: 70px;
    color: white;
    margin: 10px 0;
    font-family: 'Cornerstone', sans-serif;
  }
}

.submit-btn {
  height:        10vh;
  width: 500px;
  background:    black;
  border:        solid 8px rgba(170, 202, 204, 0.6);
  border-radius: 50px;
  margin-bottom: 2vh;
  line-height: 9vh;
  font-size: 1.5rem;
}

.submit-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #333333;
}

@media screen and (max-width: 768px) {
  #countdown {
    font-size: 1.5em;
    padding: 0.5em;
  }
}

@media screen and (max-width: 320px) {
  #countdown {
    padding: 0.3em;
  }
}

th {
    vertical-align: middle;
    text-align: center;
}

td {
    vertical-align: top;
}

.leader {
    border-radius:50%;
    height:10vh;
    margin-right:3vh;
    margin-top:auto;
    margin-bottom:auto;
}

.section-title {
  margin-top: 1.5vh;;
  margin-bottom: 1.5vh;
  text-align: center;
}

.section-title-word {
  display: inline-block;
  white-space: nowrap;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  font-size: 2.5em;
}

.section-separator-bar {
  height: 5vh;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 -1px -3px rgba(0,0,0,0.12), 0 -1px -2px rgba(0,0,0,0.24);

  z-index: 500;
  position: relative;
  background: #236577;
}
.header-text {
  font-family: 'Cornerstone', sans-serif;
  font-size:   1.5em;
  line-height: 100%;
  margin-top:  25px;
  word-wrap: break-word;
  white-space: initial;
}

.header-text p {
  padding: 0px;
  line-height: 120%;
}

.header-bar {
  width:  40%;
  height: 5px;
  background-color: #6C88B7;
  margin: auto;
}

.section-title-letter {
  display: inline-block;
}

.indented {
  margin-left: 7vw;
}

.left {
  margin-right: 7vw;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexed {
  display: flex;
  flex: 1 0 auto;
}

.nav-tabs.nav-justified {
  background-color: white;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
  background-color: #6FA7B3;
  color: white;
}

/* FAQ */
.question-container {
  margin-top: 10px;
  padding:    0 10%;
}

@media screen and (max-width: 768px) {
  .question-container {
    padding: 0px;
  }
}

.question i {
  padding-right: 5px;
  color:        #C94331;
}

.icon-rotate {
  transition:   all 0.3s;
}
.icon-rotate.right-rotate {
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.question {
  background:     #E1E9EA;
  border:       solid 1px #297284;
  border-radius:  7px 7px 7px 7px;
  color:      #004D6D;
  text-align: left;
  padding:    10px;
  cursor:     hand;
  font-size:  large;
}

.FAQanswer {
  color:       white;
  display:     none;
  font-weight: lighter;
  font-size:   medium;
  margin:      0 4%;
  text-align:  left;
  padding-bottom: 4%;
}

.FAQanswer a {
  color:              #99C4CC;
  -webkit-transition: all 0.5s;
  -moz-transition:    all 0.5s;
  -ms-transition:     all 0.5s;
  -o-transition:      all 0.5s;
  transition:         all 0.5s;
}

.FAQanswer a:hover {
  color: rgba(255, 255, 255, 0.5)
}


.info-title {
  font-size: large;
  color: #103147;
}

#info a {
  border: 0px;
  border-radius: 1px;
}

#info a:hover {
  color: #103147;
}

#info > .active > a:hover {
  color: white;
}

#info a:active {
  background-color: #255a8f;
  color: white;
}

#info li .active {
  background-color: #255a8f;
  color: white
}
.wrksp-req{
  text-align: left;
}
.info-card {
  margin-top: 10px;
  padding: 10px 0;
  line-height: 35px;
  background-color: #78909c;
  color: white;
  border-radius: 2px;
  box-shadow: none;
}

.info-list {
  font-size: 1em;
  line-height: 1.35em;
  list-style-type: disc;
}

.info-list li {
  padding-bottom: 2vh;
  padding-right: 5%;
}
.info-list li:nth-of-type(1) {
  padding-top: 3vh;
}

@media screen and (max-width: 768px) {
  .info-list {
    line-height: 1.5em;
  }
}

.info-list a {
  color: #D0EAF1;
}

/* Workshop stuff*/
#workshop-container {
  position: relative;
  text-align: center;
  font-family: "Lato", "Helvetica", sans-serif;
}

.workshop-track {
  font-family: "Cornerstone", sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  background-color: #e5704c;
  border: 5px solid #e5704c;
  border-width: 9px 20px 5px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.beginner {
  background: #6FA7B3;
  border-color: #6FA7B3;
  vertical-align:middle;
}

.intermediate {
  background: #1D5B7C;
  border-color: #1D5B7C;
  vertical-align:middle;
}

.advanced {
  background: #15425f;
  border-color: #15425f;
  vertical-align:middle;
  color: #ffffff;
}

.sponsored {
  background: #103247;
  border-color: #103247;
  vertical-align:middle;
  color: #ffffff;
}
/* End workshop stuff */

footer {
  background-color: #fff;
}

#footer .email-link {
  text-decoration: underline;
  color: #ffffff;
}

#footer .email-link:hover {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.social-media-icon {
  width: 40px;
}

#footer p {
  font-size: small;
}

.small-text {
  font-size: x-small;
}

.rounded-more {
  border-radius: 10px;
}

.first-border {
  margin-top: 5vh;
}

.boxed-text {
  border: 5px solid #6C88B7;
  border-radius: 15px;
}

.design-prompt-box {
  border: 5px solid #6C88B7;
  border-radius: 10px;
}
.design-prompt p {
  font-family: 'Cornerstone', sans-serif !important;
  font-size: 2.15em;
  color: #e5704c;
  text-align: center;
}
.design-prompt-text p {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.65em;
  color: #f5f5f5;
  text-align: center;
}
.design-prompt-subtext {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.15em;
  color: #f5f5f5;
  text-align: center;
}

.prize-col {
  padding-top: 8vh;
}

.prize-title p {
  font-family: 'Cornerstone', sans-serif !important;
  font-size: 2.15em;
  color: #f5f5f5;
  text-align: center;
}

.prize-img {
  max-width: 50%;
  box-shadow: -1px 3px 5px 0px rgba(10, 10, 10, 0.55)
}

.prizes-text {
  font-size: 1.25em;
  padding-top: 5vh;
}

.prizes-text p {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.prizes-text span {
  color: #e5704c;
  font-weight: 700;
}

#prizes .card {
  min-height: 150px;
}

#prizes h6 {
  font-family: 'Raleway', sans-serif;
}


.card {
  border-width: 8px;
  border-radius: 10px;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .card-reveal {
  border-radius: 10px;
}

.card-image {
  max-height: 100% !important;
  overflow: visible;
}

.card-image img {
  border-radius: 10px;
}

.card-title {
  font-size: 1.5em;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  color: #ffffff;
}

.card-requirements {
  padding-top: 1rem;
  font-size: 1em;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  color: red;
}

.card-reveal .card-title {
  color: #424242;
}

.card-reveal p {
  text-align: left;
}

.card-content div:nth-of-type(1) {
  padding-top: 10px;
}

.card-content div {
  text-align: left;
}

.card .card-content .card-title {
  margin-bottom: 0px;
  line-height: 1em;
}

.card-reveal {
  color: black;
}

.activator {
  cursor: pointer;
}
#workshop-container .card .card-content{
  padding-left: 20px;
  padding-right: 20px;
}
/* Properly scale our text and icons on smaller screens,
and make images go away. */
@media screen and (max-width: 568px) {
  .card {
    margin-top: 7vh;
  }
  .card:nth-of-type(1) {
    margin-top: 4vh;
  }
  .card-title {
    font-size: 2.15em;
  }
  .card-content div {
    font-size: 1.35em;
  }
  .card-reveal p {
    font-size: 1.35em;
  }
  .card-reveal .card-title {
    font-size: 1.75em;
    line-height: 1.25em;
  }
  .material-icons {
    font-size: 36px;
    line-height: 60px;
  }
  .workshop-track {
    font-size: 2.5em;
  }
  .card-image img {
    height: 0px;
  }
  .btn-floating {
    width: 60px;
    height: 60px;
  }
}

.btn-margin {
  margin: 8px 0;
}

.tabs .tab a {
  color: #000;
}

.map-block {
  display: block;
}
.map-block img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.submission {
  padding: 2%;
}

#social-media {
  text-align: center;
}

.update-paginator /deep/ .ngx-pagination a {
  color: white
}
