<!-- Landing -->
<div class="page-content">
  <section id="home" class="header">
    <div class="container-fluid">
      <!-- MLH Badge -->
      <!-- <div class="white">
      <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:10px;top:0px;width:10%;z-index:10000"
         href="https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=white"
         target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-white.svg"
                              alt="Major League Hacking 2020 Hackathon Season" style="width:100%"></a>
    </div> -->
      <!-- Particles -->

      <!-- Emblem/Logo -->
      <div class="row" style="padding-top: 15%">
        <div class="col-6">
          <img
            src="../assets/images/logo-spring-2021.svg"
            id="hackpsu-logo"
            class="animated rubberBand d-block mx-auto mb-0"
            alt="hackpsulogo"
          />
        </div>

        <!-- Countdown Timer -->
        <div class="col-6">
          <div id="countdown-timer" class="d-flex justify-items-center mt-0">
            <div class="row">
              <div id="days" class="col-md-3 unit">
                <div class="row">
                  <div class="font number">{{ days }}</div>
                  <div class="time-label">Days</div>
                </div>
              </div>
              <div id="hours" class="col-md-3 unit">
                <div class="row">
                  <div class="font number">{{ hours }}</div>
                  <div class="time-label">Hours</div>
                </div>
              </div>
              <div id="minutes" class="col-md-3 unit">
                <div class="row">
                  <div class="font number">{{ minutes }}</div>
                  <div class="time-label">Minutes</div>
                </div>
              </div>
              <div id="seconds" class="col-md-3 unit">
                <div class="row second-res">
                  <div class="font number">{{ seconds }}</div>
                  <div class="time-label">Seconds</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slack Button & Banner Text -->
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <p id="countdown-text" class="text-center">{{ bannerText }}</p>
            </div>

            <a
              class="btn waves-effect waves-red submit-btn text-center"
              target="_blank"
              href="https://discord.gg/k6TBaS7T8N"
            >
              <div class="font text-res">Discord</div>
            </a>
            <br />
            <a
              class="btn waves-effect waves-red submit-btn"
              target="_blank"
              href="https://hackpsu-spring-2021.devpost.com/"
              ><div class="font submit-btn-text text-res">Submit Your Project</div></a
            >
          </div>
          <div class="page-header"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section separator -->
  <!--
<div class="section-separator">
  <img src="../../../assets/images/earth_crust_livesite.svg"
    class="section-separator-background first-border">
</div>
-->

  <div id="planet-container">
    <img src="assets/images/planet_1.svg" alt="Planet" id="planet-blue" />
    <img src="assets/images/planet_3.svg" alt="Planet" id="planet-orange" />
    <img src="assets/images/planet_5.svg" alt="Planet" id="planet-pink" />
  </div>

  <!-- Schedule -->
  <section id="schedule" style="margin-top: 21em">
    <div class="container-fluid">
      <div>
        <div class="col-12 section-title">
          <div class="section-title-word">
            <div class="header-text">Schedule</div>
          </div>
          <div class="header-bar"></div>
          <p class="header-details">
            These times are adjusted to your time zone! Check the Discord for more details.
          </p>
        </div>

        <app-schedule-view></app-schedule-view>
      </div>
    </div>
  </section>
  <!-- Live Updates -->
  <section id="updates">
    <div class="container-fluid">
      <div class="col-12">
        <div class="row">
          <!-- Map -->
          <!--
        <div class="col-md-6">
          <section id="map-rules">
            <div class="container-fluid">
              <div class="row">

                  <div class="row">
                    <div class="col-12 section-title">
                      <div class="section-title-word">
                        <div class="header-text">Map</div>
                      </div>
                      <div class="header-bar"></div>
                    </div>
                  </div>
                    <div class="map-block">
                      <img class="materialboxed" src="../../../assets/images/BuildingMap.png">
                    </div>
              </div>
            </div>
          </section>
        </div>
        --></div>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-md-6">
      <!-- Rules -->
      <div class="row">
        <div class="col-12 section-title">
          <div class="section-title-word">
            <div class="header-text">Rules</div>
          </div>
          <div class="header-bar"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="info-card col-12">
            <ol class="info-list">
              <li>
                All participants must be older than 18, and must bring a valid form of
                identification.
              </li>
              <li>
                Participants must abide by the expectations set in the
                <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" style="color: #103147"
                  >MLH Code of Conduct</a
                >, or you will be asked to leave the event.
              </li>
              <li>Teams may be comprised of up to five members.</li>
              <li>
                Projects should be original works created on site. Coming with an idea in mind is
                perfectly fine, working on an existing project is not.
              </li>
              <li>All submissions must be received through DevPost by 5:00PM on Sunday.</li>
              <li>Students are permitted to come and go from the venue as they please.</li>
              <li>
                Anything you create is your work, HackPSU and its partners have no claim over
                intellectual property produced at the event.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- Mobile app stuff -->
      <div class="row">
        <div class="col-12 section-title">
          <div class="section-title-word">
            <div class="header-text">Mobile App</div>
          </div>
          <div class="header-bar"></div>
        </div>
      </div>
      <div class="row mobile-app-text justify-content-center">
        Get our app on Google Play and the App Store!
      </div>
      <div class="row center">
        <div class="col-sm-6">
          <a
            href="https://apps.apple.com/us/app/hackpsu-mobile/id1537639100?itsct=apps_box&amp;itscg=30200"
            style="display: inline-block; overflow: hidden"
            ><img
              src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1604620800&h=413f442f188f45f269ac02e9fafd7e0f"
              alt="Download on the App Store"
              width="180"
          /></a>
        </div>
        <div class="col-sm-6">
          <a
            href="https://play.google.com/store/apps/details?id=org.hackpsu.HackPSU&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
            ><img
              width="200"
              alt="Get it on Google Play"
              src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- FAQ -->
      <section id="faq">
        <div class="container-fluid">
          <div class="col-12 section-title">
            <div class="section-title-word">
              <div class="header-text">FAQ</div>
            </div>
            <div class="header-bar"></div>
          </div>
        </div>
        <br />
        <div class="container-fluid">
          <!-- Left column of questions -->
          <div class="row">
            <div class="col-md-6">
              <div>
                <p class="question">
                  <i class="fas fa-plus icon-rotate"></i>Where can I go to get help?
                </p>
                <p class="FAQanswer">We have a help corner in discord!</p>
              </div>
              <div>
                <p class="question">
                  <i class="fas fa-plus icon-rotate"></i>Do I need to stay at the event?
                </p>
                <p class="FAQanswer">Nope! The event is completely virtual this year.</p>
                <!--
          <p class="FAQanswer">You are free to come and go as you please to get some rest, fresh
            air, or take a break! If you feel like throwing in the towel for the weekend, that's
            fine too! All that we ask is that you only work on your project while on the
            premises.</p>
          -->
              </div>
              <div>
                <p class="question">
                  <i class="fas fa-plus icon-rotate"></i>How do I submit a project?
                </p>
                <p class="FAQanswer">
                  All projects will be submitted through the HackPSU Devpost. Do NOT submit your
                  project via email, Discord, slide into a DM, messenger pigeon, drone, overnight
                  express mail, etc. Both hardware and software projects are allowed. Only one
                  Devpost submission per team is needed. Participants/teams will be asked to upload
                  a 2 minute video showcasing their project as well as questions to answers about
                  the logistics and specifications of your build. View more requirements when
                  submitting a project in the Devpost Rules. Link:
                  <a href="https://hackpsu-spring-2021.devpost.com/"
                    >https://hackpsu-spring-2021.devpost.com/</a
                  >
                </p>
              </div>
              <app-newlivefaq [question]="'questiON??'" [answer]="'answer'">
              </app-newlivefaq>

              <!--
        <div>
          <p class="question"><i class="fas fa-plus icon-rotate"></i>Where can I get hardware?</p>
          <p class="FAQanswer">MLH provides hardware for rent free to all hackers! <a
            href="https://hardware.mlh.io/">Click here</a> to be taken to the hardware checkout app,
            and make sure you select our event. From there, you can see a list of hardware, and
            select what you'd like to rent out. To pick it up, visit the hardware booth (next to
            registration, look for the banner).<br>Link: <a href="https://hardware.mlh.io/">https://hardware.mlh.io/</a>
          </p>
        </div>
        <div>
          <p class="question"><i class="fas fa-plus icon-rotate"></i>Can I sleep at the event?</p>
          <p class="FAQanswer">Yes! We have air mattresses for checkout at the registration table
            starting at 9pm. All we ask is that you treat them nicely and please return them when
            you're done!</p>
        </div>

        <div>
          <p class="question"><i class="fas fa-plus icon-rotate"></i>When can I get travel
            reimbursement?</p>
          <p class="FAQanswer">Travel reimbursements will be handled at the registration table
            starting Sunday at 10am. Please come to the table with everyone that you traveled with,
            and the receipts for your transportation costs. If you spoke with us directly about
            special consideration, please have any emails/messages shared open and ready!</p>
        </div>
        -->
            </div>

            <!-- Right column of questions -->
            <div class="col-md-6">
              <div>
                <p class="question">
                  <i class="fas fa-plus icon-rotate"></i>How does extra credit work?
                </p>
                <p class="FAQanswer">
                  If you are attending and a professor is offering extra credit for being at
                  HackPSU, please refer to the requirements they set out for receiving extra credit.
                  We will be tracking attendance to events like workshops, and will be reporting
                  back to professors with data so that they may confirm you were participating.
                </p>
                <p class="FAQanswer">
                  Click <a routerLink="/profile">here </a>to sign up for extra credit!
                </p>
              </div>
              <div>
                <p class="question">
                  <i class="fas fa-plus icon-rotate"></i>Where did the old website go?
                </p>
                <p class="FAQanswer">
                  It's right <a target="_blank" href="https://app.hackpsu.org">here!</a>
                </p>
              </div>
              <div>
                <p class="question"><i class="fas fa-plus icon-rotate"></i>What’s a Devpost?</p>
                <p class="FAQanswer">
                  Devpost is a project-submitting platform used by many hackathons and
                  technology-focused events. You and/or your team will be asked to submit your
                  project through our Spring 2021 Devpost. For those who have never used Devpost
                  before or would like a refresher, there will be a Devpost overview workshop hosted
                  on Sunday, March 21st from 12:00-1:00PM EST via Zoom.
                </p>
              </div>
              <div>
                <p class="question">
                  <i class="fas fa-plus icon-rotate"></i>I have more questions!
                </p>
                <p class="FAQanswer">
                  Check out
                  <a
                    href="https://docs.google.com/document/d/1TBwwLxq97OIUc_RH2Z5Hc34knxuD9U8zPI8Efpy3XHA/edit?usp=sharing"
                    >this doc</a
                  >
                  for more info!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Prizes -->
  <section id="prizes">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 section-title">
          <div class="section-title-word">
            <div class="header-text">Prizes & Challenges</div>
          </div>
          <div class="header-bar"></div>
        </div>
      </div>
      <!-- Prizes -->
      <div class="row justify-content-center">
        <!-- Tech Prize (HackPSU) -->
        <div class="prize-col col-md-4 col-10">
          <div class="prize-title">
            <p>HackPSU Tech Track</p>
          </div>
          <img
            src="../../../assets/images/terminal-flat-icon-white.svg"
            class="rounded-more mx-auto d-block prize-img"
          />
          <div class="prizes-text">
            The standard HackPSU experience - work together alone or in a team to build something
            awesome! We'll have tons of great mentors and other staff around to help you on your
            way. Choose this track if you're passionate about technology and development.
          </div>
        </div>
        <!--
      <div class="prize-col col-md-4 col-10">
        <div class="prize-title">
          <p>HackPSU Business Track</p>
        </div>
        <img src="../../../assets/images/business-graph-flat-icon-white.svg"
             class="rounded-more mx-auto d-block prize-img">
        <div class="prizes-text">
          A new way to experience HackPSU - hackers can now participate in
          a new business case competition based around technology. You and your team will
          act as consultants, providing a unique opportunity to hackers who have a passion for
          technology, but may not have the technical skills to compete in a normal hackathon.
        </div>
      </div>
      --></div>
      <!--
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="design-prompt-box">
          <div class="offset-md-2 col-md-8 design-prompt">
            <p>Business Prompt</p>
          </div>
          <div class="offset-md-2 col-md-8 design-prompt-text">
            <p>The case will be released the Friday before the event (11/1) at 5PM through email.
            You can register for the business challenge by clicking <a routerLink='/profile'>here!</a></p>
          </div>
        </div>
      </div>
    </div>
    -->

      <div class="row prizes-text">
        <div class="offset-md-2 col-md-8">
          <p>
            <span>SUBMISSION:</span> To submit please visit our DevPost, link below. All submissions
            must be received before the hacking deadline (5pm Sunday). This is a hard deadline -
            submissions received after this time will not be considered for prizes.
          </p>
          <div class="boxed-text">
            <p class="text-center m-0">
              For a complete list of prizes, including sponsor prizes, please visit our DevPost
              <a class="" href="https://hackpsu-spring-2021.devpost.com/">here!</a><br />Link:
              <a href="https://hackpsu-spring-2021.devpost.com/"
                >https://hackpsu-spring-2021.devpost.com/</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Workshops -->

  <section id="workshops" class="container-fluid">
    <div class="row">
      <div class="col-12 section-title">
        <div class="section-title-word">
          <div class="header-text">Workshops</div>
        </div>
        <div class="header-bar"></div>
        <p class="header-details">
          These times are adjusted to your time zone! Check the Discord for more details.
        </p>
      </div>
    </div>

    <div id="workshop-container" class="container-fluid nopadding">
      <div class="row no padding">
        <!-- BEGINNER -->
        <div class="col-md-6 col-lg-4 nopadding">
          <span class="workshop-track">Beginner</span>
          <div class="container-fluid py-4">
            <div class="col-12 p-md-0 px-4">
              <style>
                #module {
                  line-height: 1.5;
                }

                #module #collapseExample.collapse:not(.show) {
                  display: block;
                  height: 4.6rem;
                  overflow: hidden;
                }

                #module #collapseExample.collapsing {
                  height: 4.6rem;
                }

                #module a.collapsed::after {
                  content: '+ Show More +';
                  color: black;
                }

                #module a:not(.collapsed)::after {
                  content: '- Show Less -';
                  color: black;
                }
              </style>
              <div *ngFor="let workshop of workshops">
                <div *ngIf="workshop.ws_skill_level == 'Beginner' || workshop.ws_skill_level == ''">
                  <app-live-workshop
                    [title]="workshop.event_title"
                    [description]="workshop.event_description"
                    [date]="workshop.event_start_time"
                    [endTime]="workshop.event_end_time"
                    [link]="workshop.location_name"
                    [skills]="
                      workshop.ws_relevant_skills ? workshop.ws_relevant_skills.split(',') : []
                    "
                    [presenters]="
                      workshop.ws_presenter_names ? workshop.ws_presenter_names.split(',') : []
                    "
                    [eventIcon]="workshop.event_icon ? workshop.event_icon.split(',') : []"
                    [downloads]="workshop.ws_urls"
                    collapseID="css/html"
                  >
                  </app-live-workshop>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- INTERMEDIATE -->
        <div class="col-md-6 col-lg-4 nopadding">
          <span class="workshop-track">INTERMEDIATE</span>
          <div class="container-fluid py-4">
            <div class="col-12 p-md-0 px-4">
              <div *ngFor="let workshop of workshops">
                <div *ngIf="workshop.ws_skill_level == 'Intermediate'">
                  <app-live-workshop
                    [title]="workshop.event_title"
                    [description]="workshop.event_description"
                    [date]="workshop.event_start_time"
                    [endTime]="workshop.event_end_time"
                    [link]="workshop.location_name"
                    [skills]="
                      workshop.ws_relevant_skills ? workshop.ws_relevant_skills.split(',') : []
                    "
                    [presenters]="
                      workshop.ws_presenter_names ? workshop.ws_presenter_names.split(',') : []
                    "
                    [eventIcon]="workshop.event_icon ? workshop.event_icon.split(',') : []"
                    [downloads]="workshop.ws_urls"
                    collapseID="css/html"
                  >
                  </app-live-workshop>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ADVANCED -->
        <div class="col-md-6 col-lg-4 nopadding">
          <span class="workshop-track">ADVANCED</span>
          <div class="row">
            <div class="container-fluid py-4">
              <div class="col-12 p-md-0 px-4">
                <div *ngFor="let workshop of workshops">
                  <div *ngIf="workshop.ws_skill_level == 'Advanced'">
                    <app-live-workshop
                      [title]="workshop.event_title"
                      [description]="workshop.event_description"
                      [date]="workshop.event_start_time"
                      [endTime]="workshop.event_end_time"
                      [link]="workshop.location_name"
                      [skills]="
                        workshop.ws_relevant_skills ? workshop.ws_relevant_skills.split(',') : []
                      "
                      [presenters]="
                        workshop.ws_presenter_names ? workshop.ws_presenter_names.split(',') : []
                      "
                      [eventIcon]="workshop.event_icon ? workshop.event_icon.split(',') : []"
                      [downloads]="workshop.ws_urls"
                      collapseID="css/html"
                    >
                    </app-live-workshop>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="container-fluid">
    <div class="row">
      <div class="col-12 section-title">
        <div class="section-title-word">
          <div class="header-text">Sponsors</div>
        </div>
        <div class="header-bar"></div>
      </div>
    </div>
    <!-- 2021 Sponsors-->

    <div class="row d-flex justify-content-center" style="padding-top: 2%">
      <div class="col-md-2">
        <!--NITTANY AI-->
        <a href="https://nittanyai.psu.edu/" target="_blank">
          <img
            src="assets/images/sponsors/nittanyai-night.svg"
            class="img-fluid nittany-ai"
            alt="NitannyAI"
          />
        </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-md-2">
        <!--M&T Tech-->
        <a href="https://www3.mtb.com/techhub/" target="_blank">
          <img
            src="assets/images/sponsors/MT_Tech.svg"
            class="img-fluid mt-tech"
            alt="M&T Tech"
          />
        </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-md-2">
        <!--Baker Hughes-->
        <a href="https://www.bakerhughes.com/" target="_blank">
          <img
            src="assets/images/sponsors/Baker_Hughes.svg"
            class="img-fluid baker-hughes"
            alt="Baker Hughes"
          />
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center" style="padding-top: 1%">
      <div class="col-md-2">
        <!--MICROSOFT-->
        <a href="https://www.microsoft.com/en-us" target="_blank">
          <img
            src="assets/images/sponsors/Microsoft_blue.svg"
            class="img-fluid microsoft"
            alt="microsoft"
          />
        </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-md-2">
        <!--Celonis-->
        <a href="https://www.celonis.com/" target="_blank">
          <img
            src="assets/images/sponsors/Celonis.svg"
            class="img-fluid celonis"
            alt="celonis"
            style="padding-top: 40%"
          />
        </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-md-2">
        <!--PSU EC-->
        <a href="https://oec.psu.edu/" target="_blank">
          <img
            src="assets/images/sponsors/PSU_EC.svg"
            class="img-fluid celonis"
            alt="PSU EC"
            style="padding-top: 35%"
          />
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center" style="padding-top: 4%">
      <div class="col-md-2" style="padding-top: 4%">
        <!--EECS-->
        <a href="https://www.eecs.psu.edu/" target="_blank">
          <img
            src="assets/images/sponsors/EECS-night.svg"
            alt="EECS"
            class="img-fluid eecs"
          />
        </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-md-2" style="padding-top: 5%">
        <!--PSU ICS-->
        <a href="https://www.icds.psu.edu/" target="_blank">
          <img
            src="assets/images/sponsors/ics2-cropped.svg"
            class="img-fluid ics"
            alt="PSU Institute for Computational and Data Sciences (ICS)"
          />
        </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-md-2">
        <!--PwC-->
        <a href="https://www.pwc.com/" target="_blank">
          <img
            src="assets/images/sponsors/PWC_night.svg"
            alt="PwC"
            class="img-fluid pwc"
          />
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center" style="padding-top: 6%; padding-bottom: 10%;">
      <div class="col-sm-2">
        <!--ECHOAR-->
        <a href="https://www.echoar.xyz/" target="_blank">
          <img
            src="assets/images/sponsors/echoAR.svg"
            class="img-fluid echoAR"
            alt="echoAR"
            style="padding-top: 10%;"
          />
        </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <!--Penn State Go-->
        <a href="https://mobile.psu.edu/" target="_blank">
          <img
            src="assets/images/sponsors/Penn_State_Go.png"
            class="img-fluid echoAR"
            alt="Penn State Go"
          />
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-2" style="padding-top: 1%"></div>
      <div class="col-sm-2"></div>
      <div class="col-md-2 justify-content-center"></div>
      <div class="col-sm-2"></div>
      <div class="col-md-2"></div>
    </div>
  </section>

  <section id="footer">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div id="social-media" class="col-8 col-offset-2 col-md-8 col-md-offset-2">
          <a target="_blank" href="https://www.facebook.com/HackPSU/"
            ><img class="social-media-icon animated animated-icon" src="assets/icons/facebook.svg"
          /></a>
          <a target="_blank" href="http://twitter.com/hackpsu"
            ><img class="social-media-icon animated animated-icon" src="assets/icons/twitter.svg"
          /></a>
          <a target="_blank" href="https://www.instagram.com/hack_psu/"
            ><img class="social-media-icon animated animated-icon" src="assets/icons/instagram.svg"
          /></a>
          <a target="_blank" href="https://www.snapchat.com/add/hackpsu"
            ><img class="social-media-icon animated animated-icon" src="assets/icons/snapchat.svg"
          /></a>
          <a target="_blank" href="https://hackpsu-spring-2021.devpost.com/"
            ><img class="social-media-icon animated animated-icon" src="assets/icons/devpost.svg"
          /></a>
          <a href="mailto:team@hackpsu.org"
            ><img
              class="social-media-icon animated animated-icon"
              src="assets/icons/email-icon.svg"
          /></a>
        </div>
      </div>
      <div class="center row d-flex justify-content-center mb-0">
        <p>Made with <span>&#9829;</span> in Happy Valley.</p>
      </div>
      <div class="center row d-flex justify-content-center">
        <p>
          Icons designed by
          <a href="https://www.flaticon.com/authors/freepik" target="_blank" style="color: white"
            >Freepik from Flaticon</a
          >.
        </p>
      </div>
      <div class="center row d-flex justify-content-center mb-0">
        <a class="small-text" target="_blank" href="https://hackpsu.org/privacy">Privacy Policy</a>
      </div>
    </div>
  </section>
</div>
<Particles id="particles-js" [options]="particlesOptions"></Particles>
