/* Materialize CSS sets content: "";, this breaks
many of the utlities in Bootstrap, so undoing it here.*/
.row::after {
  content: none;
}

:host {
  width: 100%;
}
.car {
  text-align: right;
}
.header {
  background-size: cover;
  /*background-image: url('../../../assets/images/stars_1.svg') , linear-gradient(0deg ,#11334A 40%,#000000 100%);*/
  background-repeat: no-repeat;
}
.font {
  font-family: 'Cornerstone', sans-serif;
}
#hackpsu-logo {
  margin-top: 30px;
  max-width: 70%;
  margin-bottom: 10px;
}

#mlh-trust-badge {
  display: block;
  position: absolute;
  right: 5%;
  top: 50px;
  width: 10%;
  z-index: 0;
}

#countdown {
  display: inline-block;
  font-size: 2em;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown-text {
  font-family: 'Raleway', 'Lato', sans-serif;
  font-size: 2em;
  width: 100%;
}

#rules li {
  padding: 0 10px;
  font-weight: bold;
}
.left-side {
  /* background:#9FC2CC; */
  display: inline-block;
  font-size: 1em;
  margin: 10px 0;
}
.right-side {
  /* text-align: right; */
  font-size: 1em;
  /* background-color: #6FA7B3; */
  margin: 10px 0;
}

.hardware-text {
  font-size: 1.25em;
}

.hardware-text p {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.hardware-text span {
  color: #e5704c;
  font-weight: 700;
}

/* DESKTOP/LAPTOP */
/* if the screen size is 1220 or more */
@media screen and (min-width: 1220px) {
  #countdown-timer .unit {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: larger;
  }

  #hardware .info-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  #countdown-timer {
    text-align: left;
    width: 650px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
  }

  #countdown-timer h3 {
    color: white;
    padding-top: 10px;
    text-align: center;
  }

  #countdown-timer .number {
    width: 150px;
    height: 75px;
    font-size: 50px;
    line-height: 70px;
    color: white;
    margin: 10px 0;
  }
}

/* TABLETS ONLY */
/* if the screen is 1219 or less AND 415 or more */
@media screen and (max-width: 1219px) and (min-width: 768px) {
  #countdown-timer .unit {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: larger;
  }

  #hardware .info-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  #countdown-timer {
    text-align: left;
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
  }

  #countdown-timer h3 {
    color: white;
    padding-top: 10px;
    text-align: center;
  }

  #countdown-timer .number {
    width: 150px;
    height: 75px;
    font-size: 50px;
    line-height: 70px;
    color: white;
    margin: 10px 0;
  }
  .second-res {
    padding-left: 10px;
  }
}

.submit-btn {
  height: auto;
  width: 500px;
  background: black;
  border: solid 8px rgba(170, 202, 204, 0.6);
  border-radius: 50px;
  margin-bottom: 2vh;
  line-height: 9vh;
  font-size: 1.5rem;
}
.submit-btn-text {
  white-space: pre-line;
  width: 100%;
}

/* responsive text for submit project button */
@media screen and (max-width: 768px) {
  .text-res {
    font-size: 1.1rem;
    line-height: 5vh;
  }
}

.submit-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #333333;
}

th {
  vertical-align: middle;
  text-align: center;
}

td {
  vertical-align: top;
}

.leader {
  border-radius: 50%;
  height: 10vh;
  margin-right: 3vh;
  margin-top: auto;
  margin-bottom: auto;
}

.section-title {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  text-align: center;
}

.section-title-word {
  display: inline-block;
  white-space: nowrap;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  font-size: 2.5em;
}

.section-separator-bar {
  height: 5vh;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 -1px -3px rgba(0, 0, 0, 0.12), 0 -1px -2px rgba(0, 0, 0, 0.24);

  z-index: 500;
  position: relative;
  background: #005e2a;
}

.header-text {
  font-family: 'Cornerstone', sans-serif;
  font-size: 2em;
  line-height: 100%;
  margin-top: 25px;
  white-space: initial;
}

.header-text p {
  padding: 0px;
  line-height: 120%;
}

.header-bar {
  width: 40%;
  height: 5px;
  background-color: #6c88b7;
  margin: auto;
}

.header-details {
  font-size: 1.25em;
  margin-top: 17px;
}

.section-title-letter {
  display: inline-block;
}

.indented {
  margin-left: 7vw;
}

.left {
  margin-right: 7vw;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexed {
  display: flex;
  flex: 1 0 auto;
}

.nav-tabs.nav-justified {
  background-color: white;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
  background-color: #6fa7b3;
  color: white;
}

/* FAQ */
.question-container {
  margin-top: 10px;
  padding: 0 10%;
}

@media screen and (max-width: 768px) {
  .question-container {
    padding: 0px;
  }
}

.question i {
  padding-right: 5px;
  color: #c94331;
}

.icon-rotate {
  transition: all 0.3s;
}
.icon-rotate.right-rotate {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.question {
  background: #e1e9ea;
  border: solid 1px #297284;
  border-radius: 7px 7px 7px 7px;
  color: #004d6d;
  text-align: left;
  padding: 10px;
  cursor: hand;
  font-size: large;
}

.faq-answer {
  color: white;
  display: none;
  font-weight: lighter;
  font-size: medium;
  margin: 0 4%;
  text-align: left;
  padding-bottom: 4%;
}

.faq-answer a {
  color: #99c4cc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.faq-answer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.mobile-app-text {
  align-self: center;
  font-size: 1.15em;
}

.info-title {
  font-size: large;
  color: #103147;
}

#info a {
  border: 0px;
  border-radius: 1px;
}

#info a:hover {
  color: #103147;
}

#info > .active > a:hover {
  color: white;
}

#info a:active {
  background-color: #255a8f;
  color: white;
}

#info li .active {
  background-color: #255a8f;
  color: white;
}
.wrksp-req {
  text-align: left;
}
.info-card {
  margin-top: 10px;
  padding: 10px 0;
  line-height: 35px;
  background-color: #78909c;
  color: white;
  border-radius: 2px;
  box-shadow: none;
}

.info-list {
  font-size: 1em;
  line-height: 1.35em;
  list-style-type: disc;
}

.info-list li {
  padding-bottom: 2vh;
  padding-right: 5%;
}
.info-list li:nth-of-type(1) {
  padding-top: 3vh;
}

@media screen and (max-width: 768px) {
  .info-list {
    line-height: 1.5em;
  }
}

.info-list a {
  color: #d0eaf1;
}

/* Workshop stuff*/
#workshop-container {
  position: relative;
  text-align: center;
  font-family: 'Lato', 'Helvetica', sans-serif;
}

.workshop-track {
  font-family: 'Cornerstone', sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  background-color: #e5704c;
  border: 5px solid #e5704c;
  border-width: 9px 20px 5px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.beginner {
  background: #6fa7b3;
  border-color: #6fa7b3;
  vertical-align: middle;
}

.intermediate {
  background: #1d5b7c;
  border-color: #1d5b7c;
  vertical-align: middle;
}

.advanced {
  background: #15425f;
  border-color: #15425f;
  vertical-align: middle;
  color: #ffffff;
}

.sponsored {
  background: #103247;
  border-color: #103247;
  vertical-align: middle;
  color: #ffffff;
}

/* sponsor styling */

#sponsors {
  text-align: center;
}

.mt-tech{
  padding-top: 20%;
}
@media screen and (max-width: 768px) {
  .mt-tech {
    width: 60%;
  }
}

.baker-hughes{
  padding-top: 30%;
}
@media screen and (max-width: 768px) {
  .baker-hughes{
    width: 60%;
  }
}

.microsoft{
  padding-top: 1%;
}
.celonis{
  padding-top: 0%;
}
@media screen and (max-width: 768px) {
  .celonis{
    width: 40%;
  }
}


@media screen and (max-width: 768px) {
  .pwc{
    width: 60%;
  }
}



/* End workshop stuff */

footer {
  background-color: #fff;
}

#footer .email-link {
  text-decoration: underline;
  color: #ffffff;
}

#footer .email-link:hover {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.social-media-icon {
  width: 40px;
}

#footer p {
  font-size: small;
}

.small-text {
  font-size: x-small;
}

.rounded-more {
  border-radius: 10px;
}

.first-border {
  margin-top: 5vh;
}

.boxed-text {
  border: 5px solid #6c88b7;
  border-radius: 15px;
}

.design-prompt-box {
  border: 5px solid #6c88b7;
  border-radius: 10px;
  background-color: #194e6b;
}
.design-prompt p {
  font-family: 'Cornerstone', sans-serif !important;
  font-size: 2.15em;
  color: #e5704c;
  text-align: center;
}
.design-prompt-text p {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.65em;
  color: #f5f5f5;
  text-align: center;
}
.design-prompt-subtext {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.15em;
  color: #f5f5f5;
  text-align: center;
}

.prize-col {
  padding-top: 8vh;
}

.prize-title p {
  font-family: 'Cornerstone', sans-serif !important;
  font-size: 2.15em;
  color: #f5f5f5;
  text-align: center;
}

.prize-img {
  max-width: 50%;
  /* box-shadow: -1px 3px 5px 0px rgba(10, 10, 10, 0.55) */
}

.prizes-text {
  font-size: 1.25em;
  padding-top: 5vh;
}

.prizes-text p {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.prizes-text span {
  color: #e5704c;
  font-weight: 700;
}

#prizes .card {
  min-height: 150px;
}

#prizes h6 {
  font-family: 'Raleway', sans-serif;
}

.card {
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card .card-reveal {
  border-radius: 10px;
}

.card-image {
  max-height: 100% !important;
  overflow: visible;
  align: center;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.5em;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  color: #ffffff;
}

.card-requirements {
  padding-top: 1rem;
  font-size: 1em;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  color: red;
}

.card-reveal .card-title {
  color: #424242;
}

.card-reveal p {
  text-align: left;
}

.card-content div:nth-of-type(1) {
  padding-top: 10px;
}

.card-content div {
  text-align: left;
}

.card .card-content .card-title {
  margin-bottom: 0px;
  line-height: 1em;
}

.card-reveal {
  color: black;
}

.activator {
  cursor: pointer;
}
#workshop-container .card .card-content {
  padding-left: 20px;
  padding-right: 20px;
}
/* Properly scale our text and icons on smaller screens,
and make images go away. */
@media screen and (max-width: 568px) {
  .card {
    margin-top: 7vh;
  }
  .card:nth-of-type(1) {
    margin-top: 4vh;
  }
  .card-title {
    font-size: 2.15em;
  }
  .card-content div {
    font-size: 1.35em;
  }
  .card-reveal p {
    font-size: 1.35em;
  }
  .card-reveal .card-title {
    font-size: 1.75em;
    line-height: 1.25em;
  }
  .material-icons {
    font-size: 36px;
    line-height: 60px;
  }
  .workshop-track {
    font-size: 2.5em;
  }
  .card-image img {
    height: 0px;
  }
  .btn-floating {
    width: 60px;
    height: 60px;
  }
}

.btn-margin {
  margin: 8px 0;
}

.tabs .tab a {
  color: #000;
}

.map-block {
  display: block;
}
.map-block img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.submission {
  padding: 2%;
}

#social-media {
  text-align: center;
}

.update-paginator /deep/ .ngx-pagination a {
  color: white;
}

.page-content {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #133753 50%, #000000 100%);
}

/* ====================== PLANETS ==================== */
#planet-container {
  position: relative;
}

#planet-blue,
#planet-orange,
#planet-pink {
  position: absolute;
  z-index: -1;
  width: 10vw;
}

@media screen and (max-width: 768px) {
  #planet-blue,
  #planet-orange,
  #planet-pink {
    width: 20vw;
  }

  #planet-orange {
    top: 0 !important;
  }

  #planet-blue {
    top: 8em !important;
  }

  #planet-pink {
    top: 12em !important;
  }
}

/* blue planet */
#planet-blue {
  top: 6em;
  left: 12%;
}

/* orange planet */
#planet-orange {
  top: -3em;
  left: 39%;
}

/* pink planet */
#planet-pink {
  top: 14em;
  right: 15%;
}

/* ====================== MOBILE FIXES ==================== */

.time-label {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .time-label {
    margin: 0 auto 0 1em;
    font-size: 18px;
  }

  #countdown-timer .font {
    font-size: 20px;
  }

  #countdown-timer .row {
    margin-bottom: 0.5em;
  }

  .number {
    margin-left: auto;
  }

  #hackpsu-logo {
    margin-bottom: 2em !important;
    max-width: 80%;
  }

  .header-text {
    font-size: 48px;
  }
}
