<div *ngIf="afAuth.authState | async as user; else showLogin">

</div>
<ng-template #showLogin>
    <!-- LOGIN FORM -->
    <div class="container-fluid login-container">
        <h6 class="logo text-center">Login</h6>
        <!-- Main Form -->
        <div class="row">
            <form #loginForm="ngForm" (ngSubmit)="loginEmail()" id="login-form" class="col s12">
                <div class="row">
                    <div class="login-group">
                        <div class="input-field s6">
                            <label for="lg_username" class="sr-only">Email</label>
                            <input type="email" required data-wrong="Enter valid email" class="validate" id="lg_username" autocomplete="email" name="lg_username"
                                   placeholder="username" [(ngModel)]="model.email">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">Password</label>
                            <input type="password" required class="form-control validate" id="lg_password" autocomplete="current-password" name="lg_password"
                                   placeholder="password" [(ngModel)]="model.password">
                        </div>
                    </div>
                    <button type="submit" class="login-button btn">Submit<i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>forgot your password? <a href="#">click here</a></p>
                </div>
            </form>
            <div *ngIf="errors" class="alert alert-danger">
                {{ errors.message }}
            </div>
        </div>
        <!-- end:Main Form -->
        <div class="row">
            <div class="col-offset-2 col-8">
                <a class="btn btn-block btn-social btn-google" (click)="login()">
                    <span class="fa fa-google"></span> Sign in with Google
                </a>
                <a class="btn btn-block btn-social btn-facebook" (click)="loginFacebook()">
                    <span class="fa fa-facebook"></span> Continue with Facebook
                </a>
                <a class="btn btn-block btn-social btn-github" (click)="loginGithub()">
                    <span class="fa fa-github"></span> Sign in with Github
                </a>
                <a class="btn btn-block btn-social btn-email" (click)="signup()">
                    <span class="fa fa-envelope"></span> Sign up with email
                </a>
            </div>
        </div>
    </div>
</ng-template>
