/* Login form styles */

:host {
    width: 50%;
    margin: 25px auto;
}
.text-center {
    align-self: center;
    margin: 0 auto;
    width: 50%;
}

@media screen and (min-width: 768px) {
    .login-container {
        max-width: 50%;
    }
}

.btn {
    background-color: #aacacc;
    color: #333333;
    margin: 10px;
}

.btn span {
    color: #C94331;
}

.btn:hover {
    background-color: #D0EAF1;
}

.login-button {
    margin: 0 auto;
    display: block;
}