@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Application-wide Styles */
h1 {
  color: #fff;
}
h2,
h3 {
  color: #444;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  font-family: Lato, Georgia, sans-serif;
  color: #fff;
}
p {
  color: #fff;
  font-family: Lato, Georgia, sans-serif;
}

.full-height {
  height: 100%;
}

.wrapper {
  /*align-items: stretch;*/
  /*display: flex;*/
  height: 100%;
  padding: 0;
}

.content {
  /*padding-bottom: 20px;*/
  /*padding-top: 20px;*/
  transition: all 0.3s;
  display: flex;
  /*flex: 1;*/
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.logo {
  margin: 10px 0;
  width: 70px;
}

.header {
  position: sticky;
  top: 15px;
  left: 15px;
  width: 100%;
}

/* This is used on the livesite when the MLH logo appears on the left side of the screen */
.navbar-mlh-hotfix {
  margin-left: auto;
  margin-right: 30px;
}

nav {
  padding-top: 20px;
  background-color: #002136af;
  box-shadow: none;
  height: 93px;
}

nav .brand-logo {
  display: block;
  margin-left: 5%;
  width: 45px;
  margin-top: 2px;
}

nav img {
  vertical-align: top;
}

nav ul li {
  line-height: 55px;
  letter-spacing: 0.05em;
}
nav .left {
  margin-left: 10vw;
}

nav .right {
  width: 15vw;
  margin-right: -0vw;
}

@media screen and (max-width: 768px) {
  .brand-logo {
    margin-left: 0px !important;
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #103147;
}

.mobile-login-button {
  margin: 12px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: #103147;

  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.mobile-login-button ::ng-deep .btn {
  margin-top: 0 !important;
}

.nav-wrapper {
  width: 95%;
}

@media screen and (max-width: 768px) {
  .nav-wrapper {
    width: 100%;
  }
}
