@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Application-wide Styles */
h1 {
  color: #fff;
}
h2, h3 {
  color: #444;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  font-family: Lato, Georgia, sans-serif;
  color: #fff;
}
p {
  color: #fff;
  font-family: Lato, Georgia, sans-serif;
}


.wrapper {
  /*align-items: stretch;*/
  /*display: flex;*/
  padding: 0;
}

.content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  /*flex: 1;*/
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.logo {
  margin: 10px 0;
 width: 70px;
}

.header {
  position: sticky;
  top: 15px;
  left: 15px;
  width: 100%;
}

nav {
  background-color: #B1C8CB;
  height: 60px;
}

nav .brand-logo {
  display: block;
  margin-left: 5%;
  width: 45px;
}

nav img{
  vertical-align: top;
  margin-top: 5px;
}

nav ul li {
  line-height: 55px;
  letter-spacing: .05em;
}
nav .left {
  margin-left: 11vw;
}

nav .right {
  width: 15vw;
  margin-right: -0vw;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #103147;
}
