<div class="wrapper">
  <ng-progress
    [color]="'#4286f4'"
    [trickleSpeed]="300"
    [spinner]="false"
    [thick]="true"
    [ease]="'easeOutExpo'"></ng-progress>
    <style>
      ul {
    text-align: center;
    }
    ul li {
        display: inline;
        float: none;
    }
    ul li a {
        display: inline-block;
    }

    nav .brand-logo{
      position: relative;
      margin-left: 0px;
    }

    #loginFix{
      padding: 0;
      margin:0;
    }


    </style>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
        <!--<li *ngIf="router.url === '/live'" class="scroller"> <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a></li> -->

          <li *ngIf="router.url === '/live'" class="scroller"><a href="#schedule">SCHEDULE</a></li>
          <li *ngIf="router.url === '/live'" class="scroller"><a href="#updates">UPDATES</a></li>          
          <li *ngIf="router.url === '/live'" class="scroller"><a href="#map-rules">INFO</a></li>

          <li *ngIf="router.url === '/live'" class="scroller"><a href="http://hackpsu.org" class="brand-logo" > <img src="../assets/images/logo.svg" alt="hackpsulogo"></a></li>

          <li *ngIf="router.url === '/live'" class="scroller"><a href="#prizes">PRIZES</a></li>
          <!-- <li *ngIf="router.url === '/live'" class="scroller"><a href="#workshops">WORKSHOPS</a></li> -->
          <li *ngIf="DateGuard.validateDate()"> <a routerLink="{{router.url === '/live' ? '/register' : '/live'}}"> {{router.url === '/live' ? 'REGISTER' : 'LIVE'}}</a></li>
          
          <li *ngIf="router.url === '/live'" class="scroller"><app-user-view></app-user-view></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="side-nav" *ngIf="DateGuard.validateDate()" id="mobile-demo" style="transform: translateX(-100%);">
    <li *ngIf="router.url === '/live'" class="scroller"><a href="#schedule">SCHEDULE</a></li>
    <li *ngIf="router.url === '/live'" class="scroller"><a href="#updates">UPDATES</a></li>
    <li *ngIf="router.url === '/live'" class="scroller"><a href="#map-rules">INFO</a></li>
    <li *ngIf="router.url === '/live'" class="scroller"><a href="#prizes">PRIZES</a></li>
    <li *ngIf="router.url === '/live'" class="scroller"><a href="#workshops">WORKSHOPS</a></li>
    <li *ngIf="DateGuard.validateDate()">
      <a routerLink="{{router.url === '/live' ? '/register' : '/live'}}">{{router.url === '/live' ? 'REGISTER' :
      'LIVE'}}</a>
    </li>
    <!--<li *ngIf="router.url !== '/register'">-->
      <!--<a class="dropdown-button" href="#!" data-activates="dropdown1-mobile">OTHER-->
        <!--<i class="material-icons right" style="width: 5vw;">arrow_drop_down-->
        <!--</i>-->
      <!--</a>-->
    <!--</li>-->
    <div class="mobile-login-button">
      <app-user-view></app-user-view>
    </div>
  </ul>
  <div class="content" [@routeAnimations]="prepareRoute(outlet)">
    <!--<div class="row full-height">-->
      <router-outlet #outlet="outlet"></router-outlet>
    <!--</div>-->
  </div>
</div>

<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="/travel">Travel Reimbursement</a></li>
  <li><a routerLink="/table">Table Assignment</a></li>
</ul>
<ul id="dropdown1-mobile" class="dropdown-content">
  <li><a routerLink="/travel">Travel Reimbursement</a></li>
  <li><a routerLink="/table">Table Assignment</a></li>
</ul>
<ngx-alerts></ngx-alerts>
