<!-- PROFILE VIEW-->
<div *ngIf="authService.authState | async as user">
  <div class="container-fluid">
    <!-- Main view -->
    <div class="card profile-container container">
      <div class="row profile-row">
        <div class="col m4 s12 col-m d-4 info-section">
          <div class="row justify-content-center">
            <p class="header-text">PROFILE</p>
          </div>
          <div class="row justify-content-center">
            <img
              class="profile-image circle"
              data-position="bottom"
              data-delay="50"
              attr.data-tooltip="{{ user?.displayName }}"
              [src]="getUserPhotoUrl(user)"
              alt="user-image"
            />
          </div>
          <ul
            materialize="collapsible"
            class="collapsible color-background"
            data-collapsible="accordion"
          >
            <li>
              <div class="collapsible-header profile-name">
                <p></p>
                <p></p>
                <p class="text-capitalize font-weight-bold">
                  {{ user.displayName || 'Your name here' }}
                </p>
                <i class="material-icons right">edit</i>
              </div>
              <div class="collapsible-body">
                <input
                  placeholder="Enter name"
                  id="name"
                  type="text"
                  class="validate"
                  autocomplete="name"
                  #nameInput
                />
                <a class="waves-effect waves-light btn" (click)="submitNewName(nameInput.value)"
                  >Submit</a
                >
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <p class="font-weight-bold">Email</p>
                <p>{{ user.email }}</p>
                <i class="material-icons right">edit</i>
              </div>
              <div class="collapsible-body">
                <input
                  placeholder="Enter new email"
                  id="email"
                  type="text"
                  class="validate"
                  autocomplete="name"
                  #emailInput
                />
                <a class="waves-effect waves-light btn" (click)="submitNewEmail(emailInput.value)"
                  >Submit</a
                >
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <p class="font-weight-bold">Password</p>
                <p>********</p>
                <i class="material-icons right">edit</i>
              </div>
              <div class="collapsible-body">
                <input
                  placeholder="Enter new password"
                  id="password"
                  type="password"
                  class="validate"
                  #passwordInput
                />
                <input
                  placeholder="Confirm password"
                  id="password-confirm"
                  type="password"
                  class="validate"
                  #passwordConfirmInput
                />
                <a
                  class="waves-effect waves-light btn"
                  (click)="submitNewPassword(passwordInput.value, passwordConfirmInput.value)"
                  >Submit</a
                >
              </div>
            </li>
          </ul>
          <div class="justify-content-between flex">
            <p class="font-weight-bold">Check in Pin</p>
            <p *ngIf="currentPin !== null">{{ currentPin }}</p>
            <p *ngIf="currentPin === null">
              No active pin. Don't forget to <a href="/register">register</a>!
            </p>
            <!-- Here for aligning things -->
            <p></p>
            <p></p>
          </div>
          <hr />
          <div class="justify-content-between flex">
            <p class="font-weight-bold">Last signed in on</p>
            <p>{{ user.metadata.lastSignInTime }}</p>
          </div>
          <hr />
        </div>
        <div class="col m8 s12 col-md-8">
          <app-user-registration-view></app-user-registration-view>
        </div>
      </div>
    </div>
  </div>
</div>
