/* Login form styles */

:host {
  width: 100%;
  margin: auto;
}

.header-text {
  font-size: large;
}

.text-center {
  align-self: center;
  margin: 0 auto;
  width: 50%;
}

.logo {
  margin-bottom: 10px;
}

.form-control {
  color: white;
}

.preloader-wrapper {
  margin: 0 auto;
  display: block;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 2px solid #fff;
  border-right-width: 8px;
  border-left-width: 8px;
  border-radius: 12px;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

.btn:disabled {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: #9f9f9f !important;
}

/* Removes the faint grey line next to the media icon on buttons */
.btn > :first-child {
  border-right: none;
}

.btn .fa:before {
  color: #fff;
}

.card {
  border: none;
}

.btn:hover {
  background-color: #ffffff;
  color: #333333;
}

.login-button {
  margin: 0 auto;
  display: block;
}

.spinner-layer {
  border-color: white;
}

.alert-danger {
  background-color: #a54848;
}

.profile-container {
  display: flex;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 2rem auto 0;
}

.profile-row {
  width: 100%;
  margin: 0;
}

.info-section {
  padding: 2rem;
  flex-basis: auto;
  background-color: #333333;
}

.collapsible-header {
  background-color: #333333;
  border-bottom: 1px solid #666666;
  padding: 1rem 0 1rem 0;
  justify-content: space-between;
}

.collapsible-body {
  border: none;
}

.collapsible {
  border: none;
  border-top: 1px solid #666666;
  box-shadow: none;
  display: block;
}

.flex {
  display: flex;
}

.profile-image {
  height: 10em;
  width: 10em;
}

.profile-name {
  font-size: x-large;
}

p {
  margin-bottom: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #5b5b5b;
  margin: 1em 0;
  padding: 0;
}
