$font-stack-primary: 'Lato', sans-serif;
$font-stack-secondary: 'Raleway', sans-serif;
$font-stack-tertiary: 'Cornerstone', sans-serif;

/* ====================== CONSTANTS ==================*/
$white: #FFFFFF;
$orange: #E5705C;
$light-blue-primary: #6C88B7;
$dark-blue-primary: #133753;
$light-blue: #AACACC;
$dark-blue-secondary: #24577C;
$dark-blue-tertiary: #00324B;
$light-blue-secondary: #D0EAF1;
$orange-secondary: #C94331;
$gray: #333333;
$mountain-blue: #297284;

$xl-break: 1440px;
$lg-break: 992px;
$md-break: 768px;
$sm-break: 576px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 1200px;

@font-face {
  font-family: 'Cornerstone';
  src:         url('../assets/fonts/Cornerstone.ttf');
}

/* ====================== MIXINS ====================*/
@mixin accent($color) {
  color:            $color;
  background-color: $color;
}

@mixin accent-text($color) {
  color: $color;
}

@mixin background-size($style) {
  background-size:         $style;
  -webkit-background-size: $style;
  -moz-background-size:    $style;
  -o-background-size:      $style;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time;
  -moz-transition:    $property $time;
  -ms-transition:     $property $time;
  -o-transition:      $property $time;
  transition:         $property $time;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


header {
  @include background-size(cover);
  background-image: linear-gradient(180deg, #89f7fe 0%, #fff 100%);  }

.landing {
  .holder {
    padding-top: 22%;

    .logo-holder {
      position: absolute;
      width: 25%;
      left: 0;
      right: 0;
      top: 2.5vh;
      margin: auto;
      z-index: 400;
      img {
        content: url("../assets/images/logo-daytime.svg");
      }
      img:after {
        content: url("../assets/images/logo-daytime.svg");
      }
    }
    .celestial-body {
      position: absolute;
      width: 13.5%;
      left: 8%;
      right: 0;
      top: 11.5vh;
      margin: 0;
      img {
        content: url("../assets/images/flat-sun-icon.svg");
      }
      img:after {
        content: url("../assets/images/flat-sun-icon.svg");
      }
      @media screen and (max-width: $break-small){
        display: none;
      }
    }
    @media screen and (max-width: $lg-break){
      padding-top: 25%;
    }
    @media screen and (max-width: $break-large) {
      height: auto;
    }
    @media screen and (max-width: $sm-break) {
      padding-top: 40%;
      .logo-holder {
        width: 45%;
      }
    }
  }

  .header-text {
    font-family:   $font-stack-tertiary;
    @include responsive-font(.85em, .8em, 1.25em, 1em);
    max-font-size: 2em;

    p {
      text-align:  start;
      padding:     0;
      line-height: 1em;
      transition:  all 0.4s;
      color:       #424242;
      white-space: nowrap;
    }
    .bottom-bar {
      width:            100%;
      height:           5px;
      transition:       all 0.4s;
      background-color: white;
    }
  }

  /* Some CSS I made up to get that wrapped box effect in the header.
  This can be applied to any text structured in the same way as the
  event info. */
  .wrapped-box {
    p span {
      @include accent-text($white);
      background: $mountain-blue;
      border: solid 1px $mountain-blue;
      border-radius: 0px 15px 15px 0px;
      padding: 10px;
      padding-bottom: 4px;
      font-weight: 400;
    }
    p:first-of-type span {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 15px;
    }
    p:last-of-type span {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 15px;
    }
  }

  .header-graphic {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    .cloud-1 {
      position: absolute;
      width: 48%;
      height: 22%;
      top: -2%;
      left: 33%;
      z-index: 100;
      background-image: url("../assets/images/cloud-2.svg");
      background-repeat: no-repeat;
      background-size: 65%;
    }
    .cloud-2 {
      position: absolute;
      width: 43%;
      height: 22%;
      top: 20%;
      right: -8%;
      z-index: 300;
      background-image: url("../assets/images/cloud-1.svg");
      background-repeat: no-repeat;
      background-size: 65%;
    }
    .cloud-3 {
      position: absolute;
      width: 28%;
      height: 22%;
      top: 30%;
      left: 10%;
      z-index: 300;
      background-image: url("../assets/images/cloud-5.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 65%;
    }
    .mountain {
      position: relative;
      top: 0px;
      margin: auto;
      width: 100%;
      // padding-right: 5%;
      z-index: 200;
      content: url("../assets/images/flat-mountain-graphic-snow.svg");
    }
    .mountain:after {
      content: url("../assets/images/flat-mountain-graphic-snow.svg");
    }
    @media screen and (max-width: $lg-break) {
      .mountain {
        margin-top: 10vh;
      }
      .cloud-1, .cloud-2, .cloud-3 {
        margin-top: 6vh;
      }
    }

  }

}

.section-separator {
  background: #FFFFFF;
}

.first-border {
  content: url("../assets/images/section-sep-1-mountain.svg");
}
.first-border::after {
  content: url("../assets/images/section-sep-1-mountain.svg");
}

.first-border:after {
  content: url("../assets/images/border2-whitebg.svg");
}

.second-border {
  position: relative;
  top: -5px;
  left: -0.5%;
  width: 101%;
  content: url("../assets/images/border6.svg");
}

.second-border:after{
  content: url("../assets/images/border6.svg");
  @-moz-document url-prefix() {
    content: url("../assets/images/border6-night.svg");
  }
}

.third-border {
  position: relative;
  top: 7px;
  left: -0.5%;
  width: 101%;
  content: url("../assets/images/border7.svg");
}

.third-border:after {
  content: url("../assets/images/border7.svg");
  @-moz-document url-prefix() {
    content: url("../assets/images/border7-night.svg");
  }
}

#about {
  background: white;
  //background-color: #103147;
  // This margin removes that thin white line that appears at some screen sizes where the
  // above section meets the about section.
  margin-top: -1px;
  @media screen and (max-width: $md-break) {
      padding-top: 10%;
  }
  .header-text {
    color: #424242;
  }
  .section-header {
    text-align: left;
    margin: 0%;
  }
  .header-bar {
    background-color: #24577C;
    width: 30%;
    margin: 0%;
    @media screen and (max-width: $sm-break) {
      width: 100%;
    }
  }
  p {
    font-family: 'Lato', sans-serif;
    font-size:   3vh;
    font-weight: 100;
    text-align:  left;
    padding-top: 5vh;
    line-height: 1.85em;
    color: #424242;

    span {
      @include accent-text($dark-blue-secondary);
      font-weight: 800;
    }
  }
}

/* Sponsors */

#sponsors {
  position: relative;
  top: -10px;
  padding-top: 50px;
  background: #FFFFFF;
  @-moz-document url-prefix() {
    background: $dark-blue-tertiary;
  }
  .header-text {
    color: #424242;
    @-moz-document url-prefix() {
      color: #e5e5e5;
    }
  }
  .header-bar {
    background: #24577C;
  }
  .gold img {
    max-width: 45%;
  }
  .silver img {
    max-width: 55%;
  }
  .bronze img {
    max-width: 50%;
  }
}
//.psuit-day {
//  content: url("../assets/images/sponsors/PSUIT_original.svg");
//}
//.gm-day {
//  content: url("../assets/images/sponsors/GM-day.svg");
//}
//
//.oracle-day {
//  content: url("../assets/images/sponsors/Oracle-day.svg");
//  margin-top: 10%;
//}

//// Oracle override
//#sponsors .gold .oracle-day {
//  max-width: 100%;
//}

.pwc-day {
  content: url("../assets/images/sponsors/PWC_original.svg");
}
.ecoreps-day {
   content: url("../assets/images/sponsors/ecoreps_original.svg");
 }
.eecs-day {
  content: url("../assets/images/sponsors/eecs_blue.svg");
}