/* ====================== CONSTANTS ==================== */

/* font stacks */
$font-stack-primary: 'Lato', sans-serif;
$font-stack-secondary: 'Raleway', sans-serif;
$font-stack-tertiary: 'Cornerstone', sans-serif;

/* colors */
$white: #FFFFFF;
$orange: #E5705C;
$light-blue-primary: #87CEEB;
$dark-blue-primary: #020A21;
$light-blue: #AACACC;
$dark-blue-secondary: #24577C;
$light-blue-secondary: #D0EAF1;
$orange-secondary: #C94331;
$gray: #333333;
$mountain-blue: #297284;

/* faq colors */
$pale-blue-link: #99C4CC;
$red-plus: #C94331;
$grayish-white-question: #E1E9EA;

/* sizing */
$xl-break: 1440px;
$lg-break: 992px;
$md-break: 768px;
$sm-break: 576px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 1200px;

@font-face {
  font-family: 'Cornerstone';
  src: url('../assets/fonts/Cornerstone.ttf');
}



/* ====================== MIXINS ==================== */
@mixin accent($color) {
  color: $color;
  background-color: $color;
}

@mixin accent-text($color) {
  color: $color;
}

@mixin background-size($style) {
  background-size: $style;
  -webkit-background-size: $style;
  -moz-background-size: $style;
  -o-background-size: $style;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  -ms-transition: $property $time;
  -o-transition: $property $time;
  transition: $property $time;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}



/* ====================== COMPONENTS ==================== */
body {
  font-family: $font-stack-primary;
  color: white;
  font-size: xx-large;
  text-align: center;
  overflow-x: hidden;
  background: $dark-blue-primary;
  width: 100%;

  a:hover {
    text-decoration: none;
  }

  .center {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .section-header {
    font-family: $font-stack-tertiary;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 50%;

    .header-text {
      font-size: 6vh;
    }

    .header-bar {
      width: 40%;
      height: 5px;
      margin: auto;

      @media screen and (max-width: $sm-break) {
        width: 100%;
      }
    }

    @media screen and (max-width: $sm-break) {
      width: 100%;
    }
  }
}

/* ID Based Selectors */
#mlh-trust-badge {
  position: absolute;
  float: right;
  height: 120px;
  margin-top: 0;

  @media screen and (max-width: $break-medium) {
    width: 12%;
    right: 5% !important;
  }
}

.landing {
  .holder {
    padding-top: 22%;

    .logo-holder {
      position: absolute;
      width: 8em;
      left: 0;
      right: 0;
      top: 2.5vh;
      margin: auto;
      z-index: 400;

      @media screen and (max-width: $md-break) {
        margin-top: 0.5em;
        width: 75% !important;
      }
    }


    @media screen and (max-width: $lg-break){
      padding-top: 25%;
    }

    @media screen and (max-width: $break-large) {
      height: auto;
    }

    @media screen and (max-width: $sm-break) {
      padding-top: 55%;
      .logo-holder {
        width: 50% !important;
      }
    }


    .cloud-1 {
      position: absolute;
       width: 12.5%;
       left: 7%;
       right: 0;
       top: 11.5vh;
       margin: 0;

       @media screen and (max-width: $break-small){
         display: none;
       }
    }

    .header-content {
      .event-info {
        padding-top: 6vh;

        div {
          padding-left: 0;
        }
      }

      .cta {
        padding-top: 5vh;
        @media screen and (max-width: $sm-break) {
          padding-bottom: 5.5vh;
        }
      }
    }

    .planet {
      position: relative;
      height: 13vh;
      top: calc(-8px - 1.5vh);
      left: -50px;

      @media screen and (max-width: $md-break) {
        left: -0.75em;
      }

      &.animated {
        animation-name: planet_floating;
        animation-duration: 2s;
        animation-iteration-count: 2;
      }
    }

    .header-text {
      font-family:   $font-stack-tertiary;
      @include responsive-font(.85em, .8em, 1.25em, 1em);
      max-font-size: 2em;

      p {
        text-align:  start;
        padding:     0;
        line-height: 1em;
        transition:  all 0.4s;
        color:       #424242;
        white-space: nowrap;
      }
    }

    .wrapped-box {
      p {
        position: relative;
        z-index: 100;
        margin-bottom: 18px;
      }

      p:first-of-type {
        z-index: 200;
      }

      p:last-of-type {
        z-index: 200;
      }

      p span {
        @include accent-text(#424242);
        background: white;
        border: solid 8px rgba(170, 202, 204, 0.6);
        border-radius: 0 15px 15px 0;
        padding: 10px 10px 4px 10px;
        font-weight: 400;
      }

      p:first-of-type span {
        border-bottom-width: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 15px;
        z-index: 200;
      }

      p:last-of-type span {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        z-index: 200;
      }

      @media screen and (max-width: 1121px) {
        p {
          line-height: .95em;
        }
      }
    }

    .register-btn {
      @include transition(all, 0.4s);
      box-sizing: border-box;
      height: 10vh;
      background: #BC6A45;
      border: solid 8px #8A4D2F;
      border-radius: 50px;
      margin-bottom: 2vh;
      width: 10em;
      cursor: pointer;

      .row {
        justify-content: center !important;
      }

      @media screen and (max-width: $md-break) {
        left: 0 !important;
        width: 100% !important;
        margin: 0 0 1em 0 !important;
      }

      &:hover {
        @include transition(all, 0.4s);
        background: #d47f58;
      }

      .header-text p {
          /* This centers text in button. Typically this should be equal
          to the height of the button, however the border throws it off. */
          line-height: 9vh;
      }

      .register-btn-text {
        color: black;
      }

      .header-content {
        .event-info {
          padding-top: 6vh;

          div {
            padding-left: 0;
          }
        }

        .event-info div {
          padding-left: 0;
        }

        .cta {
          padding-top: 5vh;

          @media screen and (max-width: $sm-break) {
            padding-bottom: 5.5vh;
          }
        }
      }

      .header-hover {
        &:hover {
          @include transition(all, 0.4s);

          p {
            color: $light-blue-primary;
          }
        }
      }
    }
  }
}

.page-content {
  position: absolute;
  z-index: 100;
  width: 100%;
  overflow-x: hidden;
}

.section-separator-first img {
  margin-top: -15%;
  @media screen and (max-width: $break-large) {
    margin-top: 0;
  }
}

.row {
  margin-bottom: 0;
}

@-webkit-keyframes planet_floating {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  33% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
  }
  66% {
    transform: translateY(2vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}

@-moz-keyframes planet_floating {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  33% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
  }
  66% {
    transform: translateY(2vh);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}

@keyframes planet_floating {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateY(-1vh);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateY(1vh);
    animation-timing-function: ease-in;
  }
}

#saloon {
  position: absolute;
  width: 120vw;
  left: -18vw;
  top: 6em;
  z-index: -1;

  @media screen and (max-width: $md-break) {
    width: 200vw;
    left: -63vw;
    top: -0.5em;
    position: relative;
  }
}

/* ====================== ABOUT SECTION ==================== */
#about {
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;

  @media screen and (max-width: $md-break) {
    margin-top: 5%;
  }

  .header-text {
    color: white;
  }

  .section-header {
    text-align: left;
    margin: 0;
  }

  .header-bar {
    background-color: #718a9a;
    width: 30%;
    margin: 0;

    @media screen and (max-width: $break-small){
      width: 100%;
    }
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-weight: 100;
    text-align: left;
    padding-top: 5vh;
    line-height: 200%;
    color: white;

    span {
      font-weight: 800;
      font-size: 3.2vh;
    }
  }
}

#about_text_container {
  position: absolute;
  text-align: left;
  top: 15%;
  width: 50vw;
  height: 70%;
  overflow-y: auto;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $md-break) {
    width: 85% !important;
  }
}

#hacky {
  position: absolute;
  top: -22%;
  right: 33%;
  width: 3vw;

  @media screen and (max-width: $md-break) {
    display: none;
  }
}

#astronaut_laptop {
  position: absolute;
  top: -10%;
  left: 40%;
  width: 10vw;

  @media screen and (max-width: $md-break) {
    width: 20vw;
    left: 20%;
  }
}

#astronaut_swim {
  position: absolute;
  left: 3vw;
  top: 30vh;
  width: 12vw;

  @media screen and (max-width: $md-break) {
    display: none;
  }
}

#astronaut_wave {
  position: absolute;
  right: 3vw;
  top: 60vh;
  width: 10vw;

  @media screen and (max-width: $md-break) {
    display: none;
  }
}

#moon {
  width: 65vw;

  @media screen and (max-width: $md-break) {
    width: 100%;
  }
}

#rocket_flying {
  position: absolute;
  z-index: -1;
  right: 26vw;
  top: 12vh;
  width: 6vw;

  @media screen and (max-width: $md-break) {
    display: none;
  }
}

#rocket_docked {
  position: absolute;
  top: -30%;
  right: 20%;
  width: 30vw;

  @media screen and (max-width: $md-break) {
    width: 50vw;
    right: 5%;
    top: -14vh;
  }
}

/* fixes the dreaded line between the first
border and the section separator bar */
.first-border {
  width: calc(100% + 1px);
  transform: translateY(1px);
}

.floating {
  animation-name:            floating;
  animation-duration:        3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating:nth-child(2) {
  animation-delay: -1s;
}

@keyframes floating {
  0% {
    transform: translateY(2vh) rotate(30deg);
  }
  50% {
    transform: translateY(-2vh) rotate(30deg);
  }
  100% {
    transform: translateY(2vh) rotate(30deg);
  }
}

.flying {
  animation-name: flying;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes flying {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    transform: translate(40vw, -40vw) rotate(45deg);
  }
}


/* ====================== PLANETS ==================== */
#planet-container {
  position: relative;
}

#planet-1, #planet-2, #planet-3, #planet-4, #planet-5, #satellite {
  position: absolute;
  z-index: -1;
  width: 10vw;

  @media screen and (max-width: $md-break) {
    width: 20vw;
  }
}

#planet-1 {
  top: 40em;
  left: 10%;

  @media screen and (max-width: $md-break) {
    top: 25em;
  }
}

#planet-2 {
  top: 30em;
  right: 20%;

  @media screen and (max-width: $md-break) {
    top: 20em;
  }
}

#planet-3 {
  top: 40em;
  right: 10%;

  @media screen and (max-width: $md-break) {
    top: 40em;
    left: 30%;
  }
}

#planet-4 {
  top: 60em;
  right: 2%;

  @media screen and (max-width: $md-break) {
    top: 35em;
  }
}

#planet-5 {
  top: 50em;
  left: 2%;

  @media screen and (max-width: $md-break) {
    top: 30em;
  }
}

#satellite {
  top: 75em;
  left: 20%;

  @media screen and (max-width: $md-break) {
    top: 35em;
    left: 30%;
  }
}



/* ====================== TRACKS ==================== */
#tracks {
  padding-top: 10vh;

  .header-bar {
    background-color: $mountain-blue;
    margin-bottom: 0px;
  }

  .track-header {
    font-family: $font-stack-tertiary;
    font-size: 1em;
    text-align: center;
    padding-top: 5vh;
  }

  .track-content {
    font-size: .6em;
    line-height: 1.35em;
    padding-top: 5vh;
  }

  .track-img {
    width: 18%;
  }


  .register-btn {
    @include transition(all, 0.4s);
    height: 10vh;
    background: transparent;
    border: 8px rgba(170, 202, 204, 0.6);
    border-radius: 50px;
    margin: 5vh 2vh;
    font-size: smaller;

    &:hover {
      @include transition(all, 0.4s);
      background: rgba(170, 202, 204, 1);
    }
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: .6em;
    font-weight: 100;
    text-align: left;
    line-height: 200%;
    color: white;

    span {
      font-weight: 800;
      font-size: 3.2vh;
    }
  }
}



/* ====================== FAQ ==================== */
#faqs {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;

  .header-bar {
    background-color: $mountain-blue;
    margin-bottom: 20px;
  }

  #location {
    margin-top: 30px;
  }

  #location .title {
    font-size: x-large;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    color: white;
    font-weight: 700;
  }

  #location p {
    font-size: large;
    text-align: left;
    font-weight: 500;
  }

  .horizontal-line {
    position: relative;
    background-color: #B7C7CA;
    height: 2px;
    width: 100%;
  }

  .question-container {
    margin-top: 10px;
    padding: 0 10%;
  }

  @media screen and (max-width: 768px) {
    .question-container {
      padding: 0;
    }
  }
  .question + .fa-chevron-right {
    display:    inline-block;
    margin-top: 10px;
  }
  .question:before {
    font-family:  "Font Awesome 5 Free", cursive;
    display:      inline-block;
    font-size:    large;
    margin-right: 5px;
    content:      "\f067";
    color:        $red-plus;
    transition:   all 0.3s;
  }

  .open:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .question {
    background: $grayish-white-question;
    border: solid 1px $mountain-blue;
    border-radius: 7px 7px 7px 7px;
    color: #004D6D;
    text-align: left;
    padding: 10px;
    cursor: hand;
    font-size: large;
  }

  .faq-answer {
    color: white;
    display: none;
    font-weight: lighter;
    font-size: medium;
    margin: 0 4%;
    text-align: left;
    padding-bottom: 4%;
  }

  .faq-answer a {
    color: $pale-blue-link;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .faq-answer a:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  #map-container {
    width: 90%;
    height: 400px;
    margin: auto auto 2vh;
    p {
      color: $gray;
    }
  }
}



/* ====================== SCHEDULE ==================== */
#schedule {
  color:            white;
  font-family:      'Lato', sans-serif;
  font-weight:      bold;
  padding-top:      50px;
  padding-bottom:   50px;
  // background-color: #194E6B;

  .header-bar {
    background-color: $mountain-blue;
  }

  .schedule-right {
  padding-left: 10%;
  border-left: 3px solid #F5F5F5;
  }

  @media screen and (max-width: 768px) {
    .schedule-right {
      padding-left: 0px;
      border: none;
    }
    .schedule-right div {
      padding-top: .5vh;
    }

    .schedule-left {
      padding-top: 10px;
    }
    .schedule-left div {
      padding-top: .5vh;
    }

    .schedule-header {
      margin-top: 3%;
    }
  }

  .time-event-text {
    margin-top: 5px;
    @media screen and (max-width: $sm-break) {
      font-size: large;
    }
  }

  .event-center {
    display:      inline;
    margin-top:   10px;
    font-weight: lighter;
    font-size:   large;
    margin:      0 4%;
    text-align: center;
  }

  .nav-pills {
    margin-bottom: 12px;
  }

  .nav-pills > li > a {
    color: #fff;
    // background-color: #194E6B;
    margin-left: 24px;
    margin-right: 24px;
  }

  .nav-pills > li > a.active, .nav-pills > active > a.active:focus {
    color: #194E6B;
    background-color: #fff;
  }

  .nav-pills > li > a:hover, .tab-content > .tab-pane > .row > .col-8:hover {
    color: steelblue;
  }

  #schedule-tab-view {
    margin-top: 12px;
    @media screen and (max-width: $sm-break) {
      font-size: large;
    }
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: .6em;
    font-weight: 100;
    text-align: center;
    line-height: 200%;
    color: white;

    span {
      font-weight: 800;
      font-size: 3.2vh;
    }
  }
}



/* ====================== SPONSORS ==================== */
#sponsors {
  padding-top: 50px;
  position: relative;

  .header-text {
    color: #424242;
  }

  .header-bar {
    background: #24577C;
  }

  .header-text {
    color: #FFFFFF;
  }

  .header-bar {
    background: $dark-blue-secondary;
  }

  .platinum img {
    max-width: 75%;
  }

  .gold img {
    max-width: 60%;
  }

  .silver img {
    max-width: 55%;
  }

  .bronze img {
    max-width: 50%;
  }

  .microsoft{
    padding-top: 1%;
    @media screen and (max-width: $md-break) {
      height: fit-content;
      width: fit-content;
    }
  }
  .nittany-ai{
    padding-top: 10%;
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
  }

  .plant-village{
    padding-top: 28%;
    @media screen and (max-width: $md-break) {
      padding-top: 20%;
      width: 60%;
    }
  }

  .capital-one{
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 10%;
  }

  .sticker-mule {
    @media screen and (max-width: $md-break) {
      padding-top: 20%;
      max-width: 40%;
      max-height: 40%;
    }
    padding-top: 33%;
    max-width: 45%;
    max-height: 45%;
  }

  .jetbrains{
    padding-top: 10%;
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
  }

  .startup {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 10%;
  }

  .linode {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 8%;
  }

  .loop-sw {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 28%;
  }

  .smeal{
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 10%;
  }

  .echoAR {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 8%;
  }

  .ics {
    @media screen and (max-width: $md-break) {
      width: 60%;
      background-size: 300px 300px;
    }
    padding-top: 0%;
  }

  .psu-cie {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 35%;
  }

  .hvc {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 30%;
  }

  .psu-it {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 30%;
  }

  .eecs {
    @media screen and (max-width: $md-break) {
      width: 60%;
    }
    padding-top: 10%;
  }
}




/* ====================== FOOTER ==================== */

#footer {
  position: relative;

  #footer-link-container {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vw;

    @media screen and (max-width: $md-break) {
      bottom: 1em;
    }
  }

  #footer-mobile-padding {
    @media screen and (max-width: $md-break) {
      height: 3em;
      background: $light-blue-primary;
    }
  }

  .social-media-icon {
    width: 3em;
  }

  .row {
    width: 100%;
  }

  p {
    font-size: medium;
    display: inline-block;
    margin: auto;
  }

  a {
    @extend p;
    color: white;
  }

  .small-text {
    font-size: small;
  }

  img {
    @media screen and (max-width: $md-break) {
      transform: translateY(2px);
    }
  }
}



/* ====================== PARTICLES.JS ==================== */
#particles-js{
  width: 100%;
  height: 300%;
  background-position: fixed;
  background-image: url("/../assets/images/background3.png");
  background-position-y: 400px;
  background-color: $light-blue-primary;
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
