$font-stack-primary: 'Lato', sans-serif;
$font-stack-secondary: 'Raleway', sans-serif;
$font-stack-tertiary: 'Cornerstone', sans-serif;

/* ====================== CONSTANTS ==================*/
$white: #FFFFFF;
$orange: #E5705C;
$light-blue-primary: #6C88B7;
$dark-blue-primary: #133753;
$light-blue: #AACACC;
$dark-blue-secondary: #24577C;
$dark-blue-tertiary: #00324B;
$light-blue-secondary: #D0EAF1;
$orange-secondary: #C94331;
$gray: #333333;
$mountain-blue: #297284;

$xl-break: 1440px;
$lg-break: 992px;
$md-break: 768px;
$sm-break: 576px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 1200px;

@font-face {
  font-family: 'Cornerstone';
  src:         url('../assets/fonts/Cornerstone.ttf');
}

/* ====================== MIXINS ====================*/
@mixin accent($color) {
  color:            $color;
  background-color: $color;
}

@mixin accent-text($color) {
  color: $color;
}

@mixin background-size($style) {
  background-size:         $style;
  -webkit-background-size: $style;
  -moz-background-size:    $style;
  -o-background-size:      $style;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time;
  -moz-transition:    $property $time;
  -ms-transition:     $property $time;
  -o-transition:      $property $time;
  transition:         $property $time;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

header {
  @include background-size(cover);
  background: url("../assets/images/stars.svg") no-repeat, linear-gradient(0deg, #24577c 0%,#24577c 45%,#133753 69%,#000000 100%);
}

.landing {
  .holder {
    padding-top: 22%;

    .logo-holder {
      position: absolute;
      width: 25%;
      left: 0;
      right: 0;
      top: 2.5vh;
      margin: auto;
      z-index: 400;
      img {
        content: url("../assets/images/logo-all-white-no-padding.svg");
      }
      img:after {
        content: url("../assets/images/logo-all-white-no-padding.svg");
      }
    }
    .celestial-body {
      position: absolute;
      width: 12.5%;
      left: 7%;
      right: 0;
      top: 11.5vh;
      margin: 0;
      img {
        content: url("../assets/images/moon.svg");
      }
      img:after {
        content: url("../assets/images/moon.svg");
      }
      @media screen and (max-width: $break-small){
        display: none;
      }
    }
    @media screen and (max-width: $lg-break){
      padding-top: 25%;
    }
    @media screen and (max-width: $break-large) {
      height: auto;
    }
    @media screen and (max-width: $sm-break) {
      padding-top: 55%;
      .logo-holder {
        width: 60%;
      }
    }
  }

  .header-text {
    font-family:   $font-stack-tertiary;
    @include responsive-font(1em, .7em, 1.5em, 1em);
    max-font-size: 2em;

    p {
      text-align:  start;
      padding:     0;
      line-height: 1em;
      transition:  all 0.4s;
      color:       #424242;
      white-space: nowrap;
    }
    .bottom-bar {
      width:            100%;
      height:           5px;
      transition:       all 0.4s;
      background-color: white;
    }
  }

  /* Some CSS I made up to get that wrapped box effect in the header.
  This can be applied to any text structured in the same way as the
  event info. */
  .wrapped-box {
    p {
      position: relative;
      z-index: 100;
      margin-bottom: 18px;
    }
    p:first-of-type {
      z-index: 200;
    }
    p:last-of-type {
      z-index: 200;
    }
    p span {
      @include accent-text(#424242);
      background: white;
      border: solid 8px rgba(170, 202, 204, 0.6);
      border-radius: 0px 15px 15px 0px;
      padding: 10px;
      padding-bottom: 4px;
      font-weight: 400;
    }
    p:first-of-type span {
      border-bottom-width: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 15px;
      z-index: 200;
    }
    p:last-of-type span {
      border-top-width: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 15px;
      z-index: 200;
    }
    @media screen and (max-width: 1121px) {
      p {
        line-height: .95em;
      }
    }
  }

  .header-graphic {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    .cloud-1 {
      position: absolute;
      width: 48%;
      height: 22%;
      top: -2%;
      left: 33%;
      z-index: 100;
      background-image: url("../assets/images/cloud-2-night.svg");
      background-repeat: no-repeat;
      background-size: 65%;
    }
    .cloud-2 {
      position: absolute;
      width: 43%;
      height: 22%;
      top: 20%;
      right: -8%;
      z-index: 300;
      background-image: url("../assets/images/cloud-1-night.svg");
      background-repeat: no-repeat;
      background-size: 65%;
    }
    .cloud-3 {
      position: absolute;
      width: 28%;
      height: 22%;
      top: 30%;
      left: 10%;
      z-index: 300;
      background-image: url("../assets/images/cloud-5-night.svg");
      background-repeat: no-repeat;
      background-size: 65%;
    }
    .mountain {
      position: relative;
      top: 0px;
      margin: auto;
      width: 100%;
      // padding-right: 5%;
      z-index: 200;
      content: url("../assets/images/flat-mountain-graphic-snow-night.svg");
    }
    .mountain:after {
      content: url("../assets/images/flat-mountain-graphic-snow-night.svg");
    }

  }

}

.first-border{
  content: url("../assets/images/border2-night.svg");
}

.first-border:after {
  content: url("../assets/images/border2-night.svg");
}


.second-border {
  content: url("../assets/images/border6-night.svg");
}

.second-border:after{
  content: url("../assets/images/border6-night.svg");
}

.third-border {
  content: url("../assets/images/border7-night.svg");
}

.third-border:after {
  content: url("../assets/images/border7-night.svg");
}

#about {

  background: linear-gradient(0deg, #3581b7 10%, #2a6590 69%, #24577c 100%);
  /*//background-color: #103147;*/
  padding-bottom: 5%;
  @media screen and (max-width: $md-break) {
      padding-top: 10%;
  }
  .header-text {
    color: white;
  }
  .section-header {
    text-align: left;
    margin: 0%;
  }
  .header-bar {
    background-color: #718a9a;
    width: 30%;
    margin: 0%;
    @media screen and (max-width: $break-small){
      width: 100%;
    }
  }
  p {
    font-family: 'Lato', sans-serif;
    font-size:   3vh;
    font-weight: 100;
    text-align:  left;
    padding-top: 5vh;
    line-height: 200%;
    color: white;
    span {
      //@include accent-text(#718a9a);
      font-weight: 800;
      font-size: 3.2vh;
    }
  }
}

/* Sponsors */

#sponsors {
  padding-top: 50px;
  background: $dark-blue-tertiary;
  .header-text {
    color: #FFFFFF;
  }
  .header-bar {
    background: $dark-blue-secondary;
  }
  .gold img {
    max-width: 60%;
  }
  .silver img {
    max-width: 55%;
  }
  .bronze img {
    max-width: 50%;
  }
}

.gm-night {
  content: url("../assets/images/sponsors/GM-night.svg");
}

.google-night {
  content: url("../assets/images/sponsors/gcs-night.svg");
}

.ibm-night {
  content: url("../assets/images/sponsors/IBM-night.svg");
}

.amazon-night {
  content: url("../assets/images/sponsors/aws-night.svg");
}

.investpsu-night {
  content: url("../assets/images/sponsors/InventPSU-night.svg");
}

.eecs-night {
  content: url("../assets/images/sponsors/EECS-night.svg");
}

.nittany-ai-night {
  content: url("../assets/images/sponsors/nittany-ai-night.svg");
}

.psuit-night {
  content: url("../assets/images/sponsors/psuit-night.svg");
}

.kcf-night {
  content: url("../assets/images/sponsors/KSF_Technologies-night.svg");
  &:after {
    content: url("../assets/images/sponsors/KSF_Technologies-night.svg");
  }
}

.vanguard-night {
  content: url("../assets/images/sponsors/Vanguard-night.svg");
}

.capitalone-night {
  content: url("../assets/images/sponsors/Capital_One-night.svg");
}

.accuweather-night {
  content: url("../assets/images/sponsors/Accuweather-night.svg");
  padding-top: 10%;
}

.ics-night {
  content: url("../assets/images/sponsors/ICS-night.svg");
}
