<div class="row">
  <h3 class="center header">Table Assignment UI</h3>
</div>
<div class="row" *ngIf="response === null; else responseView">
  <div class="col hide-on-small-only m2 l2 m2-offset-1 scrollspy-container">
    <ul class="section table-of-contents">
      <li><a href="#project-container">Project Name</a></li>
      <li><a href="#team-member-container">Team Members</a></li>
      <li><a href="#project-category-container">Project Category</a></li>
    </ul>
  </div>
  <form class="registration-form col m5 l5"
        (ngSubmit)="tableModel.form.valid ? onSubmit() : onError()"
        name="tableFormDOM"
        novalidate
        #travelModel="ngForm"
  >
    <!-- Project Name -->
    <div class="row scrollspy" id="project-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>What is the name of your project?</h5>
          <div class="input-field">
            <input name="projectName"
                   id="projectName-input"
                   class="validate required"
                   required
                   [(ngModel)]="tableForm.projectName"
                   #firstName="ngModel"
                   autocomplete="name"
                   type="text"
            >
            <label for="projectname-input" data-error="Project name is required">Enter your Project Name</label>
          </div>
          <label class="data-error" *ngIf="!projectName.valid">Required</label>
        </div>
      </div>
    </div>

    <!-- Team Member #1-->
    <div class="row scrollspy" id="team-member-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>Team Member 1</h5>
          <div class="input-field">
            <input name="fullName"
                   id="fullName-input"
                   class="validate required"
                   required
                   [(ngModel)]="tableForm.fullName"
                   #firstName="ngModel"
                   autocomplete="name"
                   type="text"
            >
            <label for="fullname-input" data-error="Full name is required">Enter your Full name</label>
          </div>
          <div class="input-field">
            <!-- <i class="material-icons prefix">email</i> -->
            <input type="email"
                   class="validate"
                   name="email"
                   email
                   id="email-input"
                   required
                   autocomplete="email"
                   placeholder="student@university.edu"
                   [(ngModel)]="tableForm.email"
                   #emailinput="ngModel"
            >
            <label for="email-input" data-error="Valid email is required">Enter your email</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Member #2-->
    <div class="row scrollspy" id="team-member-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>Team Member 2</h5>
          <div class="input-field">
            <input name="fullName"
                   id="fullName-input"
                   class="validate required"
                   required
                   [(ngModel)]="tableForm.fullName"
                   #firstName="ngModel"
                   autocomplete="name"
                   type="text"
            >
            <label for="fullname-input" data-error="Full name is required">Enter your Full name</label>
          </div>
          <div class="input-field">
            <!-- <i class="material-icons prefix">email</i> -->
            <input type="email"
                   class="validate"
                   name="email"
                   email
                   id="email-input"
                   required
                   autocomplete="email"
                   placeholder="student@university.edu"
                   [(ngModel)]="tableForm.email"
                   #emailinput="ngModel"
            >
            <label for="email-input" data-error="Valid email is required">Enter your email</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Member #3-->
    <div class="row scrollspy" id="team-member-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>Team Member 3</h5>
          <div class="input-field">
            <input name="fullName"
                   id="fullName-input"
                   class="validate required"
                   required
                   [(ngModel)]="tableForm.fullName"
                   #firstName="ngModel"
                   autocomplete="name"
                   type="text"
            >
            <label for="fullname-input" data-error="Full name is required">Enter your Full name</label>
          </div>
          <div class="input-field">
            <!-- <i class="material-icons prefix">email</i> -->
            <input type="email"
                   class="validate"
                   name="email"
                   email
                   id="email-input"
                   required
                   autocomplete="email"
                   placeholder="student@university.edu"
                   [(ngModel)]="tableForm.email"
                   #emailinput="ngModel"
            >
            <label for="email-input" data-error="Valid email is required">Enter your email</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Member #4-->
    <div class="row scrollspy" id="team-member-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>Team Member 2</h5>
          <div class="input-field">
            <input name="fullName"
                   id="fullName-input"
                   class="validate required"
                   required
                   [(ngModel)]="tableForm.fullName"
                   #firstName="ngModel"
                   autocomplete="name"
                   type="text"
            >
            <label for="fullname-input" data-error="Full name is required">Enter your Full name</label>
          </div>
          <div class="input-field">
            <!-- <i class="material-icons prefix">email</i> -->
            <input type="email"
                   class="validate"
                   name="email"
                   email
                   id="email-input"
                   required
                   autocomplete="email"
                   placeholder="student@university.edu"
                   [(ngModel)]="tableForm.email"
                   #emailinput="ngModel"
            >
            <label for="email-input" data-error="Valid email is required">Enter your email</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Number of People -->
    <div class="row scrollspy" id="team-member-container" materialize="scrollSpy">
      <div class="card medium darken-1">
        <div class="card-content">
          <h5>What category does your project fall under?</h5>
          <div class="form-group">
            <input type="radio" class="with-gap" id="vr" required name="category" value="vr"
                   #yearinput="ngModel"
                   [(ngModel)]="tableForm.category">
            <label for="vr">Virtual Reality</label><br>
            <input type="radio" class="with-gap" id="iot" required name="category" value="iot"
                   [(ngModel)]="tableForm.category">
            <label for="iot">Internet of Things</label><br>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit -->
    <div class="center">
      <div class="card" *ngIf="errors">
        <div class="card-content">
          <p class="alert alert-danger">{{errors}}</p>
        </div>
      </div>
      <div class="center">
        <button *ngIf="!loading; else spinner" class="btn waves-effect waves-light submit-btn" type="submit"
                name="action">Submit
          <i class="material-icons right">send</i>
        </button>
        <ng-template #spinner>
          <div class="preloader-wrapper big active">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </form>
</div>
<ng-template #responseView>
  <div class="card medium darken-1">
    <div class="card-content">
      <h5>{{response}}</h5>
    </div>
  </div>
</ng-template>