<div class="row">
  <h3 class="center header">Table Assignment</h3>
</div>
<div *ngIf="show(); else sorry">
  <div class="row" *ngIf="(response | json) === '{}'; else responseView">
    <div class="col hide-on-small-only m2 l2 m2-offset-1 scrollspy-container">
      <ul class="section table-of-contents">
        <li><a href="#project-container">Project Name</a></li>
        <li><a href="#team-member-container">Team Members</a></li>
        <li><a href="#project-category-container">Project Category</a></li>
      </ul>
    </div>
    <form class="registration-form col m5 l5"
          (ngSubmit)="tableModel.form.valid ? onSubmit() : onError()"
          name="tableFormDOM"
          novalidate
          #tableModel="ngForm"
    >
      <!-- Project Name -->
      <div class="row scrollspy" id="project-container" materialize="scrollSpy">
        <div class="card medium darken-1">
          <div class="card-content">
            <h5>What is the name of your project?</h5>
            <div class="input-field">
              <label for="projectName-input" data-error="Project name is required">Enter your Project Name</label>
              <input name="projectName"
                     id="projectName-input"
                     class="validate required"
                     required
                     [(ngModel)]="tableForm.projectName"
                     #firstName="ngModel"
                     autocomplete="name"
                     type="text"
              >
            </div>
            <label class="data-error" *ngIf="!firstName.valid">Required</label>
          </div>
        </div>
      </div>

      <!-- Team Members-->
      <div class="row scrollspy" id="team-member-container" materialize="scrollSpy">
        <div class="card medium darken-1">
        <span class="card-title">
          Team member emails
        </span>
          <div class="card-content">
            <div class="input-field" *ngFor="let $ of numberReturn(numTeamMembers); let i of index">
              <i class="material-icons prefix">email</i>
              <input type="email"
                     class="validate email"
                     name="email"
                     email
                     id="email-input-{{i}}"
                     required
                     autocomplete="email"
                     placeholder="student@university.edu"
                     (keyup.enter)="update($event.target.value, i)"
                     (blur)="update($event.target.value, i)"
              >
              <label for="email-input-{{i}}" data-error="Valid email is required">Enter email for teammate {{i}}</label>
            </div>
          </div>
          <div class="card-action">
            <a><i class="material-icons right" (click)="addTeamMember()">add</i></a>
            <a><i class="material-icons left" (click)="removeTeamMember()">remove</i></a>
          </div>
        </div>
      </div>

      <!-- Select categories -->
      <div class="row scrollspy" id="project-category-container" materialize="scrollSpy">
        <div class="card medium darken-1">
          <div class="card-content">
            <h5>What category does your project fall under?</h5>
            <p *ngFor="let category of categories">
              <input type="checkbox" id="{{category.categoryName}}"
                     (change)="categoryToggled(category.categoryName, $event.target.checked)"/>
              <label for="{{category.categoryName}}">{{category.categoryName}}</label>
            </p>
            <!--<div class="form-group">-->
            <!--<input type="radio" class="with-gap" id="vr" required name="category" value="vr"-->
            <!--#yearinput="ngModel"-->
            <!--[(ngModel)]="tableForm.category">-->
            <!--<label for="vr">Virtual Reality</label><br>-->
            <!--<input type="radio" class="with-gap" id="iot" required name="category" value="iot"-->
            <!--[(ngModel)]="tableForm.category">-->
            <!--<label for="iot">Internet of Things</label><br>-->
            <!--</div>-->
          </div>
        </div>
      </div>

      <!-- Submit -->
      <div class="center">
        <div class="card" *ngIf="errors">
          <div class="card-content">
            <p class="alert alert-danger">{{errors}}</p>
          </div>
        </div>
        <div class="center">
          <button *ngIf="!loading; else spinner" class="btn waves-effect waves-light submit-btn" type="submit"
                  name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <ng-template #spinner>
            <div class="preloader-wrapper big active">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #responseView>
  <div class="card medium darken-1">
    <div class="card-content">
      <h5>{{response}}</h5>
    </div>
  </div>
</ng-template>
<ng-template #sorry>
  <div class="card medium darken-1">
    <div class="card-content">
      <h5>Table assignment will be available at 10 AM Sunday</h5>
    </div>
  </div>
</ng-template>
