.card {
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-image {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  margin: 20px 5px 0 5px;
  background-size: cover !important;
  background-position: center !important;
}

.card-title {
  font-size: 1.5em;
  font-family: 'Cornerstone', 'Lato', sans-serif;
  color: #ffffff;
}


/* Properly scale our text and icons on smaller screens,
and make images go away. */
@media screen and (max-width: 568px) {
  .card {
    margin-top: 7vh;
  }

  .card:nth-of-type(1) {
    margin-top: 4vh;
  }

  .card-title {
    font-size: 2.15em;
  }

  .card-reveal .card-title {
    font-size: 1.75em;
    line-height: 1.25em;
  }

  .material-icons {
    font-size: 36px;
    line-height: 60px;
  }

  .card-image img {
    height: 0px;
  }
}

#module {
  line-height: 1.5;
}

#module a.collapsed::after {
  content: 'Show More';
  color: white;
}

#module a:not(.collapsed)::after {
  content: 'Show Less';
  color: white !important;
}

.linkToWorkshop {
  margin-top: 25px;
  float: right;
  color: white;
}

.center {
  text-align: center;
}

.dateTime {
  text-align: right;
  display: inline;
  float: right;
}

.inline {
  display: inline;
}
