<div class="card" style="text-align: left">
  <div class="inline">
    <p class="card-title inline">{{ title }}</p>
    <p class="dateTime">{{ date }}<br />{{ time }}</p>
  </div>

  <div id="module">
    <p>{{ description }}</p>
  </div>
  <br />
  <div>
    <p><b>Skills/Software: </b> {{ skills }}</p>
    <p *ngFor="let download of downloads; index as i">
      <a href="{{ download }}" style="color: #e5704c">Download {{ i + 1 }}</a>
    </p>
  </div>
  <div *ngFor="let presenterName of (presenters || [])" class="inline">
    <p>{{presenterName}}</p>
    <div
      class="card-image tooltipped"
      [ngStyle]="{ background: 'url(' + presenter1img + ')' }"
      data-position="bottom"
      [attr.data-tooltip]="presenterName"
      id="presenter1"
    ></div>
    <!-- <div
      class="card-image tooltipped"
      [ngStyle]="{ background: 'url(' + presenter2img + ')' }"
      data-position="bottom"
      [attr.data-tooltip]="presenter2Name"
      id="presenter2"
    ></div>
    <div
      class="card-image tooltipped"
      [ngStyle]="{ background: 'url(' + presenter3img + ')' }"
      data-position="bottom"
      [attr.data-tooltip]="presenter3Name"
      id="presenter3"
    ></div> -->
    <a href="{{ link }}" target="_blank"
      ><i class="material-icons medium linkToWorkshop">link</i></a
    >
  </div>
</div>
