<div class="card" style="text-align: left">
  <div class="inline">
    <p class="card-title inline">{{ title }}</p>
    <p class="dateTime">{{ date }}<br />{{ startTime }} - {{ endTime }}</p>
  </div>

  <div id="module">
    <p><b>Location:</b> {{ location }}</p>
    <!-- In case there are some events that don't have rich text, so must check for that. -->
    <div *ngIf="isRichTextDescription(); else elseBlock">
      <b>Description:</b>
      <div class="row">
        <!-- Have a little tab for the description content so it's obvious
             that it's part of the description. -->
        <div class="col-1"></div>
        <div class="col">
          <div [innerHTML]="description"></div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <p><b>Description:</b> {{ description }}</p>
    </ng-template>
  </div>
  <br />
  <div>
    <p><b>Skills/Software: </b> {{ skills }}</p>
    <p *ngFor="let download of downloads; index as i" style="margin-bottom: 0px">
      <a href="{{ download }}" style="color: #ff3c00">Download {{ i + 1 }}</a>
    </p>
  </div>
  <div style="margin-top: 10px">
    <b>Presenters:</b>
  </div>
  <div>
    <div class="row">
      <div *ngFor="let presenterName of presenters || []; index as i">
        {{ presenterName }}{{ i !== presenters.length - 1 ? ',&nbsp;' : '' }}
      </div>
    </div>
    <div
      class="card-image tooltipped"
      data-position="bottom"
      [ngStyle]="{ background: 'url(' + eventIcon[0] + ')' }"
      id="presenter1"
    ></div>
  </div>
</div>
