<mat-expansion-panel hideToggle >
    <mat-expansion-panel-header>
      <mat-panel-title>
        How do I submit a Project?
      </mat-panel-title>
      <mat-icon>add</mat-icon>
    </mat-expansion-panel-header>
    <p>All projects will be submitted through the HackPSU Devpost. 
        Do NOT submit your project via email, Discord, slide into a DM, messenger pigeon, drone, overnight express mail, etc. 
        Both hardware and software projects are allowed. Only one Devpost submission per team is needed. 
        Participants/teams will be asked to upload a 2 minute video showcasing their project as well as questions to 
        answers about the logistics and specifications of your build. View more requirements when submitting a project in the Devpost Rules. 
        Link:/<p>
  </mat-expansion-panel>
