<div *ngIf="authService.authState | async as user; else showLogin">

</div>
<ng-template #showLogin>
  <!-- LOGIN FORM -->
  <div class="container-fluid login-container">
    <h6 class="header-text text-center">LOGIN</h6>
    <!-- Main Form -->
    <div class="row">
      <form #loginForm="ngForm" (ngSubmit)="loginEmail()" id="login-form" class="col-12">
          <div class="login-group">
            <div class="input-field s6">
              <label for="lg_username" class="sr-only">Email</label>
              <input type="email" required data-wrong="Enter valid email" class="validate" id="lg_username"
                     autocomplete="email" name="lg_username"
                     (blur)="onEmailEntered(emailBox.value)"
                     #emailBox
                     placeholder="Enter your email" [(ngModel)]="model.email">
            </div>
            <div class="form-group">
              <label for="lg_password" class="sr-only">Password</label>
              <input type="password" required class="form-control validate" id="lg_password"
                     autocomplete="current-password" name="lg_password"
                     placeholder="Enter your password" [(ngModel)]="model.password">
            </div>
            <div class="etc-login-form">
              <p>Forgot your password? <a href="/forgot">Click Here</a></p>
            </div>
          </div>
        <button [disabled]="!loginForm.valid"
                class="btn waves-effect waves-light login-button"
                type="submit"
                name="action">Login
            <i class="material-icons right">send</i>
          </button>
      </form>
    </div>
    <!-- end:Main Form -->
    <div class="row">
      <p class="text-center">Alternately, sign in with</p>
      <div class="offset-1 col-10 signup-btn-container">
        <a class="btn btn-block btn-social btn-google" (click)="loginGoogle()">
          <span class="fa fa-google"></span>
        </a>
        <a class="btn btn-block btn-social btn-github" (click)="loginGithub()">
          <span class="fa fa-github"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <p class="text-center">Never created an account with us? Sign up with your email</p>
      <div class="offset-1 col-10 signup-btn-container">
      <a class="btn btn-block btn-social btn-email" href="/signup">
        <span class="fa fa-envelope"></span>
      </a>
      </div>
    </div>
  </div>
</ng-template>
