<!-- LOGIN FORM -->
<div class="container-fluid login-container">
  <h6 class="logo text-center">Sign up</h6>
  <!-- Main Form -->
  <div class="row">
    <form #loginForm="ngForm" (ngSubmit)="signUp()" id="login-form" class="col s12">
      <div class="row">
        <div class="login-group">
          <div class="input-field s6">
            <input type="email" required class="validate" id="lg_username"
                   autocomplete="email" name="lg_username"
                   placeholder="yourname@email.com" [(ngModel)]="email">
            <label for="lg_username" data-error="Enter valid email">Email</label>
          </div>
          <div class="form-group">
            <label for="lg_password">Password</label>
            <input type="password" required class="form-control validate" id="lg_password"
                   autocomplete="current-password" name="lg_password"
                   placeholder="Password" [(ngModel)]="password">
          </div>
        </div>
        <button *ngIf="!loading; else spinner" [disabled]="!loginForm.valid" class="btn waves-effect waves-light" type="submit"
                name="action">Submit
          <i class="material-icons right">send</i>
        </button>
        <ng-template #spinner>
          <div class="preloader-wrapper big active">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </form>
    <div *ngIf="errors" class="alert alert-danger alert-dismissible white-text">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ errors.message }}
    </div>
  </div>
</div>
