<div id="update-super">
  <div id="update-container" class="container-fluid">
    <div
      *ngFor="let update of updates | async | paginate: { itemsPerPage: 5, currentPage: p, id: 'live-updates-paginator' }">
      <div id="{{update.uid}}"
           class="row vertical-align update-holder"
           (click)="updateClicked(update)">
        <div class="container-fluid update-holder-inner-styling">
          <div class="row">
            <div class="col-8">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="update-title"> {{update.update_title}}</div>
                </div>
              </div>
              <div id="toggle_{{update.uid}}" class="row expandable-update">
                <div class="col-md-12 col-sm-12">
                  <div class="update-body"> {{update.update_text}}</div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img [src]="update.update_image" class="update-img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row paginator">
      <pagination-controls style="text-align: center" class="update-paginator col-12" id="live-updates-paginator" responsive="true"
                           (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
