<div style="color:#ffffff" *ngIf="rsvpReady(); else rsvpNotOpen">
  <div class="page-margins">
    <div class="page-header text-center">
      <div style="font-family:'Cornerstone',sans-serif;font-size:4em;"> HackPSU Information </div>
    </div>
    <!--<ng-template #result>-->
      <div class="medium blue-grey darken-4 white-text nature-boi" style="color:black;width:70vw;margin:0 auto;display:block;">
        <div class="card-content">
          <img src="../../../assets/images/all-white-emblem-f2018.svg" class="emblem-image"/>
          <h5 class="center">We are very excited to see you this year on October 6!</h5>
          <h4 class="center">Your pin is {{registrationData?.pin}}. Present this at check in.</h4>
          <br/>
        </div>
      </div>
      <div style="width:70vw; margin:0 auto;display:block;">
        <div class="row info-card blue-grey darken-2">
          <div class="col-md-4">
            <div class="header-text">Location</div>
            <div>
              <p>
              The hackathon will take place at the Business Building.<br>
              The address is:<br>
              210 Business Building,<br>
              University Park, PA 16802<br>
              </p>
            </div>
          </div>
          <div class="col-md-4 items">
            <div class="header-text">Things to Bring</div>
            <ul class="items-list">
              <li>Computer/Laptop</li>
              <li>Mouse</li>
              <li>Power Cord</li>
              <li>Backpack</li>
              <li>Spare Clothes</li>
              <li>Blanket</li>
              <li>Chargers/Batteries</li>
              <li>Headphones/Earphones</li>
              <li>Personal Hygiene Products</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="header-text">Date & Time</div>
            <div class="cornerstone">
              October 6-7
            </div>
            <p>
              12:30pm Saturday - 5:30pm Sunday
            </p>
            <p>
              Hacking starts at 2:00pm Saturday
            </p>
          </div>
        </div>
      </div>
    <!--</ng-template>-->
    <!--<div *ngIf="rsvpData?.rsvp_time === null; else result">-->
      <!--<div class="submitted-block">-->
        <!--<h5 class="center"> Will you be attending HackPSU? </h5>-->
        <!--<br>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-offset-4 col-sm-2">-->
            <!--<a class="btn btn-block btn-social" (click)="rsvp(false)">-->
              <!--No-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-sm-2">-->
            <!--<a class="btn btn-block btn-social" (click)="rsvp(true)">-->
              <!--Yes-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

<ng-template #rsvpNotOpen>
  <div style="color:#ffffff">
    <div class="page-margins">
      <div class="page-header text-center">
        <div style="font-family:'Cornerstone',sans-serif;font-size:75px;"> Thank you! </div>
      </div>
      <h4 class="center">We've received your registration.</h4>
      <h5 class="center">Keep an eye on your email for more information close to the event!</h5>
    </div>
  </div>
</ng-template>

<!--<ng-template #notcoming>-->
  <!--<h4 class="center">Thank you for your response. We hope to see you next year!</h4>-->
<!--</ng-template>-->
