<div style="color: #ffffff">
  <!--*ngIf="rsvpReady(); else rsvpNotOpen"-->
  <div class="page-margins">
    <div class="page-header text-center">
      <div style="font-family: 'Cornerstone', sans-serif; font-size: 4em">HackPSU Information</div>
    </div>
    <div class="medium blue-grey darken-4 white-text nature-boi"
      style="color: black; width: 70vw; margin: 0 auto; display: block">
      <div class="card-content">
        <img src="../../../assets/images/all-white-emblem-f2018.svg" class="emblem-image" />
        <!-- <h4 class="center">
          <b>
            We'll send the discord invite link to your<br />
            email on the day of the hackathon for virtual communication!
          </b>
        </h4> -->
        <h5 class="center">We are very excited to see you this year on April 9th at 2pm EST!</h5>
        <!-- <h4 class="center">
          <b>Join the <a href="https://discord.gg/k6TBaS7T8N">Discord here!</a></b>
        </h4> -->
        <h5 class="center">Your pin is {{ registrationData.pin }}. Keep this number.</h5>
        <h5 class="center">
          Have a question? Email us at <a href="mailto:team@hackpsu.org">team@hackpsu.org</a>
        </h5>
        <br />
      </div>
    </div>
    <div style="width: 70vw; margin: 0 auto; display: block">
      <div class="row justify-content-center info-card blue-grey darken-2">
        <div class="col-md-4">
          <div class="header-text">Location</div>
          <div>
            <p>
              The hackathon will be in the Forest Ag Sci and Industries Building at Penn State!
              <!-- We'll send the Discord invite the day of the hackathon! -->
            </p>
          </div>
        </div>

        <div class="col-md-4 items">
          <div class="header-text">Things to Bring</div>
          <ul class="items-list">
            <li>Computer/Laptop</li>
            <li>Mouse</li>
            <li>Power Cord</li>
            <li>Backpack</li>
            <li>Spare Clothes</li>
            <li>Blanket</li>
            <li>Chargers/Batteries</li>
            <li>Headphones/Earphones</li>
            <li>Personal Hygiene Products</li>
          </ul>
        </div>

        <div class="col-md-4">
          <div class="header-text">Date & Time</div>
          <div class="cornerstone">April 9th (Saturday 2pm - Sunday 6pm EST)</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #rsvpNotOpen>
  <div style="color: #ffffff">
    <div class="page-margins">
      <div class="page-header text-center">
        <div style="font-family: 'Cornerstone', sans-serif; font-size: 75px">Thank you!</div>
      </div>
      <h4 class="center">We've received your registration.</h4>
      <h5 class="center">Keep an eye on your email for more information close to the event!</h5>
    </div>
  </div>
</ng-template>