<style>



  .switch label input[type=checkbox]:checked+.lever {
    background-color: #fa3;
  }
  
  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgb(189, 125, 35);
  }
  
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color: #18ffff;
  }
  
  .switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgba(24, 255, 255, 0.4);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
  }
  
  .switch label .lever:after {
    background-color: #006064;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
            </style>
    <div class="switch">
      <label>
        Day 1
        <input type="checkbox">
        <span class="lever"></span>
        Day 2
      </label>
    </div>
    
    <div id="schedule-container" class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <span class="schedule-title">ACTIVITIES</span>
      <div class="row event-row activity">
        <div *ngFor="let activity of (activities | limitTo: activitiesViewNum)"
             id="event_key-{{activity.uid}}" class="event"
             [attr.start_time]="getStartTime(activity)" [attr.end_time]="getEndTime(activity)"
             data-toggle="modal"
             [attr.data-target]="'#event_key-'+activity.uid+'-modal'">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="event-day-title center">{{getEventDay(activity)}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 nopadding">
                <div class="event-time">
                  {{getStartTime(activity)}} - {{getEndTime(activity)}}
                </div>
                <div class="event-location">{{activity.location_name}}</div>
              </div>
              <div class="col-6">
                <div class="event-title">{{activity.event_title}}</div>
                <div class="event-description"></div>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="activitiesViewNum < activities.length"
                class="btn btn-flat white-text transparent" (click)="showMore('activities')">
          Show more
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <span class="schedule-title">MEALS</span>
      <div class="row event-row food">
        <div *ngFor="let activity of (meals | limitTo: mealsViewNum)"
             id="event_key-{{activity.uid}}" class="event"
             [attr.start_time]="getStartTime(activity)" [attr.end_time]="getEndTime(activity)"
             data-toggle="modal"
             [attr.data-target]="'#event_key-'+activity.uid+'-modal'">
          <ng-container>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="event-day-title center">{{getEventDay(activity)}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 nopadding">
                  <div class="event-time">
                    {{getStartTime(activity)}} - {{getEndTime(activity)}}
                  </div>
                  <div class="event-location">{{activity.location_name}}</div>
                </div>
                <div class="col-6">
                  <div class="event-title">{{activity.event_title}}</div>
                  <div class="event-description"></div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button *ngIf="mealsViewNum < meals.length" class="btn btn-flat white-text transparent"
                (click)="showMore('meals')">
          Show more
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <span class="schedule-title">WORKSHOPS</span>
      <div class="row event-row workshops">
        <div *ngFor="let activity of (workshops | limitTo: workshopsViewNum)"
             id="event_key-{{activity.uid}}" class="event"
             [attr.start_time]="getStartTime(activity)" [attr.end_time]="getEndTime(activity)"
             data-toggle="modal"
             [attr.data-target]="'#event_key-'+activity.uid+'-modal'">
          <ng-container>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="event-day-title">{{getEventDay(activity)}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 nopadding">
                  <div class="event-time">
                    {{getStartTime(activity)}} - {{getEndTime(activity)}}
                  </div>
                  <div class="event-location">{{activity.location_name}}</div>
                </div>
                <div class="col-6">
                  <div class="event-title">{{activity.event_title}}</div>
                  <div class="event-description"></div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button *ngIf="workshopsViewNum < workshops.length"
                class="btn btn-flat white-text transparent" (click)="showMore('workshops')">
          Show more
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let event of activities?.concat(meals)?.concat(workshops)" class="modal fade"
     id="event_key-{{event.uid}}-modal" role="dialog" tabindex="-1" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content row" role="document">
      <div class="header col-lg-3">
        <div class="modal-header ' + snapshot.type + '">
          <div class="modal-title">{{event.event_title}}</div>
        </div>
        <div class="modal-small-screen-hide modal-location-title">
          <div class="modal-day">{{getEventDay(event)}}</div>
          <div class="modal-time">{{getStartTime(event)}} - {{getEndTime(event)}}</div>
          <div class="modal-location">{{event.location_name}}</div>
        </div>
      </div>
      <div class="content col-lg-9">
        <div class="modal-body">
          <p [innerHTML]="event.event_description"></p>
        </div>
        <button type="button" href="" class="close small-screen-hide" data-dismiss="modal">&times;</button>
        <div class="modal-footer large-screen-hide">
          <button type="button" class="btn btn-flat" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
