<div id="schedule-container" class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <span class="schedule-title">ACTIVITIES</span>
      <div class="row event-row activity">
        <div
          *ngFor="let activity of activities | limitTo: activitiesViewNum"
          id="event_key-{{ activity.uid }}"
          class="event"
          [attr.start_time]="getStartTime(activity)"
          [attr.end_time]="getEndTime(activity)"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="event-day-title center">{{ getEventDay(activity) }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 nopadding">
                <div class="event-time">
                  {{ getStartTime(activity) }} - {{ getEndTime(activity) }}
                </div>
              </div>
              <div class="col-6">
                <div class="event-title right">{{ activity.event_title }}</div>
                <div class="event-description"></div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-6">
                <button
                  *ngIf="isZoomLink(activity.location_name)"
                  class="event-btn"
                  (click)="openZoomLink(activity.location_name)"
                >
                  Join Via Zoom
                </button>
                <button
                  *ngIf="isLink(activity.location_name) && !isZoomLink(activity.location_name)"
                  class="event-btn"
                  (click)="openZoomLink(activity.location_name)"
                >
                  Join
                </button>
              </div>
              <div class="col-6">
                <button
                  class="event-btn"
                  [attr.data-target]="'#event_key-' + activity.uid + '-modal'"
                  data-toggle="modal"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
        </div>
        <button
          *ngIf="activitiesViewNum < activities.length"
          class="btn btn-flat white-text transparent"
          (click)="showMore('activities')"
        >
          Show more
        </button>
      </div>
    </div>
    <!--
    <div class="col-md-4">
      <span class="schedule-title">MEALS</span>
      <div class="row event-row food">
        <div *ngFor="let activity of (meals | limitTo: mealsViewNum)"
             id="event_key-{{activity.uid}}" class="event"
             [attr.start_time]="getStartTime(activity)" [attr.end_time]="getEndTime(activity)">
          <ng-container>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="event-day-title center">{{getEventDay(activity)}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 nopadding">
                  <div class="event-time">
                    {{getStartTime(activity)}} - {{getEndTime(activity)}}
                  </div>
                </div>
                <div class="col-6">
                  <div class="event-title">{{activity.event_title}}</div>
                  <div class="event-description"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <button class="event-btn" (click)="openZoomLink(activity.location_name)">
                    Join Via Zoom
                  </button>
                </div>
                <div class="col-6">
                  <button class="event-btn" [attr.data-target]="'#event_key-'+activity.uid+'-modal'" data-toggle="modal">
                    Details
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button *ngIf="mealsViewNum < meals.length" class="btn btn-flat white-text transparent"
                (click)="showMore('meals')">
          Show more
        </button>
      </div>
    </div>
    -->

    <div class="col-md-6">
      <span class="schedule-title">WORKSHOPS</span>
      <div class="row event-row workshops">
        <div
          *ngFor="let activity of workshops | limitTo: workshopsViewNum"
          id="event_key-{{ activity.uid }}"
          class="event"
          [attr.start_time]="getStartTime(activity)"
          [attr.end_time]="getEndTime(activity)"
        >
          <ng-container>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="event-day-title center">{{ getEventDay(activity) }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 nopadding">
                  <div class="event-time">
                    {{ getStartTime(activity) }} - {{ getEndTime(activity) }}
                  </div>
                </div>
                <div class="col-6">
                  <div class="event-title right">{{ activity.event_title }}</div>
                  <div class="event-description"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <button class="event-btn" (click)="openZoomLink(activity.location_name)">
                    Register Via Zoom
                  </button>
                </div>
                <div class="col-6">
                  <button
                    class="event-btn"
                    [attr.data-target]="'#event_key-' + activity.uid + '-modal'"
                    data-toggle="modal"
                  >
                    Details
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button
          *ngIf="workshopsViewNum < workshops.length"
          class="btn btn-flat white-text transparent"
          (click)="showMore('workshops')"
        >
          Show more
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngFor="let event of activities?.concat(meals)?.concat(workshops)"
  class="modal fade"
  id="event_key-{{ event.uid }}-modal"
  role="dialog"
  tabindex="-1"
  data-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" role="document">
      <div class="content col-md-12" style="height: 120px;">
        <div class="modal-header ' + snapshot.type + '">
          <!--<div class="modal-icon">{{ event.event_icon }}</div>-->
          <img src="{{ event.event_icon }}" class= " img-fluid event-icon"  *ngIf="event.event_icon !== null">
          <!--changing position of date, time, skill level with and without image manually-->
          <div class="modal-title" style="margin-left: 100px; position: absolute;" *ngIf="event.event_icon !== null">{{ event.event_title }}</div>
          <div class="modal-title" *ngIf="event.event_icon == null">{{ event.event_title }}</div>
          <a data-dismiss="modal" aria-label="Close" class="close"></a>
          <!--changing position of date, time, skill level with and without image manually-->
          <div class="modal-day"  style="position:absolute"*ngIf="event.event_icon == null">{{event.ws_skill_level}} - {{ getEventDay(event) }}, {{ getStartTime(event) }} - {{ getEndTime(event) }}</div>
          <div class="modal-day" style="margin-left: 100px;" *ngIf="event.event_icon !== null">{{event.ws_skill_level}} - {{ getEventDay(event) }}, {{ getStartTime(event) }} - {{ getEndTime(event) }}</div>
          <button type="button" class="btn success" style="position: absolute;  margin-top: 100px;">Zoom Link</button>
        </div>
        <div class="modal-major-content" style="padding-top: 70px;">
          <p style="font-weight: bold; display: inline;" *ngIf="event.ws_relevant_skills!==null">Skills Needed: </p>{{ event.ws_relevant_skills }}<br>
          <p style="font-weight: bold; display: inline;">Event Desciption: </p>{{ event.event_description }}<br>
          <p style="font-weight:bold; display: inline;" *ngIf="event.ws_presenter_names!==null">Presenters:</p> {{event.ws_presenter_names}} <br>
        </div>
      </div>
 
    </div>
  </div>
</div>
