#schedule-container {
  width: 85%;
  position: relative;
  text-align: center;
  font-family: "Lato", 'Helvetica', sans-serif;
}

.schedule-title {
  font-family: 'Raleway', sans-serif;
  font-size: larger;
  font-weight: bold;
}

.event {
  width: 96%;
  min-height: 100px;
  margin: 2%;
  text-align: left;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 2px rgba(0, 0, 0, 0.1); */
  -webkit-box-shadow: 0px 3px 5px 0 rgba(34, 34, 34, 0.55);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 34, 34, 0.55);
  box-shadow: 0px 3px 5px 0px rgba(34, 34, 34, 0.55);
  cursor: pointer;
  transition: transform .15s;
}

.event:active {
  transform: scale(0.96);
}

.event:hover {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 34, 34, 0.85);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 34, 34, 0.85);
  box-shadow: 0px 3px 5px 0px rgba(34, 34, 34, 0.85)
}

.expired-event {
  display: none;
}

.event-info {
  font-size: 18px;
  min-height: 60px;
  padding-left: 2%;
}

.day-title {
  font-size: x-large;
  text-align: center;
  font-variant-caps: small-caps;
}

.activity {
  color: white;
}

.activity .event {
  background-color: #6c88b7;
}


.mini {
  background-color: #6c88b7;
  color: white;
}

.food {
  color: white;
}

.food .event {
  background-color: #aacacc;
  color: #333333;
}

.workshops .event {
  background-color: #e5704c;
  color: white;
}

.workshop .ws-title {
  font-weight: 400;
  font-size: 80%;
}

.description-header {
  font-size: xx-large;
  text-transform: capitalize;
  color: #3A2D40;
}

.event-row {
  text-align: center;
  margin: .5%;
}

.nopadding {
  padding: 0;
}

.description-text, .event-location {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.food .event-time {
  color: #333333;
}

.food .event-title {
  color: #333333;
}

.event-time {
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}

.activity .event-time {
  color: white;
}


.event a {
  color: white;
}

i {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .event-row {
    text-align: left;
    margin: .5%;
    border: 0px solid black;
  }

  .event {
    width: 98%;
    min-height: 100px;
    margin: 1%;
    text-align: left;
  }

  #schedule-container {
    text-align: center;
    width: 100%;
  }
}

.workshop {
  font-family: "Lato", sans-serif;
}

.event-day-title {
  font-size:x-large;

}

.event-title {
  font-weight: 300;
  font-size: 1.1rem;
  line-height:110%;
  margin-bottom: .3rem;
  color: white;
}

.event-time {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: white;
}

.event-location {
  font-weight: 300;
  font-size: 1rem;
}

.event-description {
  font-weight: 400;
  font-size: 0.9rem;
}


.nopaddingright {
  padding-right: 0;
  margin-right: 0;
}

.event-day-side {
  transform: rotate(270deg);
  transform-origin: left top 0;
}

.modal {
  padding-right: 0 !important;
  width: 50%;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
}

.modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.modal .modal-content {
  flex: 1;
  color: #000;
  flex-direction: row;
  padding: 0;
  margin: 0;
  border: none;
}

.modal .modal-body {
  padding: 1.5rem;
}

.modal-dialog .header {
  padding:          24px;
  background-color: #9f9f9f;
  height: 100%;
}

.modal-footer {
  position: absolute;
  bottom: 0;
}

.close {
  position: absolute;
  top: 5%;
  right: 5%;
}

.modal-location-title {
  margin: 10px 0;
}

.large-screen-hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .large-screen-hide {
    display: block;
  }

  .modal-dialog .header {
    height: fit-content;
  }
  .small-screen-hide {
    display: none;
  }
}
