/* Login form styles */

:host {
  width: 50%;
  margin: 30vh auto;
}

.header-text {
  font-size: large;
}

.text-center {
  align-self: center;
  margin: 0 auto;
  width: 50%;
}

.logo {
  margin-bottom: 10px;
}

.form-control {
  color: white;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 2px solid #fff;
  border-right-width: 8px;
  border-left-width: 8px;
  border-radius: 12px;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}

.btn:disabled {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: #9F9F9F !important;
}

/* Removes the faint grey line next to the media icon on buttons */
.btn>:first-child {
  border-right: none;
}

.btn .fa:before {
  color: #fff;
}

.preloader-wrapper {
  margin: 0 auto;
  display: block;
}
.spinner-layer {
  border-color: white;
}

.btn span {
  color: #fff;
}

.btn:hover {
  background-color: #ffffff;
  color: #333333;
}

.btn:hover .fa:before {
  color: #333333;
}

.login-button {
  margin: 0 auto;
  display: block;
}

.etc-login-form {
  margin-bottom: 25px;
}

.alert-danger {
  background-color: #a54848;
}
