<!-- LOGIN FORM -->
<div class="container-fluid login-container">
  <h6 class="header-text text-center">SIGN UP</h6>
  <!-- Main Form -->
  <div class="row">
    <form #loginForm="ngForm" (ngSubmit)="signUp()" id="login-form" class="col-12">
        <div class="login-group">
          <div class="form-group input-field">
            <input type="email" required class="validate" id="lg_username"
                   autocomplete="email" name="lg_username"
                   placeholder="yourname@email.com" [(ngModel)]="email">
            <label for="lg_username" data-error="Enter valid email">Email</label>
          </div>
          <div class="form-group input-field">
            <label for="lg_password">Password</label>
            <input type="password" required class="form-control validate" id="lg_password"
                   autocomplete="current-password" name="lg_password"
                   placeholder="Password" [(ngModel)]="password">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <a class="btn" href="/login">BACK<i
              class="material-icons left">arrow_back</i> </a>
          </div>
          <div class="col-6">
            <button [disabled]="!loginForm.valid || progressBar.isStarted()" class="btn waves-effect waves-light"
                    type="submit"
                    name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
    </form>
    <div class="row">
      <p class="text-center">Alternately, sign in with</p>
      <div class="offset-1 col-10 signup-btn-container">
        <a class="btn btn-block btn-social btn-google" (click)="loginGoogle()">
          <span class="fa fa-google"></span>
        </a>
        <a class="btn btn-block btn-social btn-google" (click)="loginGithub()">
          <span class="fa fa-github"></span>
        </a>
      </div>
    </div>
  </div>
</div>
