.header {
  border-bottom: 1px solid white;
}

.bouncy-bits {
  position: absolute;
  top: 50%;
  left: 110%;
  max-height: 60px;
  max-width: 20%;
}

.card {
  transition: transform;
  background-color: white;
  color: #101010;
  border:none;
  height: auto;
}

.table-of-contents a {
  color: white;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 2px solid white;
  border-right-width: 8px;
  border-left-width: 8px;
  border-radius: 12px;
}

.btn:hover {
  background-color: #fff;
  color: #333333;
}

.btn-flat {
  background-color: transparent;
}

.spinner-layer {
  border-color: white;
}
