/* Login form styles */

:host {
  width: 50%;
  margin: 30vh auto;
}

.text-center {
  align-self: center;
  margin: 0 auto;
  width: 50%;
}

.login-container {
  margin-top: 10%;
}

.logo {
  margin-bottom: 10px;
}

.form-control {
  color: white;
}
@media screen and (min-width: 768px) {
  .login-container {
    max-width: 50%;
  }
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  color: #aacacc;
  border: 2px solid #aacacc;
  border-right-width: 8px;
  border-left-width: 8px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.preloader-wrapper {
  margin: 0 auto;
  display: block;
}

.btn .fa:before {
  color: #aacacc;
}

.btn span {
  color: #C94331;
}

.btn:hover {
  background-color: #ffffff;
  color: #333333;
}

.login-button {
  margin: 0 auto;
  display: block;
}

.spinner-layer {
  border-color: white;
}

.alert-danger {
  background-color: #a54848;
}
