/* You can add global styles to this file, and also import other style files */
* {
  font-family: Lato, Georgia, sans-serif;
}

@font-face {
  font-family: 'Cornerstone';
  src: url('assets/fonts/Cornerstone.ttf');
}
html,
body {
  min-height: 100%;
}

body {
  background: linear-gradient(#103147, #194e6b);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
}

app-root {
  display: block;
  height: 100%;
}
