/* ====================== CONSTANTS ==================*/
@font-face {
  font-family: "Cornerstone";
  src: url("../assets/fonts/Cornerstone.ttf");
}
/* ====================== MIXINS ====================*/
header {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: linear-gradient(180deg, #89f7fe 0%, #fff 100%);
}

.landing {
  /* Some CSS I made up to get that wrapped box effect in the header.
  This can be applied to any text structured in the same way as the 
  event info. */
}
.landing .holder {
  padding-top: 22%;
}
.landing .holder .logo-holder {
  position: absolute;
  width: 25%;
  left: 0;
  right: 0;
  top: 2.5vh;
  margin: auto;
  z-index: 400;
}
.landing .holder .logo-holder img {
  content: url("../assets/images/logo-daytime.svg");
}
.landing .holder .logo-holder img:after {
  content: url("../assets/images/logo-daytime.svg");
}
.landing .holder .celestial-body {
  position: absolute;
  width: 12.5%;
  left: 8%;
  right: 0;
  top: 11.5vh;
  margin: 0;
}
.landing .holder .celestial-body img {
  content: url("../assets/images/sun.svg");
}
.landing .holder .celestial-body img:after {
  content: url("../assets/images/sun.svg");
}
@media screen and (max-width: 576px) {
  .landing .holder .celestial-body {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .landing .holder {
    padding-top: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .landing .holder {
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .landing .holder {
    padding-top: 40%;
  }
  .landing .holder .logo-holder {
    width: 45%;
  }
}
.landing .header-text {
  font-family: "Cornerstone", sans-serif;
  font-size: 1em;
  font-size: 1em;
  max-font-size: 2em;
}
@media (max-width: 70em) {
  .landing .header-text {
    font-size: 0.7em;
  }
}
@media (min-width: 150em) {
  .landing .header-text {
    font-size: 1.5em;
  }
}
.landing .header-text p {
  text-align: start;
  padding: 0;
  line-height: 1em;
  transition: all 0.4s;
  color: #424242;
  white-space: nowrap;
}
.landing .header-text .bottom-bar {
  width: 100%;
  height: 5px;
  transition: all 0.4s;
  background-color: white;
}
.landing .wrapped-box p span {
  color: #FFFFFF;
  background: #297284;
  border: solid 1px #297284;
  border-radius: 0px 15px 15px 0px;
  padding: 10px;
  padding-bottom: 4px;
  font-weight: 400;
}
.landing .wrapped-box p:first-of-type span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 15px;
}
.landing .wrapped-box p:last-of-type span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 15px;
}
.landing .header-graphic {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.landing .header-graphic .cloud-1 {
  position: absolute;
  width: 48%;
  height: 22%;
  top: -2%;
  left: 33%;
  z-index: 100;
  background-image: url("../assets/images/cloud-2.svg");
  background-repeat: no-repeat;
  background-size: 65%;
}
.landing .header-graphic .cloud-2 {
  position: absolute;
  width: 43%;
  height: 22%;
  top: 20%;
  right: -8%;
  z-index: 300;
  background-image: url("../assets/images/cloud-1.svg");
  background-repeat: no-repeat;
  background-size: 65%;
}
.landing .header-graphic .cloud-3 {
  position: absolute;
  width: 28%;
  height: 22%;
  top: 30%;
  left: 10%;
  z-index: 300;
  background-image: url("../assets/images/cloud-5.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;
}
.landing .header-graphic .mountain {
  position: relative;
  top: 0px;
  margin: auto;
  width: 100%;
  z-index: 200;
  content: url("../assets/images/flat-mountain-graphic-snow.svg");
}
.landing .header-graphic .mountain:after {
  content: url("../assets/images/flat-mountain-graphic-snow.svg");
}

.first-border {
  content: url("../assets/images/border2-whitebg.svg");
}

#about {
  background: white;
  margin-bottom: 10px;
  padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
  #about {
    padding-top: 10%;
  }
}
#about .header-text {
  color: #424242;
}
#about .section-header {
  text-align: left;
  margin: 0%;
}
#about .header-bar {
  background-color: #24577C;
  width: 30%;
  margin: 0%;
}
@media screen and (max-width: 576px) {
  #about .header-bar {
    width: 100%;
  }
}
#about p {
  font-family: "Lato", sans-serif;
  font-size: 3vh;
  font-weight: 100;
  text-align: left;
  padding-top: 5vh;
  line-height: 200%;
  color: #424242;
}
#about p span {
  color: #24577C;
  font-weight: 800;
}

/*# sourceMappingURL=day-main-compiled.css.map */
