/*=============== *** CSS RESET *** =================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,


figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: xx-large;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    font-weight: lighter;
}

/*========================= *** MEDIA QUERIES *** =========================*/

@font-face {
    font-family: "Open-Sans-Light";
    src: url(OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open-Sans-Bold";
    src: url(OpenSans/OpenSans-Bold.ttf);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #3A2D40;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: larger;
}

p {
    padding: 10px;
    line-height: 200%;
}

body {
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    font-weight: bold;
    color: white;
    font-size: xx-large;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url('../assets/images/web_background.jpg');
    background-position: center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    height:100vh;
}

.scroll {
    background-color:#333333;
    padding:30px;
}

.alternate {
    background-image:url("../assets/images/crystalline.jpg");
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding:30px;
    background-repeat:repeat-y;
    color:#333333;
}

.separator {
    height:3px;
    background-color:#333333;
    margin:10px;
}

.question {
    font-size:5.5vh;
    margin:auto;
}
.FAQanswer {
    font-size:3vh;
    margin:auto;
}

.line,.linedark {
    display:block:
    overflow:hidden;
    text-align:center;
    white-space:nowrap;
}

.line > span, .linedark > span {
    position:relative;
    display:inline-block;
    font-size:10vh;
    width:25vw;
}

.line > span:before,.line > span:after {
    content:"";
    position:absolute;
    top:50%;
    width:30vw;
    height:5px;
    background-color:#FFFFFF;
}

.linedark > span:before,.linedark > span:after {
    content:"";
    position:absolute;
    top:50%;
    width:30vw;
    height:5px;
    background-color:#333333;
}

.line > span:before,.linedark > span:before {
    right: 100%;
    margin-right: 2vw;
}

.line > span:after,.linedark > span:after {
    left:100%;
    margin-left:2vw;
}

.left {
    width:43vw;
    margin-left:-7vw;
    margin-right:2vw;
    float:left;
}

.right {
    width:43vw;
    margin-right:-7vw;
    margin-left:2vw;
    float:right;
}

.center {
    width:43vw;
    margin:auto;
}

a.stylizedLink{
    color:#24577C;
}
a.stylizedLink:hover{
    color:#333333;
}

/*@media screen and (min-width: 768px) {*/
    /*body {*/
        /*padding-left: 40px;*/
    /*}*/
/*}*/

section {
    display: block;
}

a:hover {
    text-decoration: none;
}

/* ====================== CONSTANTS ==================*/
.white {
    color: #FFF;
}

.orange {
    color: #E5705C;
}

.light-blue-primary {
    color: #6C88B7;
}

.dark-blue-primary {
    color: #133753;
}

.light-blue {
    color: #AACACC;
}

.dark-blue-secondary {
    color: #24577C;
}

.light-blue-secondary {
    color: #D0EAF1;
}

.orange-secondary {
    color: #C94331;
}

.gray {
    color: #333333;
}

.accent {
    color: #aacacc;
    background-color: #aacacc;
}

/* ============================== CSS STARTS HERE ==========================*/

#home {
    margin-top: 5%;
}
/* ID Based Selectors */
#mlh-trust-badge {
    display: block;
    position: absolute;
    float: right;
    right: 5%;
    top: 0px;
    width: 10%;
    max-width: 100px;
    height: 120px;
    z-index: 1000;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    #mlh-trust-badge {
        width: 12%;
        right: 5%;
    }
}

#hackpsu-logo {
    max-width: 20%;
}

#date-text {
    max-width: 50%;   
}

@media screen and (max-width: 768px) {
    #hackpsu-logo {
        max-width: 60%;
    }
}

@media screen and (max-width: 768px) {
    #date-text {
        max-width: 80%;
    }
}

#webbed-hexs-right {
    margin-right: 2%;
    right: 0px;
    position: absolute;
    max-width: 20%;
}

#webbed-hexs-left {
    margin-left: 2%;
    left: 0px;
    top: -2%;
    position: absolute;
    max-width: 20%;
}

.form {
    padding: 10px;
}

/*.input-field {*/
    /*color: white;*/
/*}*/

/*.input-field label {*/
    /*color: white;*/
/*}*/

/*.input-field .prefix .active {*/
    /*color: white;*/
/*}*/

/*.input-field input[type=email] {*/
    /*border-bottom: 1px solid white;*/
    /*box-shadow: 0 1px 0 0 white;*/
/*}*/

/*.input-field input[type=email]:not(.browser-default):focus {*/
    /*border-bottom: 1px solid white;*/
    /*box-shadow: 0 1px 0 0 white;*/
/*}*/

.section-header {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
}

.section-header-center {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

#registration {
    max-width: 50%;
    margin: 5% auto;
}
#registration .btn {
    margin-top: 10px;
}
@media screen and (max-width: 600px) {
    #registration {
        max-width: 100%;
    }
}


.submit-btn {
    background-color: rgba(255, 255, 255, 0);
    color: #FFF;
    border: 2px solid white;
    border-right-width: 8px;
    border-left-width: 8px;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .submit-btn {
        width: 70%;
    }
}

.submit-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #333333;
}

.submit-btn:focus {
    background-color: rgba(170, 202, 204, 0.2);
}

#footer .email-link {
    text-decoration: underline;
    color: #ffffff;
}

#footer .email-link:hover {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    color: rgba(255,255,255, 0.5);
}

/*========================= *** Sidenav Bar *** =========================*/
.rotate {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb
}

a {
    text-decoration: none
}

li {
    list-style: none
}

ul {
    padding: 0;
    margin: 10px 0px;
}

.main-nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    float: left;
    width:2.5vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #E5704C;
    /*border: #333333 5px solid;*/
    z-index: 9999;
}

ul.nav li {
    height:19vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    cursor: pointer;
}

ul.nav li a {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
    top:50%;
    /*float: left;*/
    width: 1vw;
    color: #010101;
}

.center-nav {
    margin-top: 3vh;
}

ul.nav li a:hover{
    background: none;
}

/* this way the section you're hovering over lights up */
ul li:not(.active):hover a {
    color: #fff;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

@media screen and (max-width: 768px) {
    .main-nav {
        display: none;
    }
}

ul .active {
    background-color: #fff;
}

/*========================= *** About *** =========================*/
#about p {
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: 100;
    text-align: center;
}

#about h3 {
    margin: 0 auto;
}

#about .section-header {
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
}

/*========================= *** Section Title *** =========================*/
.section-title-container {
    height: 30px;
    margin: 50px 0;
}

.section-title-letter {
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%
}

.title-graphic-line {
    position: relative;
    background-color: #E5704C;
    height: 2px;
    top: 14px;
}

.section-title-word {
    float: center;
    display: inline-block;
    white-space: nowrap;
    padding-right: 1.5%;
}

@media screen and (max-width: 768px) {
    .title-graphic-line {
        background-color: transparent;
        width: 0px;
    }

    .section-title {
        width: 100%;
    }

    .section-header {
        font-size: 75%;
        text-align: center;
    }
}

/*========================= *** FAQS *** =========================*/
#faqs {
    color: #3A2D40;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 50px;
}

.question-container {
    padding: 15px;
    text-align: left;
}

.question p {
    color: white;
    text-align: left;
    padding: 20px;
}

.question {
    text-align: center;
}

.question p {
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    background: #6C88B7;
    /*border: 2px solid black;*/
    border-radius: 5px;
}

.question p span {
    transition: ease-out .5s;
    padding-right: 5px;
}

.question p:hover {
    background-color: #6C88B7;

}

.answer {
    color: white;
    display: none;
    font-size: medium;
    padding: 30px;
}

.question h7 {
    text-align: center;
}

/*.answer p{*/
/*	line-height:120%;*/
/*}*/
.rotated {
    transform: rotate(90deg);
    transition: ease-out .5s;
}

/*========================= *** Partnership *** ======================*/
.sponsor-img-xl {
    width: 80%;
}

.partner-tagline {
    font-size: x-large;
}

/*========================= *** Location *** =========================*/
#map {
    color: #3A2D40;
    font-family: 'Lato';
    font-weight: bold;
}

#map li > a {
    border: 0;
    border-bottom: 1px solid #3A2D40;
    color: #3A2D40;
}

#map .active > a {
    background-color: #AAD4F2;
}

#map li > a:hover {
    background-color: #ffc969;
}

#map-container {
    width: 100%;
    height: 400px;
    margin: auto auto;
}

#parking-tab img {
    width: 80%;
    max-height: 400px;
}

#map p {
    width: auto;
    font-size: large;
}

#map h3 {
    font-size: smaller;
    padding-top: 20px;
}

#getting-here-title {
    font-size: x-large;
    text-transform: uppercase;
}

.map-border {
    border: 3px solid orange;
    padding: 1em;
    border-radius: 5px;
    background: white;
}

@media screen and (max-width: 768px) {
    .map-spacer {
        pointer-events: none;
        height: 90px;
        width: auto;
    }
}

/*********** SPONSORS ************/
#sponsors {
    margin: 25px 0;
}

.sponsor-img-lg {
    max-width: 40%;
}


/************* FOOTER *************/
.social-media-icon {
    width: 40px;
}

#footer  p {
    font-size: small;
}

.small-text {
    font-size: x-small;
}
