/*=============== *** CSS RESET *** =================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: xx-large;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    font-weight: lighter;
}

/*========================= *** MEDIA QUERIES *** =========================*/

/*@font-face {*/
/*font-family: "Open-Sans-Light";*/
/*src: url(OpenSans/OpenSans-Light.ttf);*/
/*}*/

/*@font-face {*/
/*font-family: "Open-Sans-Bold";*/
/*src: url(OpenSans/OpenSans-Bold.ttf);*/
/*}*/

@font-face {
    font-family: 'Cornerstone';
    src: url('../assets/fonts/Cornerstone.ttf');
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #3A2D40;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: larger;
}

p {
    padding: 10px;
    line-height: 200%;
}

body {
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    font-weight: bold;
    color: white;
    font-size: xx-large;
    height: 100vh;
}

.polygon-clip-hexagon {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.scroll {
    padding: 30px;
    background-size: 50vh, 50vh;
    background: #333333 url("../assets/images/webbed-hexes-left.svg"), url("../assets/images/webbed-hexes-right.svg") no-repeat, no-repeat bottom -22vh left -22vh, top -27vh right -18vh;
}

.separator {
    height: 3px;
    background-color: #333333;
    margin: 10px;
}


.line, .linedark {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.line > span, .linedark > span {
    position: relative;
    display: inline-block;
    font-size: 10vh;
    width: 25vw;
}

.line > span:before, .line > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30vw;
    height: 5px;
    background-color: #FFFFFF;
}

.linedark > span:before, .linedark > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30vw;
    height: 5px;
    background-color: #333333;
}

.line > span:before, .linedark > span:before {
    right: 100%;
    margin-right: 2vw;
}

.line > span:after, .linedark > span:after {
    left: 100%;
    margin-left: 2vw;
}

@media screen and (max-width: 600px) {
    .line > span:before, .line > span:after, .linedark > span:before, .linedark > span:after {
        width: 20vw;
        height: 3px;
    }

    .line > span, .linedark > span {
        font-size: 3.5vh;
        width: 30vw;
    }

    .question {
        font-size: 3vh;
    }

    .FAQanswer {
        font-size: 2vh;
    }
}

.left {
    width: 43vw;
    margin-left: -7vw;
    margin-right: 2vw;
    float: left;
}

.right {
    width: 43vw;
    margin-right: -7vw;
    margin-left: 2vw;
    float: right;
}

.center {
    width: 100%;
    margin: auto;
}

a.stylizedLink {
    color: #24577C;
}

a.stylizedLink:hover {
    color: #333333;
}

.circleplat {
    border-radius: 50%;
    height: 23vw;
    width: 23vw;
    background-color: #333333;
    display: inline-block;
    margin: 5vh;
}

.circlegold {
    border-radius: 50%;
    height: 17vw;
    width: 17vw;
    background-color: #333333;
    display: inline-block;
    margin: 5vh;
}

.circlesilv {
    border-radius: 50%;
    height: 13vw;
    width: 13vw;
    background-color: #333333;
    display: inline-block;
    margin: 5vh;
}

.circlebron {
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    background-color: #333333;
    display: inline-block;
    margin: 5vh;
}

/*@media screen and (min-width: 768px) {*/
/*body {*/
/*padding-left: 40px;*/
/*}*/
/*}*/

section {
    display: block;
}

a:hover {
    text-decoration: none;
}

/* ====================== CONSTANTS ==================*/
.white {
    color: #FFF;
}

.orange {
    color: #E5705C;
}

.light-blue-primary {
    color: #6C88B7;
}

.dark-blue-primary {
    color: #133753;
}

.light-blue {
    color: #AACACC;
}

.dark-blue-secondary {
    color: #24577C;
}

.light-blue-secondary {
    color: #D0EAF1;
}

.orange-secondary {
    color: #C94331;
}

.gray {
    color: #333333;
}

.accent {
    color: #aacacc;
    background-color: #aacacc;
}

/* ============================== CSS STARTS HERE ==========================*/

header {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url('../assets/images/web-background.jpg') no-repeat center fixed;
    background-size: cover;
}

.section-separator {
    width: 100%;
}

.section-separator-background {
    width: 100%;
    margin: -2px;
}

/* ID Based Selectors */
#mlh-trust-badge {
    display: block;
    position: absolute;
    float: right;
    right: 5%;
    top: 55px;
    width: 10%;
    max-width: 100px;
    height: 120px;
    z-index: 1;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    #mlh-trust-badge {
        width: 12%;
        right: 5%;
    }
}

nav {
    background-color: #B1C8CB;
    height: 55px;
}

.navbar-fixed {
    height: 55px;
}

nav .brand-logo {
    display: block;
    margin-left: 5%;
    width: 45px;
    margin-top: 5px;
}

nav .right {
    width: 15vw;
    margin-right: -0vw;
}

nav .left {
    margin-left: 11vw;
}

nav ul li {
    line-height: 55px;
    letter-spacing: .05em;
}

@media screen and (max-width: 768px) {
    nav .brand-logo {
        margin-left: 0px;
    }
}

/* Need to add media query to make the nav margin co away on medium and small screens. s*/

#hackpsu-logo {
    margin-top: 25px;
    max-width: 30%;
}

#header-text {
    font-family: 'Cornerstone';
    font-size: 6vh;
    line-height: 100%; 
}
#header-text p {
    padding: 0px;
    line-height: 120%;
}

#header-text p:nth-child(1) {
    font-size: 9vh;
}
#header-text p:nth-child(2) {
    font-size: 5vh;
}
#header-text p:nth-child(3) {
    font-size: 5vh;
}

#date-text {
    max-width: 50%;
}

@media screen and (max-width: 768px) {
    #hackpsu-logo {
        max-width: 60%;
    }
}

@media screen and (max-width: 768px) {
    #date-text {
        max-width: 80%;
    }
}

#webbed-hexs-right {
    margin-right: 2%;
    right: 0px;
    position: absolute;
    max-width: 20%;
}

#webbed-hexs-left {
    margin-left: 2%;
    left: 0px;
    top: -2%;
    position: absolute;
    max-width: 20%;
}

.form {
    padding: 10px;
}


.section-header {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
}

.section-header-center {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

#registration {
    max-width: 50%;
    margin: auto;
}

#registration .btn {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    #registration {
        max-width: 100%;
    }
}

.btn {
    width: 30%;
}

.submit-btn {
    width: 30%;
    height: 40px;
    font-size: 20;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0);
    color: #FFF;
    border: 2px solid white;
    border-right-width: 8px;
    border-left-width: 8px;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .submit-btn {
        width: 70%;
    }
}

.submit-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #333333;
}

.submit-btn:focus {
    background-color: rgba(170, 202, 204, 0.2);
}

.body-btn {
    background-color: rgba(255, 255, 255, 0);
    color: #E5705C;
    border: 2px solid #E5705C;
    border-right-width: 8px;
    border-left-width: 8px;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .body-btn {
        width: 70%;
    }
}

.body-btn:hover {
    background-color: rgba(229, 112, 92, 1);
    color: #ffffff;
}

.body-btn:focus {
    background-color: rgba(170, 202, 204, 0.2);
}

#footer .email-link {
    text-decoration: underline;
    color: #ffffff;
}

#footer .email-link:hover {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    color: rgba(255, 255, 255, 0.5);
}

/*========================= *** About *** =========================*/
#about {
    background-color: #103147;
}

#about p {
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-weight: 100;
    text-align: center;
    margin: auto;
    width: 60%;
}

@media screen and (max-width: 768px) {
    #about p {
        width: 100%;
        font-size: large;
    }
}

#about h3 {
    margin: 0 auto;
}

#about .section-header {
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
}

.exec-team-header {
    color: #6C88B7;
}

.exec-holder {
    display: inline-flex;
    position: relative;
    margin: 0 auto;
}

.exec-image img {
    width: 100%;
    height: 100%;
}

.exec-info {
    display: none;
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.exec-info object {
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
}

.exec-holder:hover .exec-info {
    display: inline-block;
}

.apply-here {
    background: url('../assets/images/exec/join-us.png') no-repeat fixed center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.apply-here:hover {
    background: url('../assets/images/exec/apply-here.png') no-repeat fixed center;
}

/************* HexGrid courtesy of https://github.com/web-tiki/responsive-grid-of-hexagons ******************/

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 15px;
    list-style-type: none;
}

.hex {
    position: relative;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hex::after {
    content: '';
    display: block;
    padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
}

.hexIn {
    position: absolute;
    width: 96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin: 0 2%;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}

.hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    font-weight: 300;
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex .exec-info {
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
    bottom: 50%;
    padding-top: 50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hex h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.hex p {
    top: 50%;
    padding-bottom: 50%;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hex .exec-info {
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    display: inline-block;
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p,
.hexLink:hover .exec-info, .hexLink:focus .exec-info {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
    /* <- 5-4  hexagons per row */
    #hexGrid {
        padding-bottom: 4.4%
    }

    .hex {
        width: 20%; /* = 100 / 5 */
    }

    .hex:nth-child(9n+6) { /* first hexagon of even rows */
        margin-left: 10%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 1200px) and (min-width: 901px) {
    /* <- 4-3  hexagons per row */
    #hexGrid {
        padding-bottom: 5.5%
    }

    .hex {
        width: 25%; /* = 100 / 4 */
    }

    .hex:nth-child(7n+5) { /* first hexagon of even rows */
        margin-left: 12.5%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 900px) and (min-width: 601px) {
    /* <- 3-2  hexagons per row */
    #hexGrid {
        padding-bottom: 7.4%
    }

    .hex {
        width: 33.333%; /* = 100 / 3 */
    }

    .hex:nth-child(5n+4) { /* first hexagon of even rows */
        margin-left: 16.666%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 600px) {
    /* <- 2-1  hexagons per row */
    #hexGrid {
        padding-bottom: 11.2%
    }

    .hex {
        width: 50%; /* = 100 / 3 */
    }

    .hex:nth-child(3n+3) { /* first hexagon of even rows */
        margin-left: 25%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

/*========================= *** Section Title *** =========================*/

.section-title-container {
    height: 30px;
    margin: 50px 0;
}

.section-title {
    margin-bottom: 50px;
    font-family: 'Cornerstone', 'Lato', sans-serif;
    letter-spacing: -10px;
}

.section-title-letter {
    display: inline-block;
    font-size: 2.5em;
}

.title-graphic-line {
    position: relative;
    background-color: #E5704C;
    height: 2px;
    top: 14px;
}

.section-title-word {
    display: inline-block;
    white-space: nowrap;
    padding-right: 1.5%;
}

@media screen and (max-width: 768px) {
    .title-graphic-line {
        background-color: transparent;
        width: 0;
    }

    .section-title-letter {
        font-size: 8vw;
    }

    .section-header {
        font-size: 75%;
        text-align: center;
    }
}

/*========================= *** FAQS *** =========================*/
#faqs {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 50px;
    background-color: #194E6B;
}

.question {
    padding: 15px;
    text-align: left;
    cursor: pointer;
}

.question-container {
    padding: 0 10%;
}

@media screen and (max-width: 768px) {
    .question-container {
        padding: 0;
    }
}

.question:before {
    font-family: 'Glyphicons Halflings', cursive;
    display: inline-block;
    font-size: x-large;
    margin-right: 5px;
    content: "\e072";
    color: #C94331;
    transition: all 0.3s;
}

.open:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.question {
    color: white;
    text-align: left;
    padding: 10px;
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

.FAQanswer {
    color: #aacacc;
    display: none;
    font-weight: lighter;
    font-size: x-large;
    margin: 0 4%;
    text-align: left;
}

.FAQanswer a {
    color: #6C88B7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.FAQanswer a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#map-container {
    width: 90%;
    height: 400px;
    margin: auto auto 2vh;
}

/*======================== *** Schedule *** ==========================*/
#schedule {
    background: #6FA7B3;
    padding-bottom: 100px;
}

.schedule-left {
    padding-left: 10%;
}

.schedule-right {
    border-left: #133753 dashed;
    padding-right: 10%;
}

#schedule p {
    padding: 0;
}

#schedule .row {
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    #schedule p {
        font-size: 4vw;
    }

    .schedule-left {
        border-bottom: #133753 dashed;
        padding: 0;
    }

    .schedule-right {
        margin-top: 10px;
        border-left: none;
    }

}

/*========================= *** Partnership *** ======================*/
.sponsor-img-xl {
    width: 80%;
}

.partner-tagline {
    font-size: x-large;
}

/*========================= *** Location *** =========================*/
#map {
    color: #3A2D40;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#map li > a {
    border: 0;
    border-bottom: 1px solid #3A2D40;
    color: #3A2D40;
}

#map .active > a {
    background-color: #AAD4F2;
}

#map li > a:hover {
    background-color: #ffc969;
}

#parking-tab img {
    width: 80%;
    max-height: 400px;
}

#map p {
    width: auto;
    font-size: large;
}

#map h3 {
    font-size: smaller;
    padding-top: 20px;
}

#getting-here-title {
    font-size: x-large;
    text-transform: uppercase;
}

.map-border {
    border: 3px solid orange;
    padding: 1em;
    border-radius: 5px;
    background: white;
}

@media screen and (max-width: 768px) {
    .map-spacer {
        pointer-events: none;
        height: 90px;
        width: auto;
    }
}

/*********** SPONSORS ************/
#sponsors {
    background: linear-gradient(#C4E8E4, #ffffff);
}

#sponsors .section-title-container {
    color: #24577C;
}

#sponsors .row {
    margin-bottom: 15%;
}

#sponsors p {
    color: #24577C;
}

.sponsors-container img {
    height: auto;
}

.partner-sponsor img {
    max-width: 65%;
}

.gold-sponsor img {
    max-width: 65%;
    margin-top: 100px;
    margin-bottom: -100px;
}

.silver-sponsor img {
    max-width: 75%;
    margin-bottom: -100px;
}

.bronze-sponsor img {
    max-width: 60%;
}

.inkind-sponsor-lg img {
    max-width: 50%;
}

.inkind-sponsor-sm img {
    max-width: 50%;
}

.sponsors-container {
    width: 100%;
}

.sponsor-image-container {
    display: block;
}

.sponsor-image-container .hide-on-hover, .sponsor-image-container .show-on-hover {
    position: absolute;
    left: 15%;
}

.show-on-hover {
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.hide-on-hover {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.hide-hoverable:hover .hide-on-hover{
    opacity: 0;
}

.hide-hoverable:hover .show-on-hover {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .sponsors-container {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .gold-sponsor img {
        margin-top: 30px;
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 768px) {
    .silver-sponsor img {
        margin-bottom: -50px;
    }
}

/************* FOOTER *************/
.social-media-icon {
    width: 40px;
}

#footer {
    padding: 40px;
    background-color: #333333;
}

#footer p {
    font-size: small;
}

.small-text {
    font-size: x-small;
}
