@charset "UTF-8";
/* ====================== CONSTANTS ==================*/
@font-face {
  font-family: "Cornerstone";
  src: url("../assets/fonts/Cornerstone.ttf");
}
/* ====================== MIXINS ====================*/
/* ====================== GLOBAL STYLES ============*/
.accent {
  color: #AACACC;
  background-color: #AACACC;
}

/* ====================== COMPONENTS ==============*/
body {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: xx-large;
  text-align: center;
}
body .center {
  width: 100%;
  margin: auto;
  text-align: center;
}
body a:hover {
  text-decoration: none;
}
body .section-header {
  font-family: "Cornerstone", sans-serif;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 50%;
}
body .section-header .header-text, body .section-header .faq-header {
  font-size: 6vh;
}
body .section-separator img {
  margin-top: -5%;
  margin-bottom: -2%;
}

header {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../assets/images/background.png");
}

/* ID Based Selectors */
#mlh-trust-badge {
  display: block;
  position: absolute;
  float: right;
  right: 1%;
  top: 0px;
  width: 10%;
  max-width: 100px;
  height: 120px;
  z-index: 1;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  #mlh-trust-badge {
    width: 12%;
    right: 5%;
  }
}

.landing .holder {
  padding-top: 15%;
  height: 100%;
}
.landing .action-box {
  background-color: rgba(170, 202, 204, 0.6);
  border: 5px rgba(224, 224, 224, 0.8);
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  .landing .action-box {
    margin-top: 15px;
  }
}
.landing .header-text, .landing body .section-header .faq-header, body .section-header .landing .faq-header {
  font-family: "Cornerstone", sans-serif;
  font-size: 50px;
  font-size: 4vh;
  max-font-size: 60px;
  margin-top: 25px;
}
@media (max-height: 875px) {
  .landing .header-text, .landing body .section-header .faq-header, body .section-header .landing .faq-header {
    font-size: 35px;
  }
}
@media (min-height: 1500px) {
  .landing .header-text, .landing body .section-header .faq-header, body .section-header .landing .faq-header {
    font-size: 60px;
  }
}
.landing .header-text p, .landing .header-text #footer a, #footer .landing .header-text a, .landing body .section-header .faq-header p, .landing body .section-header .faq-header #footer a, #footer .landing body .section-header .faq-header a, body .section-header .landing .faq-header p, body .section-header .landing .faq-header #footer a, #footer body .section-header .landing .faq-header a {
  text-align: start;
  padding: 0;
  line-height: 100%;
  transition: all 0.4s;
  color: white;
}
.landing .header-text .bottom-bar, .landing body .section-header .faq-header .bottom-bar, body .section-header .landing .faq-header .bottom-bar {
  width: 100%;
  height: 5px;
  transition: all 0.4s;
  background-color: white;
}
.landing .header-hover {
  margin-bottom: 25px;
}
.landing .header-hover:hover {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.landing .header-hover:hover .bottom-bar {
  background-color: #133753;
}
.landing .header-hover:hover p, .landing .header-hover:hover #footer a, #footer .landing .header-hover:hover a {
  color: #133753;
}
.landing .section-separator-first img {
  margin-top: -15%;
}
.landing .cloud-1 {
  width: 30%;
  position: absolute;
  top: 10vh;
  left: 5%;
}
.landing .cloud-2 {
  width: 30%;
  position: absolute;
  top: 20vh;
  right: 2%;
}
.landing .cloud-3 {
  width: 18%;
  position: absolute;
  top: 65vh;
  left: 20%;
}

#about {
  background-color: #103147;
  margin-bottom: 10px;
}
#about p, #about #footer a, #footer #about a {
  font-family: "Lato", sans-serif;
  font-size: 3vh;
  font-weight: 100;
  text-align: left;
  padding: 10px;
  line-height: 200%;
}

.header-bar, .faq-bar, .about-bar {
  margin: 0px 30%;
  height: 5px;
}

.about-bar {
  background-color: #24577C;
}

.faq-bar {
  background-color: #6C88B7;
}

.row {
  margin-bottom: 0px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating:nth-child(2) {
  animation-delay: -1s;
}

.floating:nth-child(3) {
  animation-delay: -2s;
}

@keyframes floating {
  from {
    transform: translate(0px, 0);
  }
  50% {
    transform: translate(15px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}
/* FAQ */
#faqs {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-top: 50px;
  background-color: #194E6B;
}
#faqs #location {
  margin-top: 30px;
}
#faqs #location .title {
  font-size: x-large;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  color: white;
  font-weight: 700;
}
#faqs #location p, #faqs #location #footer a, #footer #faqs #location a {
  font-size: large;
  text-align: left;
  font-weight: 500;
}
#faqs .horizontal-line {
  position: relative;
  background-color: #b7c7ca;
  height: 2px;
  width: 100%;
}
#faqs .question-container {
  margin-top: 10px;
  padding: 0 10%;
}
@media screen and (max-width: 768px) {
  #faqs .question-container {
    padding: 0;
  }
}
#faqs .question + .fa-chevron-right {
  display: inline-block;
  margin-top: 10px;
}
#faqs .question:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: x-large;
  margin-right: 5px;
  content: "";
  color: #C94331;
  transition: all 0.3s;
}
#faqs .open:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#faqs .question {
  color: white;
  text-align: left;
  padding: 10px;
  cursor: hand;
  font-size: x-large;
}
#faqs .FAQanswer {
  color: #aacacc;
  display: none;
  font-weight: lighter;
  font-size: large;
  margin: 0 4%;
  text-align: left;
}
#faqs .FAQanswer a {
  color: #6C88B7;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#faqs .FAQanswer a:hover {
  color: rgba(255, 255, 255, 0.5);
}
#faqs #map-container {
  width: 90%;
  height: 400px;
  margin: auto auto 2vh;
}

/************* FOOTER *************/
#footer {
  padding: 40px;
  background-color: #6FA7B3;
}
#footer .social-media-icon {
  width: 40px;
}
#footer .row {
  width: 100%;
}
#footer p, #footer a {
  font-size: small;
  display: inline-block;
  margin: auto;
}
#footer a {
  color: white;
}
#footer .small-text {
  font-size: x-small;
}

/*# sourceMappingURL=main-compiled.css.map */
